{% load i18n %}
{% load static %}

<tr>
    <td>{{ equipment.id }}</td>
    <td>{{ equipment.type.name }}</td>
    <td>
        <span>{{ equipment.description }}
            {% if perms.harvest.change_equipment %}
            <a href="{% url 'equipment-update' equipment.id %}">
                &nbsp; <i class="fa fa-pencil"></i></a>
            {% endif %}
        </span><br>
    </td>

    <td>

        {% if equipment.owner.person %}
            {{ equipment.owner.person.name }}<br>
            <a href='mailto:{{equipment.owner.person.email}}'>
                {{ equipment.owner.person.email }}</a><br>
            {{ user.person.phone|default:"" }}
        {% elif equipment.owner.organization %}
            {{ equipment.owner.organization.civil_name }}
            <a href='mailto:{{equipment.owner.organization.contact_person.email}}'>
                {{ equipment.owner.organization.contact_person.email }}</a><br>
            {{ equipment.owner.organization.phone|default:"" }}
        {% elif equipment.property %}
            {{ equipment.property.owner.name }}
            {% if equipment.property.owner.email %}
                <br><a href='mailto:{{equipment.property.owner.email}}'>
                {{ equipment.property.owner.email}} </a>
            {% endif %}
            {% if equipment.property.owner.phone %}
                <br>{{ equipment.property.owner.phone}}
            {% endif %}
        {% endif %}

    </td>
    <td>
        <a href="{% url 'property-detail' equipment.property.id %}">
        {{ equipment.property.address }}
        </a>
    </td>
    <td>
        {% if equipment.owner.person %}
         {{ equipment.owner.person.neighborhood.name }}
        {% elif equipment.owner.organization %}
            {{ equipment.owner.organization.neighborhood.name }}
        {% elif equipment.property %}
            {{ equipment.property.neighborhood.name }}
        {% endif %}
    </td>

    <td>
        {% if equipment.shared %}
            <i class="fa fa-check text-success"></i>
        {% else %}
            <i class="fa fa-times text-danger"></i>
        {% endif %}
    </td>
</tr>
