{% extends 'app/list_views/base.html' %}
{% load i18n %}
{% load static %}

{% block table %}

<thead>
    <tr>
        <th class="col-xs-1">#</th>
        <th class="col-xs-2">{% trans "Equipment" %}</th>
        <th class="col-xs-2">{% trans "Description" %}</th>
        <th class="col-xs-2">{% trans "Owner" %}</th>
        <th class="col-xs-2">{% trans "Property" %}</th>
        <th class="col-xs-2">{% trans "Neighborhood" %}</th>
        <th class="col-xs-1">{% trans "Shared" %}</th>
    </tr>
</thead>
    <tbody>
        {% for equipment in data %}

            {% include 'app/list_views/equipment/data_row.html' %}

        {% endfor %}
    </tbody>
</table>

{% endblock table %}
