{% extends 'app/list_views/base.html' %}
{% load i18n %}
{% load static %}

{% block table %}

<thead>
    <tr>
        <th>#</th>
        <th>{% trans "Equipment" %}</th>
        <th>{% trans "Description" %}</th>
        <th style="width: 16%">{% trans "Property" %}</th>
        <th>{% trans "Neighborhood" %}</th>
        <th style="width: 8%">{% trans "Shared" %}</th>
    </tr>
</thead>
    <tbody>
        {% for equipment in data %}

            {% include 'app/list_views/equipment/data_row.html' %}

        {% endfor %}
    </tbody>
</table>

{% endblock table %}
