# .env local environment settings template file
# copy this file to saskatoon/.env and adapt it to your needs
# SECURITY WARNING: keep the .env file out of source control!

# SECURITY WARNING: keep the secret key used in production secret!
# https://docs.djangoproject.com/fr/3.1/ref/settings/#secret-key
SASKATOON_SECRET_KEY='<KEY>'

# SECURITY WARNING: don't run with debug turned on in production!
# https://docs.djangoproject.com/en/dev/ref/settings/#debug
SASKATOON_DEBUG=yes

# Database (sqlite3)
SASKATOON_DB_ENGINE=django.db.backends.sqlite3
SASKATOON_DB_NAME=/your/db/path/sqlite3.db

# Database (mysql)
# SASKATOON_DB_ENGINE=django.db.backends.mysql
# SASKATOON_DB_NAME=saskatoon_dev
# SASKATOON_DB_USER=<user>
# SASKATOON_DB_PASSWORD=<password>
# SASKATOON_DB_HOST=127.0.0.1

# Misc
SASKATOON_TIME_ZONE=UTC

# Email server (optional)
SASKATOON_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
SASKATOON_EMAIL_USE_TLS=True
SASKATOON_EMAIL_HOST=smtp.gmail.com
SASKATOON_EMAIL_PORT=587
SASKATOON_EMAIL_HOST_USER=<gmail_user>
SASKATOON_EMAIL_HOST_PASSWORD=<gmail_password>
SASKATOON_EMAIL_FROM='Saskatoon Team <noreply@domain.org>'

# Tests (optional)
SASKATOON_TEST_WEBDRIVER=Chrome
SASKATOON_URL=http://localhost:8000
SASKATOON_ADMIN_EMAIL=<authuser_email>
SASKATOON_ADMIN_PASSWORD=<authuser_password>


