# .env local environment settings template file
# copy this file to saskatoon/.env and adapt it to your needs
# SECURITY WARNING: keep the .env file out of source control!

# SECURITY WARNING: keep the secret key used in production secret!
# https://docs.djangoproject.com/fr/3.1/ref/settings/#secret-key
export SASKATOON_SECRET_KEY='<KEY>'

# SECURITY WARNING: don't run with debug turned on in production!
# https://docs.djangoproject.com/en/dev/ref/settings/#debug
export SASKATOON_DEBUG=yes

## Database (sqlite3) ##

#export SASKATOON_DB_ENGINE=django.db.backends.sqlite3
#export SASKATOON_DB_NAME=/your/db/path/sqlite3.db


## Database (mysql) ##
#export SASKATOON_DB_ENGINE=django.db.backends.mysql
#export SASKATOON_DB_NAME=saskatoon_dev
#export SASKATOON_DB_USER=<user>
#export SASKATOON_DB_PASSWORD=<password>
#export SASKATOON_DB_HOST=127.0.0.1

## Misc ##
export SASKATOON_TIME_ZONE='America/Toronto'

## Email server (optional) ##
#export SASKATOON_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
#export SASKATOON_EMAIL_USE_TLS=True
#export SASKATOON_EMAIL_HOST=smtp.gmail.com
#export SASKATOON_EMAIL_PORT=587
#export SASKATOON_EMAIL_HOST_USER='<gmail_user>'
#export SASKATOON_EMAIL_HOST_PASSWORD='<gmail_password>'
#export SASKATOON_EMAIL_FROM='Saskatoon Team <noreply@domain.org>'

## Tests (optional) ##
#export SASKATOON_TEST_WEBDRIVER=Chrome
#export SASKATOON_URL=http://localhost:8000
#export SASKATOON_ADMIN_EMAIL=<authuser_email>
#export SASKATOON_ADMIN_PASSWORD=<authuser_password>

## Server/domain (optional) ##
#export SASKATOON_SERVER_IP='123.45.666.7'
#export SASKATOON_DOMAIN_NAME='subdomain.domain.org'
