{% extends "app/base_site.html" %}
{% load i18n %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form action='{% url "login" %}' method="post" >
            {% csrf_token %}
            <h1>{% trans "Login Form" %}</h1>
            <div>
              <input type="email" class="form-control" placeholder="{% trans 'Username' %}" id="id_username" name="username" required="required" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="{% trans 'Password' %}" id="id_password" name="password" required="required"/>
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
            <div>
              <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
              <a class="reset_pass" href='{% url "password_reset" %}'>{% trans "Lost your password?" %}</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <div class="clearfix"></div>
              <br />

              <div>
                <h1>Saskatoon - Les Fruits Défendus</h1>
                <p>©2019 Some Rights Reserved. Saskatoon is Free Software. Free as in Freedom.</p>
              </div>
            </div>
          </form>
        </section>
      </div>

    </div>
{% endblock body %}
