{% extends "app/base_site.html" %}
{% load i18n %}

{% block title %} {% trans "Reset password"%} {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <div>
    <div class="login_wrapper">
      <div class="form login_form">
        <section class="login_content">
          <form method="post" >
            <h1>{% trans "Password reset" %}</h1>
            {% csrf_token %}
            <div>
              <input type="email" class="form-control" placeholder="{% trans 'E-mail' %}" id="id_email" name="email" required />
              <button type="submit" class="btn btn-primary">{% trans "Reset" %}</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <div class="clearfix"></div>
              <br />

              <div>
                <h1>Saskatoon - Les Fruits Défendus</h1>
                <p>©2019 Some Rights Reserved. Saskatoon is Free Software. Free as in Freedom.</p>
              </div>
            </div>
          </form>
        </section>
      </div>

    </div>
  </div>
{% endblock body %}

