{% extends "app/base_site.html" %}
{% load i18n %}

{% block title %} Password reset confirm {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}

  <div>
    <div class="login_wrapper">
      <div class="form login_form">
        <section class="login_content">
          {% if validlink %}
            <form method="post">
            <h1>{% trans "Change password"%}</h1>
             <div>
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">{% trans "Change password"%}</button>
             </div>
            </form>
          {% else %}
            <form method="post" action='{% url "app:password_reset" %}' >
              <h1>{% trans "Invalid link" %}</h1>
              {% csrf_token %}
              <div>
                  <p>
                      {% trans "The password reset link was invalid, possibly because it has already been used."%}
                  </p>
                <button type="submit" class="btn btn-primary">{% trans "New password reset" %}</button>
              </div>
            </form>
          {% endif %}
        </section>
      </div>

    </div>
  </div>

{% endblock body %}
