{% extends "app/base_site.html" %}
{% load i18n %}

{% block title %} Reset complete {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <div>
    <div class="login_wrapper">
      <div class="form login_form">
        <section class="login_content">
        <form action='{% url "login" %}'>
        <h1>{% trans "Reset complete" %}</h1>        
          <p>
            Your password has been set. You may go ahead and login to Saskatoon.
          </p>
          <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
        </form>
        </section>
      </div>
    </div>
  </div>
{% endblock body %}

