{% extends "app/base_site.html" %}

{% load i18n %}

{% block title %} Password reset done {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
    <div class="login_wrapper">
        <section class="login_content">
        <form>
        <h1>{% trans "Email sent" %}</h1>
          <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p>
        </form>
        </section>
    </div>
{% endblock body %}
