{% extends 'app/forms/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block form %}

    {% block header %}
    {% endblock header %}

    <form method="post">
        {% csrf_token %}
        <div class="modelForm">
            {{ form|crispy }}
            <style>
                .modelForm {
                    .invalid-feedback {
                        text-align: left;
                        color: #ff2079;
                        font-size: 1.1em;
                    }
                }
            </style>
        </div>
        <button type="submit" class="btn btn-primary notika-btn-primary">
        {% if save is not None %}{{ save }}{% else %}{% translate 'Save' %}{% endif %}
        </button>
        {% if cancel_url %}
            <button type="button" class="btn btn-warning notika-btn-warning" style="margin-left:1rem;">
                <a href="{{ cancel_url }}">{% translate 'Cancel' %}</a>
            </button>
        {% endif %}
    </form>

{% endblock form %}
