{% extends 'app/base/view.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if error %}
<div class="container mg-t-30">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="text-center alert alert-danger" role="alert">
                {{ error }}
            </div>
        </div>
        <div class="breadcomb-report">
            <div class="text-center mg-t-30">
                <a href="/calendar" class="btn btn-md" role="button">{% translate 'Back to Calendar' %}</a>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="breadcomb-area">
        <div class="container mg-t-30">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-windows"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h1>#{{ harvest.id }}:
                                            {{ harvest.get_public_title }}
                                        </h1>
                                        <h2>
                                            {{ harvest.start_date|date:'l F j, Y' }}<br>
                                            {{ harvest.start_date|date:'f A' }}
                                            {% trans "to" %}
                                            {{ harvest.end_date|date:'f A' }}
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if form.non_field_errors %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center alert alert-warning" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="form-example-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12">
                    <div class="form-example-wrap">
                        <div class="cmp-tb-hd">
                            <h2>{{ title }}</h2>
                        </div>
                        <div class="form-example-int">
                            <div class="form-group">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-primary">
                                        {% trans 'Send' %}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}
