{% extends "app/base_site.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}


{% block title %} {% trans "Calendar" %} {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <!-- FullCalendar -->
  <link href="{% static 'vendors/fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/fullcalendar/dist/fullcalendar.print.css' %}" rel="stylesheet" media="print">

{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{% trans "Harvest calendar" %} <small> {% trans "Choose a pick!" %}</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                        <strong>{{ message }}</strong>
                      </div>
                   {% endfor %}
                {% endif %}
              <div id='calendar'></div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- harvest open modal -->
    <div id="OpenModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title text-center" id="myModalLabel2"><span id="title"></span></h4>
          </div>
          <div class="modal-body">

         <!-- top tiles -->

          <div class="row tile_count">
            <div class="col-md-6 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-clock-o"></i> {% trans "Schedule" %}</span>
              <div class="count" id="start_date_str"></div>
              <span class="count_bottom"><i id="start_time"></i><i> {% trans "to" %} </i><i id="end_time"></i></span>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Pickers required</span>
              <div class="count" id="nb_required_pickers"></div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Requests so far</span>
              <div class="count green" id="nb_requests"></div>
            </div>
          </div>
          <!-- /top tiles -->
             <blockquote>
                <p id="description"></p>
             </blockquote>

            <div id="testmodal2" style="padding: 5px 20px;">
                {% if user.is_authenticated %}
                   <div class="row">
                     <a id="harvest_url" class="btn btn-default " href="">{% trans "View harvest details" %}</a>
                   </div>
                {% endif %}

                <hr>
                <h4>{% trans "Request to participate" %}</h4>
                <form id="form_request" method="post" action="">
                    {% csrf_token %}
                    {% bootstrap_form form_request %}
                    <input type="hidden" name="harvest_id" value="" id="harvest_id" />
                    {% buttons %}
                        <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary antosubmit2">{% trans "Send" %}</button>
                    {% endbuttons %}
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="fc_edit" data-toggle="modal" data-target="#OpenModal"></div> -->

    <!-- /harvest open modal -->

    <!-- harvest closed modal -->
    <div id="ClosedModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title text-center" id="myModalLabel2"><span id="title_closed"></span></h4>
          </div>
          <div class="modal-body">

         <!-- top tiles -->

          <div class="row tile_count">
            <div class="col-xs-6 tile_stats_count">
             <span class="count_top"><i class="fa fa-calendar-check-o"></i> Status</span>
             <span id="status"></span>
            </div>
            <div class="col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>{% trans "Total harvested" %}</span>
              <div class="count" id="total_harvested"></div>
            </div>
          </div>
          <!-- /top tiles -->
             <blockquote>
                <p id="description_closed"></p>
             </blockquote>

            <div id="testmodal2" style="padding: 5px 20px;">
                {% if user.is_authenticated %}
                   <div class="row">
                     <a id="harvest_url_closed" class="btn btn-default " href="">{% trans "View harvest details" %}</a>
                   </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- /harvest closed modal -->


  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- FullCalendar -->
  <script src="/static/vendors/moment/min/moment.min.js"></script>
  <script src="/static/vendors/fullcalendar/dist/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                events: '/jsoncal/',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay,mylist'
                },
                views: {
                  mylist: {
                    type: 'listWeek',
                    duration: { days: 30 },
                    buttonText: 'list'
                  }
                },
                eventLimit: true,
                eventClick:  function(event, jsEvent, view) {
                    if (event.status==="Succeeded"||event.status==="Cancelled"||event.status==="Ready"){
                        if (event.status==="Succeeded"){
                            $('#status').html('<div class="count green">'+event.status+'</div>');
                        } else if (event.status==="Cancelled"){
                            $('#status').html('<div class="count red">'+event.status+'</div>');
                        } else {
                            $('#status').html('<div class="count">'+event.status+'</div>');
                        }
                        $('#title_closed').html(event.title);
                        $('#total_harvested').html(event.total_harvested);
                        $('#description_closed').html(event.description);
                        $('#harvest_url_closed').attr('href', "/harvest/"+event.harvest_id);
                        $('#ClosedModal').modal();
                    } else {
                        $('#title').html(event.title);
                        $('#harvest_id').attr('value', event.harvest_id);
                        $('#description').html(event.description);
                        $('#trees').html(event.trees);
                        $('#nb_required_pickers').html(event.nb_required_pickers);
                        $('#nb_requests').html(event.nb_requests);
                        $('#start_date_str').html(event.start_date_str);
                        $('#start_time').html(event.start_time);
                        $('#end_time').html(event.end_time);
                        $('#harvest_url').attr('href', "/harvest/"+event.harvest_id);
                        $('#form_request').attr('action', event.url);
                        $('#OpenModal').modal();
                    }
                    return false;
                }
            });
        });
    </script>
{% endblock javascripts %}
