{% load i18n %}


<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle" ><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        {% if user.is_authenticated %}
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img src="/static/images/user.png" alt=""> <i class="fa fa-caret-down"></i>
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          <li><a href="/admin/password_change/"> {% trans "Change password" %}</a></li>
          <li><a href="/logout/?next=/"><i class="fa fa-sign-out pull-right"></i> {% trans "Logout" %}</a></li>
        </ul>
      </li>
      {% else %}
      <li>
          <a href='/login'>
          <!-- <a href='https://{{ request.META.HTTP_HOST }}/login'> -->
          <i class="fa fa-sign-in fa-fw"></i>
          {% trans "Login" %}
        </a>
      </li>
      {% endif %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <form action="/i18n/setlang/" method="post" style="display: none" id="change_language_form">
            {% csrf_token %}
            <input type="hidden" value="" name="language" id="language" />
          </form>
          {% trans "Language"  %}</i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
              <a lang_code="{{ language.code }}" class="change_language">{{ language.name_local|capfirst }} </a>
            {% endfor %}
          </li>
        </ul>
      </li>

    <!--
      <li role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-envelope-o"></i>
          <span class="badge bg-green">6</span>
        </a>
        <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <div class="text-center">
              <a>
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
        </ul>
      </li> -->
    </ul>
  </nav>
</div>
