{% load i18n %}
{% load static %}
<div class="data-table-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Pickers requests
                            <a href="/participation/create?hid={{ harvest.id }}" class="btn btn-xs"><i class="fa fa-plus"></i></a>
                        </h2>
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table compact">
                            <tr>
                                <th>{% trans "Contact" %}</th>
                                <th style="width: 7%">{% trans "# pickers" %}</th>
                                <th style="width: 9%">{% trans "Status" %}</th>
                                <th style="width: 10%">{% trans "Requested on" %}</th>
                                <th style="width: 10%">{% trans "Accepted on" %}</th>
                                <th style="width: 8%">{% trans "Experience" %}</th>
                                <th>{% trans "Msg from picker" %}</th>
                                <th>{% trans "Msg from pick leader" %}</th>
                                <th>{% trans "Manage" %}</th>
                            </tr>
                            {% for r in requests %}

                                {% include 'app/harvest_details/data_row.html' %}

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
