{% load static %}
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="sale-statistic-inner notika-shadow mg-tb-30">
        <div class="contact-hd search-hd-eg">
                <h2>Fruit distribution
                    <a href="/harvest_yield/create?h={{ harvest.id }}" class="btn btn-xs"><i class="fa fa-plus"></i></a>
                </h2>
            <div class="search-eg-table">
                <table class="table">
                    <tbody>
                    {% for d in distribution %}
                    <tr>
                        <td class="col-md-6">{{ d.recipient }}</td>
                        <td class="col-md-4">{{ d.tree.fruit_name }}</td>
                        <td class="col-md-2">{{ d.total_in_lb }}</td>
                        <td>
                            <a href="/harvest_yield/update/{{ d.id }}?h={{ harvest.id }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
