{% load i18n %}
{% load static %}
{% get_current_language as LANG %}

<tr>
    <td>
        {% if perms.member.delete_actor %}
            <small>
                <a href="{% url 'admin:member_actor_delete' org.actor_id %}"
                   onclick="return confirm('{% trans "Are you really sure you want to delete this actor?" %}');">
                    <i class="fa fa-trash text-danger"></i>
                </a>
            &nbsp;
            </small>
        {% endif %}
        {{ org.actor_id }}
    </td>
    <td>
        <span>
            {% include 'app/list_views/organization/civil_name_modal.html' %}
            {% if perms.member.change_actor %}
                &nbsp;
                <small><a href="{% url 'organization-update' org.actor_id %}" title="edit">
                    <i class="fa fa-pencil"></i>
                </a></small>
            {% endif %}
        </span>
    </td>

    <td>
        <span>
            {% include 'app/list_views/organization/contact_modal.html' %}
        {% if org.contact_person and perms.member.change_person %}
            &nbsp;
            <small><a href="{% url 'person-update' org.contact_person.actor_id %}" title="edit">
                <i class="fa fa-pencil"></i>
            </a></small>
        {% endif %}
        </span>

    </td>

    <td>
        {% include 'app/list_views/organization/beneficiary_modal.html' %}
    </td>
    <td>
        {% include 'app/list_views/organization/equipment_modal.html' %}
    </td>

    <td>{{ org.neighborhood.name }}</td>
</tr>
