{% load i18n %}
{% load static %}

{% if org.is_equipment_point %}
    {% if org.equipment_description %}
        <dialog closedby="any" id="{{org.actor_id}}-equipment-point-dialog">
            <h2>{{org.civil_name}}</br></h2>
            <p>{% trans 'This organization is an equipment point' %}</p>
            <blockquote>{{org.equipment_description}}</blockquote>
            {% with actor_id=org.actor_id %}
                {% with equipment=org.equipment %}
                    {% include 'app/detail_views/organization/equipment_table.html' %}
                {% endwith %}
            {% endwith %}
        </dialog>
        <button
            commandFor="{{org.actor_id}}-equipment-point-dialog"
            command="show-modal"
            class="btn btn-outline-primary"
        >
            <i class="fa fa-check" style="color: #007AFF;"></i>
            Equipment Point
        </button>
    {% endif %}
{% else %}
    <button class="btn" disabled>
    <i class="fa fa-times text-danger"></i>
    {% trans 'No Equipment' %}
    </button>
{% endif %}