{% extends 'app/list_views/base.html' %}
{% load i18n %}
{% load static %}

{% block map %}
    <script type="module">import "{% static 'js/map/main.js' %}"</script>
    <leaflet-map style="height: 60vh; width: 40vw;">
        {% for org in data %}
             <leaflet-marker lat="{{ org.latitude }}" long="{{ org.longitude }}">
                <h3>{{ org.civil_name }}</h3>
                <p>{{ org.description }}</p>
                <p><a href="{% url 'organization-detail' org.actor_id %}">See all details</a></p>
            </leaflet-marker>
        {% endfor %}
    </leaflet-map>

{% endblock map %}

{% block table %}

    {% include 'app/list_views/organization/modal.html' %}

    <thead>
        <tr>
            <th class="col-xs-1">#</th>
            <th class="col-xs-2">{% trans "Organization" %}</th>
            <th class="col-xs-1">{% trans "Contact" %}</th>
            <th class="col-xs-1">{% trans "Beneficiary" %}</th>
            <th class="col-xs-1">{% trans "Equipment" %}</th>
            <th class="col-xs-2">{% trans "Borough" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for org in data %}
            {% include 'app/list_views/organization/data_row.html' %}
        {% endfor %}
    </tbody>

{% endblock table %}

