{% extends "app/base_site.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block head %}
    {{ block.super }}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" media="screen" href="/static/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{% trans "Property record" %}</h3>
        </div>
      </div>
      <div class="clearfix"></div>
        <div>
          <p>{% trans "Please enter data for your property below. Your name, address and contact information will remain private in our database and will not be made public." %}</p>
        </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                <button type="reset" class="btn btn-danger">{% trans "Reset" %}</button>
                {% endbuttons %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    {{ form.media.js }}

    <!-- DatePicker JavaScript -->
    <script type="text/javascript" src="/static/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#id_approximative_maturity_date').datetimepicker({sideBySide: true, format: 'YYYY-MM-DD'});
        });
    </script>
{% endblock %}
