{% extends "app/base_site.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load is_person %}

{% block title %} {% trans "Property details" %} {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

          <div class="row x_title">
            <div class="col-md-12">
              <h3>{{ property }}<br />
              </h3>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div id="myCarousel" class="carousel slide container" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
              {% if property.images.all %}
                 {% for image in property.images.all %}
                     {% if forloop.first %}
                     <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
                     {% else %}
                     <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}"></li>
                     {% endif %}
                 {% endfor %}
              {% else %}
                 <li data-target="#myCarousel" data-slide-to="" class="active"></li>
              {% endif %}
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
              {% if property.images.all %}
                {% for image in property.images.all %}
                   {% if forloop.first %}
                   <div class="item active">
                       <img class="img-responsive" src="/media/{{image.image}}" alt="Property" style="margin:auto;width:100%;" />
                   </div>
                   {% else %}
                   <div class="item">
                       <img class="img-responsive" src="/media/{{image.image}}" alt="Property" style="margin:auto;width:100%;" />
                   </div>
                   {% endif %}
                {% endfor %}
              {% else %}
                <div class="item active">
                  <img class="img-responsive" style="margin:auto;width:100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/No_image_available_600_x_450.svg/500px-No_image_available_600_x_450.svg.png" alt="No image available">
                </div>
              {% endif %}
              </div>

              <!-- Left and right controls | provide the gradient from the center to dark sides-->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              {% if property.images.all %}
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              {% endif %}
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
              {% if property.images.all %}
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              {% endif %}
              </a>
            </div>
          </div>

          <!-- Image modal -->
          <div class="modal fade" id="AddImageModal" tabindex="-1" role="dialog" aria-labelledby="addImageLabel">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal">x</button>
                          <h4 class="modal-title" id="addImageLabel">{% trans "New image" %}</h4>
                      </div>
                      <div class="modal-body">
                          <form method="post" enctype="multipart/form-data" action="{% url 'harvest:property_add_image' property.id %}">
                              {% csrf_token %}
                              {% bootstrap_form form_image %}
                              {% buttons %}
                                  <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                              {% endbuttons %}
                          </form>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-8 col-sm-6 col-xs-12 bg-white">
            <div class="x_title">
              <h2>{% trans "About this property" %}</h2>
              <a class="btn btn-xs btn-warning pull-right" href='{% url "harvest:property_update" property.id %}'>
                <i class="fa fa-pencil"></i> {% trans "Edit Property" %}
              </a>
              <!-- Add button -->
              <a class="btn btn-xs btn-default pull-right" data-toggle="modal" data-target="#AddImageModal">
                  <i class="fa fa-plus"></i> {% trans "Add an image" %}
              </a>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              {% if property.additional_info %}
                <p>{{ property.additional_info }}</p>
              {% endif %}
              {% if property.trees.all %}
              <p><strong>{% trans "Trees" %} :</strong></p>
              <ul>
                {% for tree in property.trees.all %}
                <li>{{ tree.fruit_name }}</li>
                {% endfor %}
              </ul>
              {% else %}
                {% trans "No tree in this property." %}
              {% endif %}
              <p><strong>{% trans "Trees location" %} :</strong> {{ property.trees_location }}</p>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                {% if property.is_active %}
                    {% if property.pending %}
                      <p style="margin:10px;"><i class="fa fa-warning fa-lg text-warning"></i> {% trans "Pending validation" %}</p>
                    {% else %}
                      <p style="margin:10px;"><i class="fa fa-check fa-lg text-success"></i> {% trans "Validated" %}</p>
                    {% endif %}
                    {% if property.authorized is None %}
                      <p style="margin:10px;"><i class="fa fa-warning fa-lg text-warning"></i> {% trans "Not yet authorized" %}</p>
                    {% elif property.authorized %}
                      <p style="margin:10px;"><i class="fa fa-check fa-lg text-success"></i> {% trans "Authorized for the current season" %}</p>
                    {% else %}
                      <p style="margin:10px;"><i class="fa fa-close fa-lg text-danger"></i> {% trans "Not authorized for this season" %}</p>
                    {% endif %}
                {% else %}
                  <p style="margin:10px;"><i class="fa fa-close fa-lg text-danger"></i> {% trans "Inactive" %}</p>
                {% endif %}
                {% if property.harvest_every_year %}
                  <p style="margin:10px;"><i class="fa fa-check fa-lg text-success"></i> {% trans "Produces fruits every year" %}</p>
                {% else %}
                  <p style="margin:10px;"><i class="fa fa-warning fa-lg text-warning"></i> {% trans "Does not produce fruits every year" %}</p>
                {% endif %}
                {% if property.avg_nb_required_pickers %}
                  <p style="margin:10px;"><i class="fa fa-check fa-lg text-success"></i> {{ property.avg_nb_required_pickers }} {% trans "pickers needed" %}</p>
                {% else %}
                  <p style="margin:10px;"><i class="fa fa-warning fa-lg text-warning"></i> {% trans "No number of pickers specified" %}</p>
                {% endif %}
                {% if property.ladder_available %}
                  <p style="margin:10px;"><i class="fa fa-check fa-lg text-success"></i> {% trans "Ladder available" %}</p>
                  {% if property.ladder_available_for_outside_picks %}
                    <p style="margin:10px;"><i class="fa fa-check fa-lg text-success"></i> {% trans "Ladder available for outside picks" %}</p>
                  {% endif %}
                {% else %}
                  <p style="margin:10px;"><i class="fa fa-close fa-lg text-danger"></i> {% trans "No ladder available" %}</p>
                {% endif %}
                {% if property.public_access %}
                  <p style="margin:10px;"><i class="fa fa-check fa-lg text-success"></i> {% trans "Publicly accessible" %}</p>
                {% else %}
                  <p style="margin:10px;"><i class="fa fa-close fa-lg text-danger"></i> {% trans "Not publicly accessible" %}</p>
                {% endif %}
                {% if property.neighbor_access %}
                  <p style="margin:10px;"><i class="fa fa-check fa-lg text-success"></i> {% trans "Access to neighbors terrain" %}</p>
                {% else %}
                  <p style="margin:10px;"><i class="fa fa-close fa-lg text-danger"></i> {% trans "No permission to access neighbors terrain" %}</p>
                {% endif %}
                {% if property.compost_bin %}
                  <p style="margin:10px;"><i class="fa fa-check fa-lg text-success"></i> {% trans "Compost bin closeby" %}</p>
                {% else %}
                  <p style="margin:10px;"><i class="fa fa-close fa-lg text-danger"></i> {% trans "No compost bin closeby" %}</p>
                {% endif %}
            </div>

          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">
      {% if property.pending %}
      <div class="col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2>{% trans "Contact information" %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
                <div class="panel-body">
                   {% if user.is_superuser %}
                    <strong>{% trans "Name" %} : </strong>{{ property.pending_contact_name }}<br>
                    <strong>{% trans "Phone" %} : </strong>{{ property.pending_contact_phone }}<br>
                    <strong>{% trans "Email" %} : </strong>{{ property.pending_contact_email }}<br><br>
                    {% trans "Once this contact is validated, make sure to:" %}
                    <ul> 
                        <li> {% trans "Add a new Person/Auth User with the provided information"%} </li>
                        <li> {% trans "Edit this property:"%} </li>
                        <ul>
                            <li> {% trans "Associate the newly created Person as the Property Owner"%} </li>
                            <li> {% trans "Set the property 'pending' status to False" %} </li>
                        </ul>
                    </ul>
                   {% else %}
                     {% trans "You should only contact validated properties." %}
                   {% endif %}
                </div>
          </div>
        </div>
      </div>

      {% else %}

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320">
          <div class="x_title">
            <h2>{% trans "Owner information" %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
                <div class="panel-body">
                    {% with property.owner|is_person as is_person %}
                        {% if is_person == True %}
                            <p class="lead">{{ property.owner.person.name }}</p>
                            {% if property.owner.person.address %}
                                    {% trans "Personal address" %} : {{ property.owner.person.address }}.<br>
                            {% endif %}
                            {% trans "Phone" %} : {{ property.owner.person.phone }}<br>
                            {% trans "Email" %} : {{ property.owner.person.email }}<br>
                            {% trans "Preferred language" %} : {{ property.owner.person.language|default:" ? " }}<br>
                                {% if property.owner.person.comments %}
                                    {% trans "Additional comments" %} : <i>{{ property.owner.person.comments }}</i><br>
                                {% endif %}
                        {% elif is_person == False %}
                            <strong>{{ property.owner.organization.name }}</strong><br>
                            <strong>{% trans "Description" %} : </strong>{{ property.owner.organization.description }}<br>
                            <strong>{% trans "Contact person" %} : </strong>{{ property.owner.organization.contact_person }}<br>
                            <strong>{% trans "Address" %} : </strong>{{ property.owner.organization.address }}<br>
                            <strong>{% trans "Phone" %} : </strong>{{ property.owner.organization.phone }}<br>
                            <strong>{% trans "Language" %} : </strong>{{ property.owner.organization.contact.language|default:"" }}<br>
                            {% endif %}
                    {% endwith %}
                </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="x_panel tile overflow_hidden">
          <div class="x_title">
            <h2>{% trans "Harvests at this property" %}</h2>
              <a class="btn btn-xs btn-success pull-right" href="{% url "harvest:harvest_create" property.id %}">
                  <i class="fa fa-plus"></i> {% trans "Add a harvest" %}
              </a>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <!-- start project list -->
              <table id="datatable-responsive" class="table table-striped projects dt-responsive">
                <thead>
                  <tr>
                    <th style="width: 1%">#</th>
                    <th style="width: 20%">{% trans "Pickleader" %}</th>
                    <th>{% trans "Tree" %}</th>
                    <th style="width: 20%">{% trans "Pickers" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Date" %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for harvest in property.get_harvests %}
                  <tr onMouseOver="this.style.cursor='pointer'" onclick="document.location='{% url "harvest:harvest_detail" harvest.id %}';">
                    <td>{{ harvest.id }}</td>
                    <td>
                      {% if harvest.pick_leader != None %}
                        <p>{{ harvest.pick_leader }}</p>
                      {% else %}
                        <span class="label label-danger">{% trans "missing leader" %}</span>
                      {% endif %}
                    </td>
                    <td>
                      {% for tree in harvest.trees.all %}
                      <div class="text-nowrap">{{ tree }}</div>
                      {% endfor %}
                    </td>
                    <td>
                      <ul class="list-inline">
                      {% if harvest.pick_leader %}
                        <li>
                          <a href="#" data-toggle="tooltip" data-placement="top" title="{{ harvest.pick_leader|default:'' }} [{% trans 'Pickleader' %}]">
                            <img src="/static/images/user.png" class="avatar" alt=" {{ harvest.pick_leader|default:'' }} [{% trans 'Pickleader' %}]">
                          </a>
                        </li>
                      {% endif %}
                      {% for p in harvest.get_pickers.all %}
                        <li>
                          <a href="#" data-toggle="tooltip" data-placement="top" title="{{ p.picker }}">
                            <img src="/static/images/user.png" class="avatar" alt="{{ p.picker }}">
                          </a>
                        </li>
                      {% endfor %}
                      </ul>
                    </td>
                    <td class="project_progress">
                      {% if harvest.status == "Succeeded" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="100"></div>
                        </div>
                        <small>{% trans "Succeeded" %}</small>
                      {% endif %}
                      {% if harvest.status == "Cancelled" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="100"></div>
                        </div>
                        <small>{% trans "Cancelled" %}</small>
                      {% endif %}
                      {% if harvest.status == "Orphan" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="0"></div>
                        </div>
                        <small>{% trans "Orphan" %}</small>
                      {% endif %}
                      {% if harvest.status == "Adopted" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="20"></div>
                        </div>
                        <small>{% trans "Adopted" %}</small>
                      {% endif %}
                      {% if harvest.status == "To-be-confirmed" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="40"></div>
                        </div>
                        <small>{% trans "To be confirmed" %}</small>
                      {% endif %}
                      {% if harvest.status == "Date-scheduled" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="60"></div>
                        </div>
                        <small>{% trans "Scheduled" %}</small>
                      {% endif %}
                      {% if harvest.status == "Ready" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="80"></div>
                        </div>
                        <small>{% trans "Ready" %}</small>
                      {% endif %}
                    </td>
                    <td>
                      <div class="text-nowrap">{{ harvest.start_date|date:"Y-m-d" }}</div>
                      <small>{{ harvest.start_date|date:"G:i" }}</small>
                    </td>
                    <td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- end project list -->
          </div>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

{% endblock javascripts %}
