{% extends "app/base_site.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %} {% trans "Properties" %}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{% trans "Properties" %}</h3>
        </div>

        <div class="title_right">
          <div class="form-group pull-right top_search">
            <a href='/harvest/properties/create' class="btn btn-success btn-xs"><i class="fa fa-plus"></i> {% trans "Add new" %}</a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <!-- start project list -->
              <table id="datatable-buttons" class="table table-striped projects dt-responsive">
                <thead>
                  <tr>
                    <th style="width: 1%">#</th>
                    <th style="width: 20%">{% trans "Property" %}</th>
                    <th>{% trans "Neighborhood" %}</th>
                    <th style="width: 20%">{% trans "Status" %}</th>
                    <th>{% trans "Tree" %}</th>
                    <th style="width: 15%">{% trans "Picks" %}</th>
                    <th>{% trans "Last pick" %}</th>
                    <th>{% trans "Action" %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for property in properties.qs %}
                  <tr>
                    <td>{{ property.id }}</td>
                    <td>
                      {{ property }}<br />
                    </td>
                    <td>
                      {{ property.neighborhood }}<br />
                    </td>
                    <td>
                        <ul class="list-unstyled">
                           {% if property.is_active %}
                            {% if property.pending %}
                              <span class="label label-warning">{% trans "pending" %}</span>
                            {% else %}
                              <span class="label label-success">{% trans "validated" %}</span>
                            {% endif %}
                            {% if property.authorized is None %}
                              <span class="label label-warning">{% trans "not yet authorized" %}</span>
                            {% elif property.authorized %}
                              <span class="label label-success">{% trans "authorized" %}</span>
                            {% else %}
                              <span class="label label-danger">{% trans "unauthorized" %}</span>
                            {% endif %}
                          {% else %}
                            <span class="label label-danger">{% trans "inactive" %}</span><br />
                          {% endif %}
                          {% if property.owner.person.about %}
                            <li><i class="fa fa-envelope"></i> {{ property.owner.person.email }}</li>
                          {% endif %}
                        </ul>
                    </td>
                    <td>
                      {% for tree in property.trees.all %}
                      <div class="text-nowrap">{{ tree }}</div>
                      {% endfor %}
                    </td>
                    <td>
                      <ul class="list-inline">
                      {% for harvest in property.get_harvests.all %}
                        <li>
                          <a href='{% url "harvest:harvest_detail" harvest.id %}' data-toggle="tooltip" data-placement="top" title="{{ harvest }}">
                            {% if harvest.status == "Succeeded" %}
                              <i class="fa fa-shopping-basket fa-lg text-success" style="padding-top:7px;"></i>
                            {% elif harvest.status == "Cancelled" %}
                              <i class="fa fa-shopping-basket fa-lg text-danger" style="padding-top:7px;"></i>
                            {% else %}
                              <i class="fa fa-shopping-basket fa-lg text-warning" style="padding-top:7px;"></i>
                            {% endif %}
                          </a>
                        </li>
                      {% endfor %}
                      </ul>
                    </td>
                    <td><a href="/harvest/{{property.get_last_succeeded_harvest.id}}">{{ property.get_last_succeeded_harvest.start_date|date:"Y-m-d" }}</a></td>
                    <td>
                      <a href="{% url 'harvest:property_detail' property.id %}" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                      <a href='{% url "harvest:property_update" property.id %}' class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                      <!--<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> </a>-->
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- end project list -->
            </div>
          </div>
        </div>

        <!-- Filter -->
        <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <form role="form">
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end filter -->

      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}
