{% extends "app/base_site.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block head %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="jumbotron">
             <h1>{% trans "Thank you!" %} </h1>
             <p>{% trans "If you authorized a harvest this season, please read the " %}<a  href="https://core.lesfruitsdefendus.org/s/bnKoECqGHAbXQqm">{% trans "Tree Owner Welcome Notice" %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
