{% load i18n %}
{% load static %}
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="fa fa-gift"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h1>
                                        {{ organization.civil_name }}
                                    </h1>
                                    <h2>
                                        {{ organization.neighborhood.name }}
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="breadcomb-report">
                                {% if perms.member.change_organization %}
                                    <a href="{% url 'beneficiary-update' organization.actor_id %}">
                                        <button title="Edit Organization" class="btn">
                                            {% trans "Edit Organization" %}</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
