{% extends 'app/base/view.html' %}
{% load i18n %}
{% load static %}
{% load auth_users %}

{% block content %}

{% include 'app/detail_views/organization/breadcomb.html' %}

<div class="search-engine-area mg-t-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        {% include 'app/detail_views/organization/contact.html' %}
        {% include 'app/detail_views/organization/address.html' %}
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
        {% include 'app/detail_views/organization/about.html' %}
        {% include 'app/detail_views/organization/features.html' %}
      </div>
    </div>
  </div>
</div>

{% if is_equipment_point %}
<!-- FIXME: table does not render some elements surrounding the data e.g. search bar -->
    {% include 'app/detail_views/organization/equipment_table.html' %}
    {% include 'app/detail_views/organization/harvest_table.html' %}
{% endif %}

{% endblock content %}
