.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.tile_count .tile_stats_count {
    overflow: none;
}

.fc-day-grid-event > .fc-content {
   white-space: normal;
   overflow: hidden;
}

.label-check {
   border:1px solid #74879C;
   background:#FFF;
   color:#74879C;
}

.l_content {
   margin-bottom: 1.5em;
   font-size: 1.2em;
}

.unlogged .top_nav,
.unlogged footer,
.unlogged .right_col {
   margin-left: 0px !important;
}

.unlogged .col-sm-4 {
   min-height: 90vh;
}

.unlogged .toggle {
   display: none;
}
