{% extends 'app/list_views/base.html' %}
{% load i18n %}
{% load static %}

{% block table %}

<thead>
    <tr>
        <th class="col-xs-1">{% trans "Harvest" %}</th>
        <th class="col-xs-1">{% trans "Date/Time" %}</th>
        <th class="col-xs-2">{% trans "Status" %}</th>
        <th class="col-xs-2">{% trans "Property" %}</th>
        <th class="col-xs-1">{% trans "Borough" %}</th>
        <th class="col-xs-1">{% trans "Tree(s)" %}</th>
        <th class="col-xs-1">{% trans "Equipment Point" %}</th>
        <th class="col-xs-2">{% trans "Pick Leader" %}</th>
        <th class="col-xs-1">{% trans "Volunteers" %}</th>
    </tr>
</thead>
<tbody>
    {% for harvest in data %}
        {% include 'app/list_views/harvest/data_row.html' %}
    {% endfor %}
</tbody>

{% endblock table %}
