{% extends 'app/list_views/base.html' %}
{% load i18n %}
{% load static %}

{% block table %}

<thead>
    <tr>
        <th class="col-xs-1">{% trans "Harvest" %}</th>
        <th class="col-xs-2">{% trans "Date/Time" %}</th>
        <th class="col-xs-3">{% trans "Property" %}</th>
        <th class="col-xs-1">{% trans "Neighborhood" %}</th>
        <th class="col-xs-1">{% trans "Tree(s)" %}</th>
        <th class="col-xs-1">{% trans "Status" %}</th>
        <th class="col-xs-2">{% trans "Pick Leader" %}</th>
    </tr>
</thead>
    <tbody>
        {% for harvest in data %}
            {% include 'app/list_views/harvest/data_row.html' %}
        {% endfor %}
    </tbody>
</table>

{% endblock table %}
