{% load i18n %}
{% load static %}
{% load get_fruit_name_icon %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="sale-statistic-inner notika-shadow mg-tb-30">
                <div class="curved-inner-pro">
                    <div class="curved-ctn">
                        <h2>{% trans "Public announcement" %}</h2>
                        <hr><br>
                        <h5>{% for tree in harvest.trees %} {{ tree.name }} {{ tree.fruit_name|get_fruit_name_icon }},{% endfor %}
                            {{ harvest.property.neighborhood.name }}</h5>
                        <br>
                        <h4>{{harvest_date}}</h4>
                        <h5>{{harvest_start}} {% trans "to" %} {{harvest_end}}</h5>
                        <br>
                        <p>{{ harvest.about|safe }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="sale-statistic-inner notika-shadow mg-tb-30">
                <div class="contact-hd search-hd-eg">
                    <h2>Property information
                    {% if perms.harvest.change_property %}
                        &nbsp;
                        <a href="/property/update/{{harvest.property.id}}"
                                title="edit">
                            <i class="fa fa-pencil"></i>
                        </a>
                    {% endif %}
                    </h2>
                </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{% trans "Adresss" %}</td>
                            <td class="text-right">
                                <h4>{{ harvest.property.address }}</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans "Contact" %}</td>
                            <td class="text-right">
                                <h4>{{ property.owner }}</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans "Phone" %}</td>
                            <td class="text-right">
                                {% if property.owner.person %}
                                    <h4>{{ property.owner.person.phone }}</h4>
                                {% elif property.owner.organization %}
                                    <h4>{{ property.owner.organization.phone }}</h4>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>{% trans "Email" %}</td>
                            <td class="text-right">
                                {% if property.owner.person %}
                                    <h4>{{ property.owner.person.email }}</h4>
                                {% elif property.owner.organization %}
                                    <h4>{{ property.owner.organization.contact_person.email }}</h4>
                                {% endif %}
                            </td>
                        </tr>

                        {% if property.owner.person %}
                            {% if property.owner.person.language != 'None' %}
                            <tr>
                                <td>{% trans "Language" %}</td>
                                <td class="text-right">
                                    <h4>{{ property.owner.person.language }}</h4>
                                </td>
                            </tr>
                            {% endif %}

                            {% if property.owner.person.comments %}
                            <tr>
                                <td>{% trans "Comments" %}</td>
                                <td class="text-right">
                                    <h4>{{ property.owner.person.comments }}</h4>
                                </td>
                            </tr>
                            {% endif %}
                        {% endif %}

                    </table>
            </div>
        </div>


    </div>
</div>
<!-- End Realtime sts area-->
