{% load i18n %}
{% load static %}
{% load auth_users %}

{% get_current_language as LANG %}
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="fa fa-shopping-basket"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h1>#{{ id }}:

                                        {% for t in trees %}
                                            {% if LANG == "en" %}{{ t.name_en }}{% else %}{{ t.name_fr }}{% endif %} {{ t.fruit_icon|default:"" }},
                                        {% endfor %}
                                        {{ property.address }},
                                        {{ property.neighborhood }}
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="breadcomb-report">
                                {% if user|is_core_or_admin or user|is_pickleader:id %}
                                <a href="{% url 'harvest-update' id %}">
                                    <button data-placement="left" title="Edit harvest" class="btn">

                                       <i class="fa fa-pencil"></i>&nbsp;
                                       {% trans "Edit Harvest" %}
                                    </button>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
