{% load i18n %}
{% load static %}
{% load auth_users %}
<section>
    <header>
        <h2>{% trans "Comments" %}</h2>
    </header>
    <div class="card-box mg-t-30">
        <div class="chat-conversation">
            <div class="widgets-chat-scrollbar">
                <ul class="conversation-list ">
                    <table>
                        {% for comment in comments %}
                            <tr>
                                <td style="text-align: right;">
                                    <div style="margin-bottom: 1em;">
                                        <b>{{ comment.author.name }}</b>
                                        <br>
                                        <small>{{ comment.author.email }}</small>
                                        <br>
                                        <small>
                                        {% if comment.date_updated %}
                                            {{ comment.date_updated }} ({% trans "edited" %})
                                        {% else %}
                                            {{ comment.date_created }}
                                        {% endif %}
                                        </small>
                                    </div>
                                </td>
                                <td>
                                    <div class="conversation-text" style="margin-bottom: 1em;">
                                        <div class="ctext-wrap">
                                            <p>{{ comment.content }}</p>
                                        </div>
                                    </div>
                                    {% if comment.author.id == user.id or user|is_admin %}
                                        <a href="{% url 'comment-update' comment.id %}"
                                           class="btn btn-sm"
                                           title="{% trans 'Edit comment' %}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </ul>
            </div>
            <div class="mg-t-20 pd-15" style="border-top: 1px solid #eee;">
                <form method="post" action="{% url 'comment-create' id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="content" class="form-control" rows="3" placeholder="{% trans 'Write a comment...' %}" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary notika-btn-primary waves-effect">
                        <i class="fa fa-paper-plane"></i>&nbsp; {% trans "Post comment" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>