{% load i18n %}
{% load static %}
{% load harvest_status %}

<section class="picker-requests">
    <header>
        <h2>{% trans "Pickers requests" %}</h2>
        <div {{ status | harvest_volunteer_attributes:"top" 
        : is_open_to_public_requests | safe }}>
            <a data-toggle="collapse"
                href="{% url 'rfp-create' id %}"
                {% if is_open_to_public_requests %} class="btn btn-primary notika-btn-primary waves-effect" {% elif is_open_to_requests %} class="btn btn-danger notika-btn-danger waves-effect" {% else %} class="btn btn-default notika-btn-default disabled" {% endif %}>
                <i class="fa fa-plus"></i> {% trans "New request" %}
            </a>
        </div>
    </header>
    <div class="table-responsive">
        <table class="table compact">
            <thead>
                <tr>
                    <th class="col-requester">{% trans "Requester" %}</th>
                    <th class="col-date">{% trans "Requested on" %}</th>
                    <th class="col-number">{% trans "# Pickers" %}</th>
                    <th class="col-comment">{% trans "Requester comment" %}</th>
                    <th class="col-experience">{% trans "Experience" %}</th>
                    <th class="col-rejections">{% trans "Rejections" %}</th>
                    <th class="col-status">{% trans "Status" %}</th>
                    <th class="col-notes">{% trans "Pickleader note" %}</th>
                    <th class="col-date">{% trans "Last updated" %}</th>
                    <th class="col-actions">{% trans "Action" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for r in requests %}
                    {% include 'app/detail_views/harvest/data_row.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
