{% load i18n %}
{% load static %}
<tr>
    <td>
        <b>{{ r.picker }}</b><br>
        {% if r.picker.email %}
            <a href="mailto:{{ r.picker.email }}">
                {{ r.picker.email }}
            </a>
            <br>
        {% endif %}
        {{ r.picker.phone|default:"" }}
    </td>
    <td style="text-align: center;">{{ r.number_of_people }}</td>
    <td>
        {% if r.is_cancelled == True %}
            <i class="fa fa-times text-muted"></i>
            {% trans "Canceled" %}
        {% elif r.is_accepted == None %}
            <i class="fa fa-question text-warning"></i>
            {% trans "Pending" %}
        {% elif r.is_accepted == False %}
            <i class="fa fa-times text-danger"></i>
            {% trans "Refused" %}
        {% elif r.is_accepted == True %}
            <i class="fa fa-check text-success"></i>
            {% trans "Accepted" %}
        {% endif %}
    </td>
    <td>{{ r.creation_date }}</td>
    <td>
        {% if r.acceptation_date %}
            {{ r.acceptation_date }}
        {% else %}
            <i class="fa fa-times text-danger"></i>
        {% endif %}
    </td>
    <td>
        {% with r.picker.harvests_as_volunteer_succeeded.count as success_count %}
        {% if success_count > 0 %}
            <i class="fa fa-thumbs-o-up text-success"></i>
            {{ success_count }}
            {% trans "harvest(s)" %}
        {% else %}
            {% trans "First time!" %}
        {% endif %}
        {% endwith %}
    </td>
    <td>
        {% with r.picker.harvests_as_volunteer_rejected.count as reject_count %}
        {% if reject_count > 0 %}
        <i class="fa fa-frown-o text-danger"></i>
        {% endif %}
        {{ reject_count }}
        {% endwith %}
    </td>
    <td>{{ r.comment }}</td>
    <td>{{ r.notes_from_pickleader }}</td>
    <td style="text-align: center;">
        <a href="{% url 'participation-update' r.id %}?hid={{ harvest.id }}">
            <i class="fa fa-pencil"></i>
        </a>
    </td>
</tr>
