{% load i18n %}
{% load static %}
{% load organization %}
{% load property %}
{% get_current_language as LANG %}

<section class="equipment-point">
    <h2>{% trans "Equipment Point" %}</h2>
    {% if equipment_point is not None %}
        <div class="reservation-info">
            <div>
                <address>
                    <a href="{% url 'organization-detail' equipment_point.actor_id %}">{{ equipment_point.civil_name }}</a>
                    <br>
                    {{ equipment_point.short_address }}
                </address>
                <p>
                    {% trans "Reserved on" %} {{ start_date }}
                    <br>
                    {% trans "From" %}  <b>{{ reservation_start }}</b> {% trans "to" %} <b>{{ reservation_end }}</b>
                </p>
                <address>
                    {% trans "Contact" %} {{ equipment_point.contact_person.name }}
                    {% if equipment_point.contact_person.phone is not None %}
                        <br>
                        {{ equipment_point.contact_person.phone }}
                    {% endif %}
                    {% if equipment_point.contact_person.email is not None %}
                        <br>
                        <a href="mailto:{{ equipment_point.contact_person.email }}">{{ equipment_point.contact_person.email }}</a>
                    {% endif %}
                </address>
                <p>{{ equipment_point.equipment_description }}</p>
            </div>
            {% include 'app/detail_views/harvest/cancel_reservation.html' %}

            <dl>
                <dt class="{{'using' | reservation}}">{{ 'lg' | equipment_point_icon_shape | safe}}</dt>
                <dd>
                    {% trans 'Currently Reserved Equipment Point' %}
                </dd>

                {% include 'app/detail_views/harvest/legend.html' %}
            </dl>

        </div>
        <div class="reservation-map">
            <leaflet-map style="height: 450px;
                                max-height: 90vh"
                         center="[{{ equipment_point.latitude }}, {{ equipment_point.longitude }}]"
                         zoom="14">
                {% for org in equipment_points %}
                    {% with status=org.status %}
                        {% include 'app/list_views/organization/marker.html' %}
                    {% endwith %}
                {% endfor %}
                {% include 'app/detail_views/harvest/marker.html' %}
            </leaflet-map>
        </div>
    {% elif equipment_points is not None %}
        <div class="reservation-info">
            <p>
                {% trans "You can select an equipment point from the map and reserve it's equipment for your harvest. This is only possible if the harvest is scheduled or ready." %}
            </p>

            <dl>
                {% include 'app/detail_views/harvest/legend.html' %}
            </dl>
        </div>

        <div class="reservation-map">
            <leaflet-map style="height: 450px;
                                max-height: 90vh"
                         center="[{{ property.latitude }}, {{ property.longitude }}]"
                         zoom="14">
                {% for org in equipment_points %}
                    {% with status=org.status %}
                        {% include 'app/list_views/organization/marker.html' %}
                    {% endwith %}
                {% endfor %}
                {% include 'app/detail_views/harvest/marker.html' %}
            </leaflet-map>
        </div>
    {% endif %}
</section>
