{% load i18n %}
{% load static %}

{% get_current_language as LANG %}

<div class="notika-chat-list notika-shadow mg-t-30 tb-res-ds-n dk-res-ds">
            <div class="row" style="margin-bottom: 15px">
                <div style="padding-left: 1em;">
                    <div class="basic-tb-hd">
                        <h2>{% trans "Equipment Point" %}</h2>
                    </div>
                </div>
            </div>
    <div class="card-box">
         {% if equipment_point is not None %}
              {{ equipment_point.civil_name }}
              </br>
                  {{ equipment_point.short_address }}
         {% else %}
              {% trans "No equipment point has been reserved" %}
         {% endif %}
    </div>
</div>
