{% load harvest_status %}

<div class="dropdown">
    <button class="btn btn-default notika-btn-default dropdown-toggle"
            style="margin-bottom: -5px; background-color: {{status|color}};"
            type="button"
            id="harvest-status-dropdown"
            data-toggle="dropdown"
    >
        <p style="font-size: 1.2em; color:white;">
            <strong>
                {{ status_display }}
                <span class="caret"></span>
            </strong>
        </p>
    </button>
    <ul
        class="dropdown-menu"
        role="menu"
        aria-labelledby="menu1"
    >
        {% for choice in status_choices %}
            <li role="presentation">
                <a
                href="{% url 'harvest-status-change' id %}?status={{ choice.0 }}"
                role="menuitem"
                tabindex="-1"
                >
                {{ choice.1 }}
            </a>
            </li>
            {% if not forloop.last %}
                <li role="presentation" class="divider"></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
