{% load i18n %}
{% load l10n %}
{% load static %}
{% load tz %}
<div class="notika-status-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                    <div class="website-traffic-ctn">
                        <p>{% translate 'Harvest status' %}</p>
                        <h2>{{ harvest.status }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                    <div class="website-traffic-ctn">
                        <p>{{harvest_start}} {% trans "to" %} {{harvest_end}}</p>
                        <h2>{{harvest_date}} </h2>
                    </div>
                    <!-- <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div> -->
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                    {% if harvest.status == "Succeeded" %}
                        <div class="website-traffic-ctn">
                            <p>{% trans "Total harvested:" %}</p>
                            <h2><span class="counter">{{ harvest.total_distribution|unlocalize }}</span> lbs</h2>
                        </div>
                    {% else %}
                        <div class="website-traffic-ctn">
                            <p>{% trans "Pickers requests" %}</p>
                            <h2><span class="counter">{{ requests.count }}</span>
                                / {{ harvest.nb_required_pickers }}</h2>
                        </div>
                        <div class="sparkline-bar-stats2">1,4,8,3,5,6,4,8,3,3,9,5</div>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                    <div class="website-traffic-ctn">
                        <p>{% trans "Pick leader" %}</p>
                        {% if harvest.pick_leader != None %}
                        <h2>{{ harvest.pick_leader }}</h2>
                        {% else %}
                        <h2>{% trans "Missing" %}</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
