{% load i18n %}
{% load static %}
{% load property %}
{% load harvest_status %}

{% get_current_language as LANG %}
<tr>
    <td>
        <a href="{% url 'property-detail' property.id %}" title="{% trans 'View' %} {{ property.title }}">
        # {{ property.id }}&nbsp;
        <small><i class="fa fa-eye"></i></small>
        </a>
        {% if perms.harvest.delete_property %}
            &nbsp;
            <small>
                <a href="{% url 'admin:harvest_property_delete' property.id %}" onclick="return confirm('{% trans " Are you really
                    sure you want to delete this property?" %}');">
                    <i class="fa fa-trash text-danger"></i>
                </a>
            </small>
        {% endif %}
    </td>
    <td>
        <b>{{ property.title }}</b>
        {% if perms.harvest.change_property %}
            &nbsp;
            <a href="{% url 'property-update' property.id %}">
                <small><i class="fa fa-pencil"></i></small>
            </a>
        {% endif %}
    </td>
    <td>
        {{ property.neighborhood }}
    </td>
    <td>
        <span class="badge {{ property.status | property_status }}">{{ property.status.label }}</span>
    </td>
    <td>
        {% for tree in property.trees %}
            <div class="text-nowrap">
                {% if LANG == "en" %}
                    {{tree.fruit_name_en}}
                {% else %}
                    {{tree.fruit_name_fr}}
                {% endif %}
            </div>
        {% endfor %}
    </td>
    <td>
        <ul class="list-inline">
            {% for harvest in property.harvests %}
            <li style="padding-top: 0.5em;">
                <a class="{{ harvest.status | color }}" data-placement="top" data-toggle="tooltip" href="{% url 'harvest-detail' harvest.id %}"
                    title="#{{ harvest.id }}: {{ harvest.start_date }} -
                                   {% if harvest.pick_leader %}{{ harvest.pick_leader.name }}{% else %}{% trans 'Orphan' %}{% endif %}"
                >
                 {{ harvest.status | harvest_icon | safe }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </td>
    <td>
            {% if property.last_succeeded_harvest %}
                            <a {{ property.last_succeeded_harvest|harvest_link_attributes|safe }}>
                                {{ property.last_succeeded_harvest.start_date }}
                            </a>
        {% endif %}
    </td>
    <td>
            {% if property.next_harvest %}
                            <a {{ property.next_harvest|harvest_link_attributes|safe }}>
                                {{ property.next_harvest.start_date }}
                            </a>
            {% endif %}
    </td>
</tr>
