{% load i18n %}
{% load static %}
{% load property %}
{% load harvest_status %}

{% get_current_language as LANG %}
<tr>
    <td rowspan="{{ property.trees|length }}">
        <a href="{% url 'property-detail' property.id %}"
           title="{% trans 'View' %} {{ property.title }}">
            # {{ property.id }}&nbsp;
            <small><i class="fa fa-eye"></i></small>
        </a>
        {% if perms.harvest.delete_property %}
            &nbsp;
            <small>
                <a href="{% url 'admin:harvest_property_delete' property.id %}"
                   onclick="return confirm('{% trans " Are you really sure you want to delete this property?" %}');">
                    <i class="fa fa-trash text-danger"></i>
                </a>
            </small>
        {% endif %}
    </td>
    <td rowspan="{{ property.trees|length }}">
        <b>{{ property.title }}</b>
        {% if perms.harvest.change_property %}
            &nbsp;
            <a href="{% url 'property-update' property.id %}">
                <small><i class="fa fa-pencil"></i></small>
            </a>
        {% endif %}
    </td>
    <td rowspan="{{ property.trees|length }}">{{ property.neighborhood }}</td>
    <td rowspan="{{ property.trees|length }}">
        <span class="badge {{ property.status | property_status }}"
              {{ property.status | property_status_attributes | safe }}>{{ property.status.label }}</span>
    </td>
    {% if property.trees|length > 0 %}
        {% with tree=property.trees|first %}
            {% include 'app/list_views/property/harvest-list.html' %}
        {% endwith %}

    {% endif %}
</tr>
{% for tree in property.trees|slice:"1:" %}
    <tr>{% include 'app/list_views/property/harvest-list.html' %}</tr>
{% endfor %}
