{% load i18n %}
{% load static %}
{% load property %}
{% load harvest_status %}

{% get_current_language as LANG %}
<tr>
    <td>
        {{ property.id }}
        {% if perms.harvest.delete_property %}
        &nbsp;
        <small>
            <a href="{% url 'admin:harvest_property_delete' property.id %}" onclick="return confirm('{% trans " Are you
                really sure you want to delete this property?" %}');">
                <i class="fa fa-trash text-danger"></i>
            </a>
        </small>
        {% endif %}
    </td>
    <td>
        <a href="{% url 'property-detail' property.id %}">{{ property.title }} &nbsp; <i class="fa fa-pencil"></i></a>
    </td>
    <td>
        {{ property.neighborhood }}
    </td>
    <td>
        <span class="badge" style="background-color: {{ property.status | property_status }};">{{ property.status.label }}</span>
    </td>
    <td>
        {% for tree in property.trees %}
            <div class="text-nowrap">
                {% if LANG == "en" %}
                    {{tree.fruit_name_en}}
                {% else %}
                    {{tree.fruit_name_fr}}
                {% endif %}
            </div>
        {% endfor %}
    </td>
    <td>
        {% if property.ladder_available %}
            <i class="fa fa-check" style="color: #440bd4;"></i>
        {% else %}
            <i class="fa fa-times" style="color: #c01c28;"></i>
        {% endif %}
    </td>
    <td>
        <ul class="list-inline">
            {% for harvest in property.harvests %}
            <li style="padding-top: 0.5em;">
                <a style="color: {{ harvest.status | color }}" data-placement="top" data-toggle="tooltip" href="{% url 'harvest-detail' harvest.id %}"
                    title="#{{ harvest.id }}: {{ harvest.start_date }} -
                                   {% if harvest.pick_leader %}{{ harvest.pick_leader }}{% else %}{% trans 'Orphan' %}{% endif %}"
                >
               {{ harvest.status | harvest_icon | safe }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </td>
    <td>
        {% with property.succeeded_harvests|last as last_harvest %}
            {% if last_harvest %}
            <a href="{% url 'harvest-detail' last_harvest.id %}">
                {{ last_harvest.start_date }}
            </a>
        {% endif %}
        {% endwith %}
    </td>
</tr>
