{% load i18n %}
{% load static %}
{% load property %}
{% load harvest_status %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/legend.css' %}">
{% endblock style %}

<section class="legend">
    <h3 class="panel-title">{% trans 'Legend' %}</h3>
    <div>
        <dl class="harvest">
            <dt class="{{'succeeded' | color}}">{{'succeeded' | harvest_icon | safe}}</dt>
            <dd {{ 'succeeded' | harvest_status_attributes | safe }}>
                {% trans 'Succeeded Harvest' %}
            </dd>

            <dt class="{{'cancelled' | color}}">{{'cancelled' | harvest_icon | safe}}</dt>
            <dd {{ 'cancelled' | harvest_status_attributes | safe }}>
                {% trans 'Cancelled Harvest' %}
            </dd>

            <dt class="{{'ready' | color}}">{{'ready' | harvest_icon | safe}}</dt>
            <dd {{ 'ready' | harvest_status_attributes | safe }}>
                {% trans 'Ready Harvest' %}
            </dd>

            <dt class="{{'adopted' | color}}">{{'adopted' | harvest_icon | safe}}</dt>
            <dd {{ 'adopted' | harvest_status_attributes | safe }}>
                {% trans 'Adopted Harvest' %}
            </dd>

            <dt class="{{'scheduled' | color}}">{{'scheduled' | harvest_icon | safe}}</dt>
            <dd {{ 'scheduled' | harvest_status_attributes | safe }}>
                {% trans 'Scheduled Harvest' %}
            </dd>

            <dt class="{{'orphan' | color}}">{{'orphan' | harvest_icon | safe}}</dt>
            <dd {{ 'orphan' | harvest_status_attributes | safe }}>
                {% trans 'Orphan Harvest' %}
            </dd>
        </dl>

        <dl class="property">
            <dt class="{{ 'authorized' | property_status }}">
                {{'lg' | property_icon_shape | safe}}
            </dt>
            <dd {{ 'authorized' | property_status_attributes | safe }}>
                {% trans 'Authorised Property' %}
            </dd>

            <dt class="{{ 'pending' | property_status }}">
                {{ 'lg' | property_icon_shape | safe }}
            </dt>
            <dd {{ 'pending' | property_status_attributes | safe }}>
                {% trans 'Pending Property' %}
            </dd>

            <dt class="{{ 'unauthorized' | property_status }}">
                {{ 'lg' | property_icon_shape | safe }}
            </dt>
            <dd {{ 'unauthorized' | property_status_attributes | safe }}>
                {% trans 'Unauthorised Property ' %}
            </dd>

            <dt class="{{ 'validated' | property_status }}">
                {{ 'lg' | property_icon_shape | safe }}
            </dt>
            <dd {{ 'validated' | property_status_attributes | safe }}>
                {% trans 'Validated Property ' %}
            </dd>
        </dl>
    </div>
</section>
