{% load i18n %}
{% load static %}
{% load property %}
{% load harvest_status %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/legend.css' %}">
{% endblock style %}

<section class="legend">
    <h3 class="panel-title">{% trans 'Legend' %}</h3>
    <div>
        {% include 'app/list_views/harvest/legend-harvest.html' %}

        <dl class="property">
            <dt class="{{ 'authorized' | property_status }}">
                {{'lg' | property_icon_shape | safe}}
            </dt>
            <dd {{ 'authorized' | property_status_attributes | safe }}>
                {% trans 'Authorised Property' %}
            </dd>

            <dt class="{{ 'pending' | property_status }}">
                {{ 'lg' | property_icon_shape | safe }}
            </dt>
            <dd {{ 'pending' | property_status_attributes | safe }}>
                {% trans 'Pending Property' %}
            </dd>

            <dt class="{{ 'unauthorized' | property_status }}">
                {{ 'lg' | property_icon_shape | safe }}
            </dt>
            <dd {{ 'unauthorized' | property_status_attributes | safe }}>
                {% trans 'Unauthorised Property ' %}
            </dd>

            <dt class="{{ 'validated' | property_status }}">
                {{ 'lg' | property_icon_shape | safe }}
            </dt>
            <dd {{ 'validated' | property_status_attributes | safe }}>
                {% trans 'Validated Property' %}
            </dd>
        </dl>
    </div>
</section>
