{% extends 'app/list_views/base.html' %}
{% load i18n %}
{% load static %}
{% load property %}
{% load harvest_status %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/list-view-tabs.css' %}">
    <link rel="stylesheet" href="{% static 'css/dialog.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
{% endblock style %}

{% block script %}
    <script defer src="{% static 'js/list-view-tabs.js' %}"></script>
{% endblock script %}

{% block data %}
    <tab-list role="tablist">
        <nav>
            <a href="." rel="keep-params">{% trans 'Table' %}</a>
            <span role="tab" id="map-tab">{% trans 'Map' %}</span>
        </nav>
        <section role="tabpanel" style="padding-top: 1em;" aria-labelledby="map-tab">
            <script type="module">import "{% static 'js/map/main.js' %}"</script>
            {% with request|selected_season as season %}
                <leaflet-map style="height: 60vh;">
                    {% for property in data %}
                        {% if property.longitude is not None and property.latitude is not None %}
                            <leaflet-marker latitude="{{ property.latitude }}"
                                            longitude="{{ property.longitude }}"
                                            style="display: none">
                                <leaflet-tooltip direction="top">
                                    {{ property.address }}
                                </leaflet-tooltip>
                                <leaflet-icon icon-anchor="10 -5"
                                              class="{{ property | property_icon_color:season }}">
                                    {{ property | property_icon:season | safe }}
                                </leaflet-icon>
                                <leaflet-icon class="leaflet-hover-icon {{ property | property_icon_color:season }}"
                                              icon-anchor="10 -5"
                                              popup-anchor="0 0">
                                    {{ property | property_icon_hover:season | safe }}
                                </leaflet-icon>
                                <leaflet-popup>
                                    <h4>
                                        <a href="{% url 'property-detail' property.id %}">
                                            {{ property.address }} <i class="fa fa-external-link fa-xs"></i>
                                        </a>
                                    </h4>
                                    <span class="badge {{ property.status | property_status }}"
                                          {{ property.status | property_status_attributes | safe }}>{{ property.status.label }}</span>
                                    <section>
                                        {% for tree in property.trees %}
                                            <article>
                                                <h5>
                                                    {% if LANG == "en" %}
                                                        {{ tree.fruit_name_en }}
                                                    {% else %}
                                                        {{ tree.fruit_name_fr }}
                                                    {% endif %}
                                                </h5>
                                                {% if property.harvests|length > 0 %}
                                                    {% with past=property.harvests|past_harvests:tree %}
                                                        <ul class="list-inline">
                                                            <li style="padding-top: 0.5em;">
                                                                {% if past|length > 0 %}
                                                                    {% trans 'Past harvests' %}:
                                                                {% else %}
                                                                    {% trans 'No past harvests' %}
                                                                {% endif %}
                                                            </li>
                                                            {% for harvest in past %}
                                                                {% include 'app/list_views/property/harvest-list-row.html' %}
                                                            {% endfor %}
                                                        </ul>
                                                    {% endwith %}
                                                    {% with upcoming=property.harvests|upcoming_harvests:tree %}
                                                        <ul class="list-inline">
                                                            <li style="padding-top: 0.5em;">
                                                                {% if upcoming|length > 0 %}
                                                                    {% trans 'Upcoming harvest' %}:
                                                                {% else %}
                                                                    {% trans 'No upcoming harvests' %}
                                                                {% endif %}
                                                            </li>
                                                            {% for harvest in upcoming %}
                                                                {% include 'app/list_views/property/harvest-list-row.html' %}
                                                            {% endfor %}
                                                        </ul>
                                                    {% endwith %}
                                                </article>
                                            {% else %}
                                                {% trans 'No harvests' %}
                                            {% endif %}
                                        {% endfor %}
                                    </section>
                                    <section>
                                        <h5>{% trans "Owner" %}</h5>
                                        <address>
                                            {{ property.owner.name }}
                                            <br>
                                            {{ property.address }}, {{ property.neighborhood.name }}
                                            <br>
                                            {% if property.owner.phone is not None %}
                                                {{ property.owner.phone }}
                                                <br>
                                            {% endif %}
                                            {% if property.owner.email is not None %}
                                                <a href="mailto:{{ property.owner.email }}">{{ property.owner.email }}</a>
                                            {% endif %}
                                        </address>
                                    </section>
                                    <a
                                        class="btn btn-primary notika-btn-primary waves-effect""
                                        href="{% url 'property-detail' property.id %}"
                                        >
                                        See details
                                    </a>
                                </leaflet-popup>
                            </leaflet-marker>
                        {% endif %}
                    {% endfor %}
                </leaflet-map>
                {% include 'app/list_views/property/legend.html' %}
            {% endwith %}
        </section>
    </tab-list>
{% endblock data %}
