{% extends 'app/list_views/base.html' %}
{% load i18n %}
{% load static %}

{% block data %}
  <tab-list role="tablist">
    <link rel="stylesheet" href="/static/css/list-view-tabs.css"></link>
    <link rel="stylesheet" href="/static/css/colors.css"></link>
    <script defer  src="/static/js/list-view-tabs.js"></script>
    <link href="/static/css/dialog.css" rel="stylesheet"></link>
    <nav>
      <span role="tab" id="table-tab">{% trans 'Table' %}</span>
      <a href="./map" rel="keep-params">{% trans 'Map' %}</a>
    </nav>
    <section
      role="tabpanel"
      class="table-responsive"
      aria-labelledby="table-tab"
    >
      <div class="table-responsive">
        <div class="dataTables_wrapper">
          <table class="table table-striped datatable-minimal">
            <thead>
                <tr>
                    <th class="col-xs-1">#</th>
                    <th class="col-xs-3">{% trans "Property" %}</th>
                    <th class="col-xs-1">{% trans "Borough" %}</th>
                    <th class="col-xs-1">{% trans "Status" %}</th>
                    <th class="col-xs-1">{% trans "Tree(s)" %}</th>
                    <th class="col-xs-1">{% trans "Picks" %}</th>
                    <th class="col-xs-1">{% trans "Last pick" %}</th>
                    <th class="col-xs-1">{% trans "Next pick" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for property in data %}

                    {% include 'app/list_views/property/data_row.html' %}

                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

        <section style="margin-top: 1em; margin-left: 1em; padding-bottom: 1em;">
        <h3 class="panel-title">{% trans 'Legend' %}</h3>
        <dl style="margin-top: 1em; display: grid; grid-template-columns: 25px 20% 25px 50%;">
            <dt class="saskatoon-success"><span class="glyphicon glyphicon-apple fa-lg"></span></dt>
            <dd> {% trans 'Succeeded Harvest' %}</dd>

            <dt class="saskatoon-danger"><span class="glyphicon glyphicon-apple fa-lg"></span></dt>
            <dd> {% trans 'Cancelled Harvest' %}</dd>

            <dt class="saskatoon-info"><span class="fa fa-shopping-basket fa-lg"></span></dt>
            <dd> {% trans 'Ready Harvest' %}</dd>

            <dt class="saskatoon-info"><span class="glyphicon glyphicon-tree-deciduous fa-lg"></span></dt>
            <dd> {% trans 'Adopted Harvest' %}</dd>

            <dt class="saskatoon-warning"><span class="fa fa-shopping-basket fa-lg"></span></dt>
            <dd> {% trans 'Scheduled Harvest' %}</dd>

            <dt class="saskatoon-warning"><span class="glyphicon glyphicon-tree-deciduous fa-lg"></span></dt>
            <dd>{% trans 'Orphan Harvest' %}</dd>
        </dl>
        </section>

    </section>
  </tab-list>
{% endblock data %}
