{% load static %}

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="sale-statistic-inner notika-shadow mg-tb-30">
        <div class="contact-hd search-hd-eg">
                <h2>Fruit distribution </h2>
                <table class="table">
                    <tr>
                        <!-- cols should add up to 12... -->
                        <th class="col-md-5"> Recipient </th>
                        <th class="col-md-4"> Tree </th>
                        <th class="col-md-2"> Weight </th>
                        <th class="col-md-1 text-center"> Delete </th>
                    </tr>
                    <tbody>
                        {% for d in distribution %}
                        <tr>
                            <td> {{ d.recipient }} </td>
                            <td> {{ d.tree.fruit_name }} </td>
                            <td> {{ d.total_in_lb }} lbs</td>
                            <td class="text-center">
                                <a href="/yield/delete/{{d.id}}"
                                   onclick="return confirm('Are you sure you want to delete this entry?');">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h5> Add new recipient
                    <a data-toggle="collapse" href="#new-recipient">
                        &nbsp;
                        <i class="fa fa-plus" style="color:blue"></i>
                    </a>
                </h5>
                <div class="collapse" id="new-recipient">
                    {% include 'app/harvest_details/distribution/create_yield.html' %}
                </div>
        </div>
    </div>
</div>
