{% extends 'app/base/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="login-content">
        <!-- Login -->
        <div class="nk-block toggled" id="l-login">
            <form action='{% url "change-password" %}' method="post">
                {% csrf_token %}
                <div class="nk-form">
                    <h1>Change password</h1>
                    <div class="changePasswordForm">
                        {{ form | crispy }}
                        <style>
                        .changePasswordForm {
                          text-align: left;
                          padding-top: 1rem;
                          label {
                            /* hide labels as placeholders were overridden to match login page */
                            display: none;
                          }
                          .invalid-feedback {
                            /* highlight error text */
                            color: red;
                          }
                        }
                        </style>
                    </div>
                    <button type="submit"
                            value="login"
                            data-ma-action="nk-login-switch"
                            data-ma-block="#l-register"
                            class="btn btn-login btn-primary btn-float">
                        <i class="notika-icon notika-right-arrow right-arrow-ant"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
