{% extends 'app/base/view_empty.html' %}
{% load i18n %}
{% load static %}
{% block body %}
    <style>
      li::before {
        content: "• ";
      }
    </style>
    <div class="login-content">
        <!-- Login -->
        <div class="nk-block toggled" id="l-login">
            <form action='{% url "change_password" %}' method="post">
                {% csrf_token %}
                <div class="nk-form">
                    <h1>Change password</h1>
                    {% if form.errors %}
                        <div class="alert-list">
                            <div class="alert alert-danger alert-mg-b-0"
                                 role="alert"
                                 style="text-align: left;
                                        display: flex;
                                        flex-flow: column;
                                        gap: 1em">
                                <!-- Django renders errors with the attr keys as text inside ul component. -->
                                <!-- This is a workaround to avoid writing a new template for error rendering. -->
                                {% if form.errors.old_password %}<div>{{ form.errors.old_password }}</div>{% endif %}
                                {% if form.errors.new_password1 %}<div>{{ form.errors.new_password1 }}</div>{% endif %}
                                {% if form.errors.new_password2 %}<div>{{ form.errors.new_password2 }}</div>{% endif %}
                            </div>
                            <br>
                        </div>
                    {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-minus-symbol"></i></span>
                        <div class="nk-int-st">{{ form.old_password }}</div>
                    </div>
                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-plus-symbol"></i></span>
                        <div class="nk-int-st">{{ form.new_password1 }}</div>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                    <div class="input-group mg-t-15">
                        <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-draft"></i></span>
                        <div class="nk-int-st">{{ form.new_password2 }}</div>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                    <button type="submit"
                            value="login"
                            data-ma-action="nk-login-switch"
                            data-ma-block="#l-register"
                            class="btn btn-login btn-success btn-float">
                        <i class="notika-icon notika-right-arrow right-arrow-ant"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
