{% load static %}
{% load i18n %}

<div id="cancelledModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="harvestModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0 none">
                <span class="h4 modal-title"></span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div><i class="text-info"> {% trans "this harvest has been cancelled" %} </i></div>
            </div>

            <div class="modal-body">
                <div class="row tile_count">
                    <div class="col-md-6 col-sm-4 col-xs-6">
                        <span class="count_top"><i class="fa fa-clock-o"></i>
                            {% trans "Scheduled" %}
                        </span>
                        <div>
                            <span class="count start-date"> </span>
                            <span class="count_bottom">
                                <b class="start-time"></b>
                                <span> {% trans "to" %} </span>
                                <b class="end-time"></b>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <span class="count_top"><i class="fa fa-user"></i>
                            {% trans "Status" %}
                        </span>
                        <div class="count green"><b>{% trans "Cancelled" %}</b></div>
                    </div>
                </div>

                <hr>
                <blockquote>
                    <p class="description"></p>
                </blockquote>
                <hr>

                {% if perms.harvest.view_harvest %}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <a class="btn btn-default harvest-url" href="">
                            {% trans "Harvest details" %}
                        </a>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
