
{% load i18n %}

{% trans "Look for harvests that are marked as <b>Open</b> (see legend)." as step1 %}
{% trans "Click on the harvest that interests you to see more details." as step2 %}
{% trans "If you would like to join the pick, click on <b>Participate</b>." as step3 %}
{% trans "Fill out the form with your contact information and submit it." as step4 %}
{% trans "Wait for a confirmation from the pick-leader (by email or phone)" as step5 %}
{% trans "If you have been accepted for a harvest, please show up!" as step6 %}

<ol style="list-style: decimal inside;">
    <li> {{step1}} </li>
    <li> {{step2}} </li>
    <li> {{step3}} </li>
    <li> {{step4}} </li>
    <li> {{step5}} </li>
    <li> {{step6}} </li>
</ol>
