{% extends 'app/base/view.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<script>

  document.addEventListener('DOMContentLoaded', function() {

      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
          expandRows: true,
          slotMinTime: '08:00',
          slotMaxTime: '20:00',
          headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
          },
          initialView: 'dayGridMonth',
          navLinks: true, // can click day/week names to navigate views
          nowIndicator: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: '/jsoncal/',
          eventClick: function(info) {
              info.jsEvent.preventDefault(); // don't link to event['url']

              /* filling modal templates*/
              $('.harvest-id').attr('value', info.event.extendedProps.harvest_id);
              $('.harvest-url').attr('href', "/harvest/"+info.event.extendedProps.harvest_id);
              $('.rfp-url').attr('href', info.event.url);

              $('.modal-title').html(info.event.title);
              $('.start-date').html(info.event.extendedProps.start_date);
              $('.start-time').html(info.event.extendedProps.start_time);
              $('.end-time').html(info.event.extendedProps.end_time);
              $('.description').html(info.event.extendedProps.description);
              $('.nb-required').html(info.event.extendedProps.nb_required_pickers);
              $('.nb-requests').html(info.event.extendedProps.nb_requests);

              $('.tree-list').html(info.event.extendedProps.trees);
              $('.total-harvested').html(info.event.extendedProps.total_harvested);

              switch(info.event.extendedProps.status){
                  case "Date-scheduled":
                      $('#scheduledModal').modal();
                      break;
                  case "Ready":
                      $('#readyModal').modal();
                      break;
                  case "Succeeded":
                      $('#succeededModal').modal();
                      break;
                  case "Cancelled":
                      $('#cancelledModal').modal();
                      break;
              }
          },
          eventMouseEnter: function(info) {
              info.el.title = info.event.title + "\n" +
                              info.event.extendedProps.start_time +
                              " - " + info.event.extendedProps.end_time;
          }
      });

      calendar.render();
  });
</script>

<div class="wizard-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wizard-wrap-int">
                    <div class="wizard-hd">
                        <h1>{% trans "Harvest calendar" %}</h1>
                        <hr>
                        <div class="row">
                            <div class="col-xs-4" >
                                <h5>{% trans "LEGEND" %} </h5>
                                {% include 'app/calendar/legend.html' %}
                            </div>
                            <div class="col-xs-8" >
                                <h5>{% trans "INSTRUCTIONS" %} </h5>
                                {% include 'app/calendar/instructions.html' %}
                            </div>
                        </div>
                        <br>
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'app/calendar/scheduled-modal.html' %}

{% include 'app/calendar/ready-modal.html' %}

{% include 'app/calendar/succeeded-modal.html' %}

{% include 'app/calendar/cancelled-modal.html' %}

{% endblock content %}
