{% extends 'app/list_views/base.html' %}
{% load i18n %}
{% load static %}

{% block table %}

    <thead>
        <tr>
            <th class="col-xs-1">#</th>
            <th class="col-xs-3">{% trans "Organization" %}</th>
            <th class="col-xs-4">{% trans "Description" %}</th>
            <th class="col-xs-2">{% trans "Contact" %}</th>
            <th class="col-xs-2">{% trans "Neighborhood" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for org in data %}

            {% include 'app/list_views/beneficiary/data_row.html' %}

        {% endfor %}
    </tbody>

{% endblock table %}
