{% load i18n %}
{% load static %}
{% get_current_language as LANG %}

<div class="search-engine-int">
    <div class="contact-hd search-hd-eg">
        <h2>{% translate 'About this property' %}</h2>
        <hr>
        <div class="tpgp-ele-tx">
            <h2>{% translate 'Address' %}</h2>
            <p>{{ address }}</p>
            <p>{{ neighborhood.name }}</p>
            <br>

            <h2>{% translate 'Available tree' %}(s)</h2>
            <ul>
                {% for t in trees %}
                    {% if LANG == "en" %}
                        <li>- {{ t.name_en }} {{ t.fruit_icon }}</li>
                    {% else %}
                        <li>- {{ t.name_fr }} {{ t.fruit_icon }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <br>

            <h2>{% translate 'Accessibility' %}</h2>
            <ul>
                <li>- {{ trees_location|default:"" }}</li>
                <li>- {{ trees_accessibility|default:"" }}</li>
            </ul>
            <br>

            <h2>{% translate 'Additional information' %}</h2>
            <p>{{ additional_info|default:"" }}</p>
        </div>
    </div>
</div>
