{% load i18n %}
{% load static %}
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h1>
                                    {% if owner %}
                                        {{ title }}
                                    {% elif pending_contact_name %}
                                        {{ pending_contact_name }}
                                        at {{ address }}
                                    {% else %}
                                        {{ address }}
                                    {% endif %}
                                    </h1>
                                    {% if pending %}
                                        <h4>** {% translate 'PENDING' %} **</h4>
                                    {% elif last_succeeded_harvest_date %}
                                        <p>{% trans "Last succeeded harvest"  %}
                                            on {{ last_succeeded_harvest_date|date }}
                                        </p>
                                    {% else %}
                                        <p>{% translate 'No succeeded harvest on this property so far' %}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="breadcomb-report">
                                {% if perms.harvest.change_property %}
                                    <a href="{% url 'property-update' id %}">
                                        <button title="Edit Property" class="btn">
                                            {% trans "Edit Property" %}</button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
