{% load i18n %}
{% load static %}
<div class="search-engine-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-mg-t-0">

    <div class="contact-hd search-hd-eg">
        <h2>{% translate 'Property features' %}</h2>
    </div>

    <div class="search-eg-table">
        <table class="table">
            <tbody>
            {% if property.is_active %}

                {% if property.pending %}
                    <tr> <td class="text-right">
                            <b class="text-danger">
                                {% trans "Pending validation" %}
                            </b>
                            <i class="notika-icon notika-close"></i>
                    </td></tr>

                    {% if property.pending_recurring %}
                        <tr><td class="text-right">
                            <b>
                                {% trans "Has already been registered in the past" %}
                            </b>
                            <i class="notika-icon notika-checked"></i>
                        </td></tr>
                    {% else %}
                        <tr><td class="text-right">
                            {% trans "Has never been registered before" %}
                            <i class="notika-icon notika-checked"></i>
                        </td></tr>
                    {% endif %}

                {% else %}
                    <tr><td class="text-right">
                        {% trans "Validated" %}
                        <i class="notika-icon notika-checked"></i>
                    </td></tr>
                {% endif %}


                {% if property.authorized is None %}
                    <tr><td class="text-right">
                        <b class="text-danger">
                            {% trans "Not yet authorized" %}
                        </b>
                        <i class="notika-icon notika-checked"></i>
                    </td></tr>
                {% elif property.authorized %}
                    <tr><td class="text-right">
                        {% trans "Authorized for the current season" %}
                        <i class="notika-icon notika-checked"></i>
                    </td></tr>
                {% else %}
                    <tr><td class="text-right">
                        <b class="text-danger">
                            {% trans "Not authorized for this season" %}
                        </b>
                        <i class="notika-icon notika-close"></i>
                    </td></tr>
                {% endif %}

            {% else %}
                <tr><td class="text-right">
                    <b class="text-danger">
                        {% trans "This property is marked as inactive" %}
                    </b>
                    <i class="notika-icon notika-close"></i>
                </td></tr>
            {% endif %}

            {% if property.harvest_every_year %}
                <tr><td class="text-right">
                    {% trans "Produces fruits every year" %}
                    <i class="notika-icon notika-checked"></i>
                </td></tr>
            {% else %}
                <tr><td class="text-right">
                    {% trans "Does not produce fruits every year" %}
                    <i class="notika-icon notika-close"></i>
                </td></tr>
            {% endif %}

            {% if property.avg_nb_required_pickers %}
                <tr><td class="text-right">
                    {{ property.avg_nb_required_pickers }}
                    {% trans "picker(s) needed" %}
                    <i class="notika-icon notika-checked"></i>
                </td></tr>
            {% else %}
                <tr><td class="text-right">
                    {% trans "Number of pickers not specified" %}
                    <i class="notika-icon notika-close"></i>
                </td></tr>
            {% endif %}

            {% if property.ladder_available %}
                <tr><td class="text-right">
                    {% trans "Ladder available" %}
                    <i class="notika-icon notika-checked"></i>
                </td></tr>
                {% if property.ladder_available_for_outside_picks %}
                    <tr><td class="text-right">
                        {% trans "Ladder available for outside picks" %}
                        <i class="notika-icon notika-checked"></i>
                    </td></tr>
                {% endif %}
            {% else %}
                <tr><td class="text-right">
                    {% trans "No ladder available" %}
                    <i class="notika-icon notika-close"></i>
                </td></tr>
            {% endif %}

            {% if property.public_access %}
                <tr><td class="text-right">
                    {% trans "Publicly accessible" %}
                    <i class="notika-icon notika-checked"></i>
                </td></tr>
            {% else %}
                <tr><td class="text-right">
                    {% trans "Not publicly accessible" %}
                    <i class="notika-icon notika-close"></i>
                </td></tr>
            {% endif %}

            {% if property.neighbor_access %}
                <tr><td class="text-right">
                    {% trans "Access to neighbors terrain" %}
                    <i class="notika-icon notika-checked"></i>
                </td></tr>
            {% else %}
                <tr><td class="text-right">
                    {% trans "No permission to access neighbors terrain" %}
                    <i class="notika-icon notika-close"></i>
                </td></tr>
            {% endif %}

            {% if property.compost_bin %}
                <tr><td class="text-right">
                    {% trans "Compost bin closeby" %}
                    <i class="notika-icon notika-checked"></i>
                </td></tr>
            {% else %}
                <tr><td class="text-right">
                    {% trans "No compost bin closeby" %}
                    <i class="notika-icon notika-close"></i>
                </td></tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
