{% load i18n %}
{% load static %}
<tr>
    <td>{{ harvest.pick_leader__person__first_name }}</td>
    <td>
        {% if harvest.status == "Succeeded" %}
        <div class="skill">
            <div class="progress">
                <div class="lead-content">{% trans "Succeeded" %}</div>
                <div class="progress-bar wow fadeInLeft"
                        data-progress="100%" data-wow-delay="1.2s"
                        data-wow-duration="1.5s" style="width: 100%;"></div>
            </div>
        </div>
        {% endif %}
        {% if harvest.status == "Cancelled" %}
        <div class="skill">
            <div class="progress">
                <div class="lead-content">{% trans "Cancelled" %}</div>
                <div class="progress-bar wow fadeInLeft"
                        data-progress="100%"
                        data-wow-delay="1.2s"
                        data-wow-duration="1.5s"
                        style="background-color: #f44336; width: 100%;"></div>
            </div>
        </div>
        {% endif %}
        {% if harvest.status == "Orphan" %}
        <div class="skill">
            <div class="progress">
                <div class="lead-content">{% trans "Orphan" %}</div>
                <div class="progress-bar wow fadeInLeft" data-progress="0%"
                        data-wow-delay="1.2s" data-wow-duration="1.5s"
                        style="width: 0%;"></div>
            </div>
        </div>
        {% endif %}
        {% if harvest.status == "Adopted" %}
        <div class="skill">
            <div class="progress">
                <div class="lead-content">{% trans "Adopted" %}</div>
                <div class="progress-bar wow fadeInLeft" data-progress="20%"
                        data-wow-delay="1.2s"
                        data-wow-duration="1.5s"
                        style="background-color: #FFC30F; width: 20%;"></div>
            </div>
        </div>
        {% endif %}
        {% if harvest.status == "To-be-confirmed" %}
        <div class="skill">
            <div class="progress">
                <div class="lead-content">{% trans "Pending auth." %}</div>
                <div class="progress-bar wow fadeInLeft" data-progress="40%"
                        data-wow-delay="1.2s"
                        data-wow-duration="1.5s"
                        style="background-color: #FFC30F; width: 40%;"></div>
            </div>
        </div>
        {% endif %}
        {% if harvest.status == "Date-scheduled" %}
        <div class="skill">
            <div class="progress">
                <div class="lead-content">{% trans "Scheduled" %}</div>
                <div class="progress-bar wow fadeInLeft" data-progress="60%"
                        data-wow-delay="1.2s"
                        data-wow-duration="1.5s"
                        style="background-color: #FFC30F; width: 60%;"></div>
            </div>
        </div>
        {% endif %}
        {% if harvest.status == "Ready" %}
        <div class="skill">
            <div class="progress">
                <div class="lead-content">{% trans "Ready" %}</div>
                <div class="progress-bar wow fadeInLeft" data-progress="80%"
                        data-wow-delay="1.2s"
                        data-wow-duration="1.5s"
                        style="background-color: #FFC30F; width: 80%;"></div>
            </div>
        </div>
        {% endif %}
    </td>
    <td>{{ harvest.start_date }}</td>
</tr>
