{% load i18n %}
{% load static %}
<div class="search-engine-area mg-t-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="basic-tb-hd">
                                <h2>
                                    {% trans "Harvests" %}
                                </h2>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <span style ="float: right">
                            {% if perms.harvest.add_harvest and authorized and not pending %}
                                {% if needs_orphan %}
                                    <a href="{% url 'property-create-orphans' id %}">
                                        <button title="Create Orphan Harvest(s)"
                                                class="btn btn-warning notika-btn-warning"
                                                style="margin-right: 0.5em;"
                                        >
                                            <i class="fa fa-plus"></i>&nbsp;
                                            {% trans "Create Orphan(s)" %}
                                        </button>
                                    </a>
                                {% endif %}
                                <a href="{% url 'harvest-create' %}?pid={{ id }}">
                                    <button title="New harvest"
                                            class="btn btn-success notika-btn-success waves-effect"
                                    >
                                        <i class="fa fa-plus"></i>&nbsp;
                                        {% trans "New Harvest" %}
                                    </button>
                                </a>
                            {% endif %}
                            </span>
                        </div>
                    </div>
                    <table class="table table-striped" id="data-table-basic">
                        <thead>
                            <tr>
                                <th class="col-xs-2">{% trans "Harvest" %}</th>
                                <th class="col-xs-2">{% trans "Tree(s)" %}</th>
                                <th class="col-xs-2">{% trans "Pickleader" %}</th>
                                <th class="col-xs-2">{% trans "Status" %}</th>
                                <th class="col-xs-2">{% trans "Date" %}</th>
                            </tr>
                        </thead>
                        {% for harvest in harvests %}
                        {% include 'app/detail_views/property/harvest_row.html' %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
