{% load i18n %}
{% load static %}

<tr>
    <td> {{id}} </td>
    <td>
        <a href="{% url 'property-detail' pk %}">
            {{property}}
        </a>
    </td>
    <td> {{ neighborhood }} </td>
    <td> {% include 'app/list_views/property/status.html' %} </td>

    {% if owner %}
        <td>
            {{ owner }} &nbsp;
            {% if owner.is_person and perms.member.change_person %}
                <small><a href="{% url 'person-update' owner.pk %}" title="edit">
                        <i class="fa fa-pencil"></i>
                    </a></small>
            {% endif %}
        </td>
        <td>
            {% if owner.is_person %}
                {% with owner.person as po %}
                    <a href="mailto:{{po.email}}">{{ po.email }}</a> &nbsp;
                    {{ po.phone|default_if_none:"" }}
                {% endwith %}
            {% elif owner.is_organization %}
                {% with owner.organization.contact_person as po %}
                    <a href="mailto:{{po.email}}">{{ po.email }}</a> &nbsp;
                    {{ po.phone|default_if_none:"" }}
                {% endwith %}
            {% endif %}
        </td>
    {% else %}
        <td></td>
        <td></td>
    {% endif %}
</tr>
