{% load i18n %}
{% load static %}

<tr>
    <td> {{property.id}} </td>
    <td>
        <a href="{% url 'property-detail' property.pk %}">
            {{property}}
        </a>
    </td>
    <td> {{ property.neighborhood }} </td>
    <td> {% include 'app/list_views/property/status.html' %} </td>

    <td>
        {% if perms.member.change_person %}
            {{ property.owner }} &nbsp;
            <small><a href="/person/update/{{property.owner.pk}}" title="edit">
                <i class="fa fa-pencil"></i>
            </a></small>
        {% endif %}
    </td>
    <td>
        {% if property.owner.person %}
            {% with property.owner.person as po %}
                <a href="mailto:{{po.email}}">{{ po.email }}</a> &nbsp;
                {{ po.phone }}
            {% endwith %}
        {% elif property.owner.organization %}
            {% with property.owner.organization.contact_person as po %}
                <a href="mailto:{{po.email}}">{{ po.email }}</a> &nbsp;
                {{ po.phone }}
            {% endwith %}
        {% endif %}
    </td>
</tr>
