{% load i18n %}
{% load static %}

<section>
    <header>
        <h2>{% trans "Comments" %}</h2>
    </header>
    <div class="card-box mg-t-30">
        <div class="chat-conversation">
            <div class="comment-scrollbar">
                <div class="comments-wrapper">
                    {% for comment in comments %}
                        <div id="comment-row-{{ comment.id }}" class="comment-card">
                            <div class="comment-author-meta">
                                <div class="author-name">{{ comment.author.name }}</div>
                                <div class="author-details">
                                    {{ comment.author.email }}<br>
                                    {% if comment.date_updated %}
                                        {{ comment.date_updated }} ({% trans "edited" %})
                                    {% else %}
                                        {{ comment.date_created }}
                                    {% endif %}
                                </div>
                            </div>

                            {% include 'app/detail_views/harvest/comments/comment_content.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% include 'app/detail_views/harvest/comments/comment_form.html' with object_id=id %}
        </div>
    </div>
</section>