
<li>
    <a data-placement="top" data-toggle="tooltip" href="{% url 'harvest-detail' harvest.id %}"
       title="{{harvest}} lead by {{ harvest.pick_leader.person.name }}">
        {% if harvest.status == "Succeeded" %}
            <i class="fa fa-shopping-basket fa-lg text-success"
               title="succeeded"
               style="padding-top:7px;"></i>
        {% elif harvest.status == "Cancelled" %}
            <i class="fa fa-shopping-basket fa-lg text-danger"
               title="cancelled"
               style="padding-top:7px;"></i>
        {% else %}
            <i class="fa fa-shopping-basket fa-lg text-info"
               title="upcomming"
               style="padding-top:7px;"></i>
        {% endif %}
    </a>
</li>
