{% extends 'app/list_views/base.html' %}
{% load i18n %}
{% load static %}

{% block table %}

    <thead>
        <tr>
            <th class="col-xs-1">#</th>
            <th class="col-xs-4">{% trans "Person" %}</th>
            <th class="col-xs-1">{% trans "Roles" %}</th>
            <th class="col-xs-2">{% trans "Harvests" %}</th>
            <th class="col-xs-2">{% trans "Properties" %}</th>
            <th class="col-xs-2">{% trans "Neighborhood" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for user in data %}

            {% include 'app/list_views/community/data_row.html' %}

        {% endfor %}
    </tbody>

{% endblock table %}
