{% extends 'app/base/view.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row breadcomb-list">
        <div class="col-lg-2 col-md-3 col-xs-12">
            {% include 'app/list_views/filters.html' %}
        </div>
        <div class="col-lg-10 col-md-9 col-xs-12">
            <div class="data-table-area">
                <div class="data-table-list" style="padding-top: 0;">

                    <div class="row">
                        <div class="col-xs-6">
                            <span class="form-group">
                                <input
                                    class="search-input"
                                    type="text"
                                    id="search-input"
                                    placeholder={% trans "Search" %}
                                >
                                <a
                                    class="search-btn btn btn-primary notika-btn-primary"
                                    id="search-button"
                                    >
                                    <i class="fa fa-solid fa-search"></i>
                                </a>
                            </span>
                        </div>
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-2">
                            <div class="pull-right">
                                {% if new %}
                                <a href="{{ new.url }}"
                                class="btn btn-primary notika-btn-primary"
                                >
                                    <i class="fa fa-plus"></i> &nbsp;{{ new.title }}
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <div class="dataTables_wrapper">
                            <table class="table table-striped datatable-minimal">
                                {% block table %}
                                {% endblock table %}
                            </table>
                        </div>
                    </div>
                    {% include 'app/list_views/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        const url = new URL(window.location);
        const searchInput = $('#search-input');

        const currentVal = url.searchParams.get("search");
        if(currentVal) {
            searchInput.val(currentVal);
        }

        function search() {
            url.searchParams.set("search", searchInput.val());
            window.location = url;
        }

        searchInput.keydown(function (e) {
            if (e.keyCode == 13) {
                search();
            }
        });

        $('#search-button').click(search);
    });
</script>

{% endblock content %}
