{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{{ filter.form.media }}

<div class="accordion-stn">
    <div aria-multiselectable="true" class="panel-group"
            data-collapse-color="nk-green"
            id="accordion" role="tablist">
        <div class="panel panel-collapse">
            <div class="notika-accordion-cus panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" aria-expanded="false" data-parent="#accordion"
                        data-toggle="collapse" href="#accordion-body">
                        &nbsp; {% trans "Filters" %}
                    </a>
                </h4>
            </div>
            <div class="collapse" id="accordion-body" role="tabpanel">
                <div id="filter-panel" class="panel-body" style="display:inline-block;">
                    <form role="form">
                            {{ filter.form|crispy}}
                        <button class="align-center btn btn-primary notika-btn-primary"
                            role="button" type="submit">
                            {% trans "Filter" %}
                        </button>
                        {% if filter.reset %}
                            &nbsp;
                            <a class="btn btn-warning notika-btn-warning"
                            href="{{filter.reset}}">
                                {% trans "Reset" %}
                            </a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
 $(function() {
     if($(window).width() > 768){
         $('.collapse').collapse('show');
     }

     $('#filter-panel').resize(function(){
         const width = $(this).width()
         const paddingRight = 24; // px
         console.log("RESIZING", width);
         $('.select2-selection').each(function() {
             $(this).width(width-paddingRight);
         });
     });

 });



</script>
