{% load pagination %}

<div class="row" style="font-size: 1.2em">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <span class="pull-right">
            {% if previous is None %}
                <button class="btn btn-sm disabled" id="previous-btn">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
            {% else %}
                <a href="{{ previous }}">
                    <button class="btn btn-sm" id="previous-btn">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                </a>
            {% endif %}
            &nbsp;
            <span class="dropup">
                <button
                    class="btn btn-sm dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    id="page-number"
                >
                <span style="font-size: 1.2em">{{ current_page_number }}</span>
                </button>
                <ul
                    class="dropdown-menu dropdown-menu-right"
                    style="height:auto; max-height: 250px; overflow-y: auto;"
                >
                    {% with pages_count|get_pages_range as page_number_options %}
                    {% for page_number_option in page_number_options %}
                    <li>
                        <a href="{% get_page_url request.get_full_path page_number_option %}">
                            {{ page_number_option }}
                        </a>
                    </li>
                    {% endfor %}
                    {% endwith %}
                </ul>
                / {{ pages_count }} &nbsp;
            </span>
            {% if next is None %}
                <button class="btn btn-sm disabled" id="next-button">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            {% else %}
                <a href="{{ next }}">
                    <button class="btn btn-sm" id="next-button">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </a>
            {% endif %}
        </span>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <span class="pull-right">
            Showing &nbsp;
            <div class="btn-group">
                <button
                    class="btn btn-sm dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <span style="font-size: 1.2em">{{ items_per_page }}</span>
                </button>
                <ul class="dropdown-menu">
                    {% with "10 25 50 100" as page_size_options %}
                    {% for page_size_option in page_size_options.split %}
                    <li>
                        <a href="{{ request.get_full_path|add_page_size_param }}{{ page_size_option }}">
                            {{ page_size_option }}
                        </a>
                    </li>
                    {% endfor %}
                    {% endwith %}
                </ul>
            </div>
            &nbsp;of {{ count }} entries
        </span>
    </div>
</div>
