html:has(dialog[open]) {
	overflow: hidden;
}

dialog {
	border: none;
	border-radius: 10px;
	min-width: 50vw;

	&::backdrop {
		background: rgba(0, 0, 0, 0.25);
	}
}

dialog.confirmation {
	border: 2px solid #ff2079;
    padding: 20px;
	min-width: 35vw;

    .btn-group .btn {
        width: 100px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.no-dialog-btn {
	display: inline-block;
	margin: 0;
	padding: 7px 13px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	line-height: 1.42857143;
}