.faq-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.faq-item {
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    position: relative;
    background:#d4c7f9;
    padding: 1em;
    padding-bottom: 1px;
}

.faq-question-row {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    color: #440bd4;
}

.faq-question {
    font-weight: bold;
    font-size: 1.1em;
    color: #222;
}

.faq-answer {
    color: #333;
    font-size: 1em;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    margin: 0.5em;
    margin-left: 25px;
}
