.faq {
    display: flex;
    flex-flow: column;
    align-items: center;

    h4 {
        margin-bottom: 1em;
    }

    div > section {
        flex-direction: column;
    }

    div > section > ul {
        details {
            border-radius: 2px;
            box-shadow: 0 1px 4px rgba(0,0,0,0.2);
            background: #d4c7f9;
            padding: 1em;
            padding-bottom: 0.3em;
            margin-bottom: 1em;

            /* - */
            &:open summary > span:before {
                content: "\f068";
                vertical-align: middle;
                font-family: "FontAwesome";
                font-size: 12px;
                font-weight: bold;
                color: #440bd4;
                padding-right: 1em;
            }

            summary {
                padding-bottom: 0.5em;

                span {
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 1.1em;

                    /* + */
                    &:before {
                        content: "\2b";
                        vertical-align: text-top;
                        font-family: "FontAwesome";
                        font-size: 12px;
                        font-weight: bold;
                        color: #440bd4;
                        padding-right: 1em;
                    }
                }
            }

            section {
                margin-bottom: 0.5em;
                margin-left: 1.55em;
            }
        }
    }
}
