:root {
    --saskatoon-gap: 15px;
}

.harvest-details {

    .tooltip.right {
        min-width: 15em;
    }

    .dropdown {
        width: fit-content;
    }

    .equipment-point {
        min-height: 425px;
        display: grid;
        grid-template-areas:
            "title ."
            "info map";
        grid-template-rows: auto auto;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

        > h2 {
            grid-area: title;
        }

        .reservation-info {
            grid-area: info;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            > button {
                width: 90%;
            }
        }

        .reservation-map {
            grid-area: map;
        }

        .harvest-reserve button {
            width: 100%;
        }

        dl {
            grid-template-columns: 22px auto;
            display: grid;
            gap: 1em;
            width: fit-content;
        }
    }

    .harvest-info,
    .property-and-announcements,
    .distribution-and-comments {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        gap: var(--saskatoon-gap);
        margin-bottom: var(--saskatoon-gap);
    }

    .property-and-announcements {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }

    .distribution-and-comments {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }

    .equipment-point,
    .picker-requests {
        background-color: #e7e0f9aa;
        padding: 20px 20px;

        h2 {
            font-size: 20px;
            color: #333;

            &.badge {
                padding: 0.5em;
            }
        }

        p {
            font-size: 14px;
            color: #333;
        }

        margin-bottom: var(--saskatoon-gap);
    }


    .harvest-info > section,
    .property-and-announcements > section,
    .distribution-and-comments > section,
    .equipment-point,
    .picker-requests {
        background-color: #e7e0f9aa;
        padding: 20px 20px;

        @media (min-width: 400px) {
            > header {
                grid-template-columns: auto min-content;
            }
        }

        > header {
            display: grid;
            gap: var(--saskatoon-gap);

            a {
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        h2 {
            font-size: 20px;
            color: #333;

            &.badge {
                padding: 0.5em;
            }
        }

        p {
            font-size: 14px;
            color: #333;
        }
    }

    table {
        width: 100%;
        overflow: auto;
    }

    th {
        font-weight: bold;
    }

    td {
        font-weight: normal;
    }
}

.dropdown p {
    margin: 0;
    padding: 0;
}
