p {
    margin-bottom: 1em;
}

.header {
    padding-bottom: 1em;
}

h5 {
    font-weight: 300;
    font-size: 16px;
}

h3 {
    font-size: 16px;
}

.content {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
}

ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 1em;
}

li {
    margin-left: 1em;
}
