section.legend {
    margin-top: 1em;
    margin-left: 1em;
    padding-bottom: 1em;

    & > div {
        display: flex;
        flex-wrap: wrap;
    }
}

dl {
    margin-top: 1em;
    display: grid;
    grid-row-gap: 0.5em;
    border-right: none;
}

dl.harvest {
    margin-right: 1em;
    grid-template-columns: 25px minmax(135px, 1fr) 25px minmax(135px, 1fr);
}


dl.property {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 25px minmax(145px, 1fr) 25px minmax(145px, 1fr)
}

@media (min-width: 740px) {

    dl.harvest {
        margin-right: 1em;
        border-right: 1px solid black;
    }

}

@media (min-width: 990px) and (max-width: 1106px) {

    dl.harvest {
        border-right: none;
    }

}
