tab-list {
  /* Create a grid with one column per tab */
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: auto 1fr;
  column-gap: 0.5rem;
  margin-top: 1em;

  /* Make each column cover the entire grid */
  > details {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    background-color: white;
    gap: 0;

    &::details-content {
      grid-row: 2; /* position in the second row */
      grid-column: 1 / -1; /* cover both columns */
      padding: 1rem;
    }

    /* Make the summaries be side by side instead of one over the other */
    > summary {
      grid-row: 1;
      display: grid !important;
      padding: 1rem;
      cursor: pointer;
      z-index: 1;
      background-color: rgb(212, 199, 249);
      color: black;

      &:hover {
        color: white;
        background-color: rgb(68, 11, 212);
      }
    }

    &[open] {
      > summary {
        font-weight: bold;
        /* doenst stop toggling with the keyboard, but that's fine */
        pointer-events: none;
        color: black;
        background-color: white;

      }

      &::details-content {
        z-index: 1;
      }
    }

    /* Second item in second column */
    &:nth-of-type(2) > summary {
      grid-column: 2 / span 1;
    }
  }
}