leaflet-popup {
    p {
        font-size: 14px;
    }

    h5 {
        margin-bottom: 0.5em;
    }

    > section:has(button) {
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 2%;
    }

    > section {
        margin-top: 1.5em;
    }

    article {
        margin-top: 1em;
    }

    a {
        color: #440bd4;

        &:hover {
            color: #2da4f0;
        }
    }
}

@media (max-width: 992px) {
    .leaflet-popup-content {
        max-width: 70vw;
    }

    leaflet-popup {
        > section:has(button) {
            grid-template-columns: 100%;
        }
    }
}
