/* md & lg */
@media (min-width: 991px) {
    .header-top-area {
        margin-bottom: 15px;
    }

    .nav.navbar-nav.notika-top-nav li {
        margin: 0px 5px;
    }

    .logo-area {
        display: block;
    }

    .mobile-menu-area {
        display: none;
    }

    li.mobile-logo {
        display: none;
    }

    .logo-img {
        min-width: 60px;
        padding-right: 10px;
    }
}

/* xs & sm */
@media (max-width: 991px) {
    .breadcomb-list {
        padding: 0;

        > *:first-child {
            margin-bottom: 1em;
        }
    }

    .main-content > .container-fluid,
    .breadcomb-area .container {
        padding: 0;
    }

    .logo-area {
        display: none;
    }

    li.mobile-logo {
        display: block;
    }

    li.mobile-logo a img {
        margin-top: -5px;
        min-width: 1.5em;
        max-width: 1.5em;
    }

    .footer-section.about {
        display: none;
    }

    .main-menu-area {
        display: none;
    }

    .mobile-menu-area {
        background: #440bd4;
        display: block;
    }

    .header-top-menu {
        text-align: center;
    }

    ul.nav.navbar-nav.notika-top-nav {
        margin: 0;
        float: unset;
    }

    .nav.navbar-nav.notika-top-nav li {
        margin: 0;
        display: inline-block;
    }

    li.nav-item.dropdown.open ul.dropdown-menu {
        position: absolute;
    }

    li.nav-item.dropdown.open ul.dropdown-menu li {
        display: block;
    }

    .nav.navbar-nav.notika-top-nav li a {
        padding: 1em;
    }
}

/* Normal desktop (md)*/
@media (min-width: 992px) and (max-width: 1169px) {
    .header-top-area {
        position: unset;
    }

    .main-menu-area.mg-t-80-b-40 {
        margin-top: 40px;
    }

    ul.notika-menu-wrap li a {
        padding: 5px;
    }

    ul.notika-main-menu-dropdown li > a {
        padding: 5px;
    }

    .dk-res-mg-t-30 {
        margin-top: 30px;
    }

    .dk-res-ds {
        display: none;
    }

    .email-signle-gp {
        margin: 0px 25px;
    }

    .header-top-menu .nav.notika-top-nav li .search-dd {
        left: -690px;
        width: 940px;
    }

    .realtime-country-ctn {
        padding-top: 26px;
    }

    .dk-res-mg-t-10 {
        margin-top: 10px;
    }

    .dropdown-trig-an-list .dropdown-trig-sgn {
        margin: 5px 0px;
    }

    .images-cropper-pro .btn {
        margin: 5px 0px;
    }

    .table-responsive {
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 0px solid #ddd;
    }

    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > thead > tr > th {
        white-space: nowrap;
    }

    .table-responsive .pagination-inbox {
        margin-bottom: 20px;
    }

    .left-sidebar-pro {
        display: block;
    }

    .all-content-wrapper {
        margin-left: 200px;
    }

    .box-layout .header-top-area {
        width: 100%;
    }

    .box-layout .header-top-area,
    .header-top-area.dark-header,
    .header-top-area.dark-sidebar-tp,
    .header-top-area.default-sidebar-tp,
    .fullscreen .header-top-area,
    .header-top-area.hd-fd-tp,
    .header-top-area.lg-sd-tp,
    .header-top-area.lg-tp-ld,
    .header-top-area.mini-std-tp,
    .header-top-area.sm-ltd-sd,
    .offcanvas .header-top-area,
    .rtl-layout .header-top-area {
        position: fixed;
    }

    .fullscreen .menu-switcher-pro .btn.bar-button-pro {
        left: -8px;
    }

    .main-menu-lv-int ul.main-menu-lv > li > a {
        padding: 15px 12px;
    }

    .main-menu-lv-int ul.main-menu-lv li ul.menu-dp-lt.page-ltd-mn {
        left: -100px;
    }

    .offcanvas .menu-switcher-pro .btn.bar-button-pro {
        left: -8px;
    }

    .sm-ltd-sd .menu-switcher-pro .btn.bar-button-pro {
        left: -8px;
    }

    .box-layout-wp-bg .menu-switcher-pro .btn.bar-button-pro {
        left: -6px;
    }

    ul.notika-main-menu-dropdown li ul.layout-more-dp {
        left: -78px;
    }

    .menu-switcher-pro {
        border-right: 0px solid #31b191;
    }

    .header-top-area.dark-header .menu-switcher-pro {
        border-right: 0px solid #363c3a;
    }

    .rtl-layout .menu-switcher-pro {
        border-left: 0px solid #31b191;
    }

    .realtime-map {
        margin-top: 10px;
    }

    .default-sidebar-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .sm-ltd-sd .header-top-menu .nav.notika-top-nav li .search-dd,
    .lg-sd-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .mini-std-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .lg-tp-ld .header-top-menu .nav.notika-top-nav li .search-dd,
    .offcanvas .header-top-menu .nav.notika-top-nav li .search-dd,
    .hd-fd-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .dark-header .header-top-menu .nav.notika-top-nav li .search-dd,
    .dark-sidebar-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .fullscreen .header-top-menu .nav.notika-top-nav li .search-dd {
        left: -682px;
        width: 890px;
    }

    .btn-list .btn {
        margin: 5px 5px;
    }

    .dash-widget-visits {
        overflow: hidden;
    }

    .popover-wp {
        padding: 40px 80px;
    }

    .dash-widget-visits canvas {
        width: 100% !important;
    }

    .contact-dt ul.contact-list li:first-child {
        padding-top: 5px;
    }

    .breadcomb-ctn {
        top: 2px;
    }

    .btn-button-mg {
        margin-bottom: 10px !important;
        margin-top: 0px !important;
    }
}

/* Tablet desktop (sm) */
@media (min-width: 768px) and (max-width: 991px) {
    .header-top-area {
        position: unset;
    }

    .tb-res-mg-t-30 {
        margin-top: 30px;
    }

    .tb-res-mg-t-0 {
        margin-top: 0px;
    }

    .tb-res-ds-n {
        display: none;
    }

    .flot-chart {
        height: 300px;
    }

    .flot-chart.tb-rc-it-res {
        height: 142px;
    }

    .email-signle-gp {
        margin: 0px 6px;
    }

    .header-top-menu .nav.notika-top-nav li .search-dd {
        left: -230px;
        width: 720px;
    }

    .header-top-menu .nav.notika-top-nav li .search-dd .search-input {
        margin: 7px 160px;
    }

    .flot-chart.bar-three {
        height: 268px !important;
    }

    .flot-chart.dyn-ctn-fr {
        height: 268px !important;
    }

    .tb-res-mg-t-40 {
        margin-top: 40px;
    }

    .flot-chart.widget-dynamic-chart.ant-ctn-dyn {
        height: 294px !important;
    }

    .tb-res-mg-t-10 {
        margin-top: 10px;
    }

    .btn-list .btn {
        margin: 5px 5px;
    }

    .notika-tl-btn .btn {
        margin: 5px 0px;
    }

    .dropdown-trig-an-list .dropdown-trig-sgn {
        margin: 5px 0px;
    }

    .maincrop-img {
        display: unset;
    }

    .cp-img-anal {
        margin-top: 15px;
    }

    .images-action-pro .btn {
        margin: 5px 0px;
    }

    .modal-inner-pro {
        padding: 40px 40px;
    }

    .modals-default-notika {
        padding: 30px 30px;
    }

    .modal-ft .btn,
    .modals-default-cl .btn,
    .notification-demo .btn {
        margin: 5px 5px;
    }

    .modal-dialog.modals-default .modal-content,
    .modal-dialog.modal-sm .modal-content,
    .modal-dialog.modal-large .modal-content {
        padding: 30px 30px;
    }

    .modal-dialog.modals-default,
    .modal-dialog.modal-sm,
    .modal-dialog.modal-large {
        width: 650px;
        margin: 50px 70px;
    }

    .table-responsive {
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 0px solid #ddd;
    }

    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > thead > tr > th {
        white-space: nowrap;
    }

    .table-responsive .pagination-inbox {
        margin-bottom: 20px;
    }

    .left-sidebar-pro {
        display: none;
    }

    .all-content-wrapper {
        margin-left: 0px;
    }

    .breadcomb-area {
        margin-top: 40px;
    }

    .box-layout .header-top-area {
        width: 100%;
    }

    .all-content-wrapper.large-ctn-wp {
        margin-left: 0px;
    }

    .all-content-wrapper.mini-sidebar-ctn {
        margin-left: 0px;
    }

    .mini-navbar .all-content-wrapper.mini-sidebar-ctn {
        margin-left: 0px;
    }

    .rtl-layout .all-content-wrapper {
        margin-right: 0px;
    }

    .rtl-layout .menu-switcher-pro .btn.bar-button-pro {
        left: 8px;
    }

    .all-content-wrapper.small-ctn-wp {
        margin-left: 0px;
    }

    .mini-navbar .all-content-wrapper.small-ctn-wp {
        margin-left: 0px;
    }

    .sm-ltd-sd .menu-switcher-pro .btn.bar-button-pro {
        left: -14px;
    }

    .mini-navbar .box-layout-wp-bg .all-content-wrapper {
        margin-left: 0px;
    }

    .mini-navbar .all-content-wrapper {
        margin-left: 0px;
    }

    .menu-switcher-pro {
        display: none;
    }

    .header-top-menu.pull-left {
        float: unset !important;
    }

    .rtl-layout .navbar-nav > li > a {
        padding: 20px 0px 20px 30px;
    }

    .rtl-layout .header-top-menu .nav.notika-top-nav li .search-dd {
        left: -210px;
    }

    .dash-widget-visits {
        margin: 35px 0px;
    }

    .default-sidebar-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .sm-ltd-sd .header-top-menu .nav.notika-top-nav li .search-dd,
    .lg-sd-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .mini-std-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .lg-tp-ld .header-top-menu .nav.notika-top-nav li .search-dd,
    .offcanvas .header-top-menu .nav.notika-top-nav li .search-dd,
    .hd-fd-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .dark-header .header-top-menu .nav.notika-top-nav li .search-dd,
    .dark-sidebar-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .fullscreen .header-top-menu .nav.notika-top-nav li .search-dd {
        left: -230px;
    }

    .dash-widget-visits {
        overflow: hidden;
    }

    .popovers-pr-sg {
        width: 275px;
    }

    .popover-wp {
        padding: 40px 30px;
    }

    .dash-widget-visits canvas {
        width: 100% !important;
    }

    .widget-signup-list img {
        top: -2px;
    }

    .widget-signup-list a {
        height: 45px;
        width: 45px;
        margin: 9px 1px;
        line-height: 45px;
    }

    .contact-dt ul.contact-list li:first-child {
        padding-top: 5px;
    }

    .breadcomb-ctn {
        top: 2px;
    }

    .btn-button-mg {
        margin-bottom: 10px !important;
        margin-top: 0px !important;
    }
}

/* Mobile (xs) */
@media (min-width: 1px) and (max-width: 767px) {
    .lg-res-mg-bl {
        display: block;
    }

    .email-round-pro {
        width: 33.33%;
    }

    .header-top-menu .nav.notika-top-nav li .search-dd .search-input {
        margin: 4px 30px;
    }

    .header-top-menu .nav.notika-top-nav li .search-dd {
        left: -40px;
        width: 350px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        margin-bottom: 30px;
    }

    .img-preview-custom {
        width: 345px;
        height: 205px;
    }

    .modal-dialog.modals-default .modal-content,
    .modal-dialog.modal-sm .modal-content,
    .modal-dialog.modal-large .modal-content {
        padding: 20px 20px;
    }

    .modal-dialog.modals-default,
    .modal-dialog.modal-sm,
    .modal-dialog.modal-large {
        width: 388px;
        margin: 70px 100px;
    }

    .popovers-pr-sg {
        width: 350px;
    }

    .default-sidebar-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .sm-ltd-sd .header-top-menu .nav.notika-top-nav li .search-dd,
    .lg-sd-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .mini-std-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .lg-tp-ld .header-top-menu .nav.notika-top-nav li .search-dd,
    .offcanvas .header-top-menu .nav.notika-top-nav li .search-dd,
    .hd-fd-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .dark-header .header-top-menu .nav.notika-top-nav li .search-dd,
    .dark-sidebar-tp .header-top-menu .nav.notika-top-nav li .search-dd,
    .fullscreen .header-top-menu .nav.notika-top-nav li .search-dd {
        left: -30px;
    }

    .dropdown-trig-list .dropdown-trig-sing {
        margin-right: 4px;
    }

    .bread-ntd {
        display: inline-block;
    }

    .footer-item a {
        font-size: 14px;
    }

    .footer-about {
        font-size: 14px;
    }
}
