{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

<div class="accordion-stn">
    <div aria-multiselectable="true" class="panel-group"
            data-collapse-color="nk-green"
            id="accordionGreen" role="tablist">
        <div class="panel panel-collapse notika-accrodion-cus">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" aria-expanded="false" data-parent="#accordionGreen"
                        data-toggle="collapse" href="#accordionGreen-one">
                        {% trans "Filters" %}
                    </a>
                </h4>
            </div>
            <div class="collapse" id="accordionGreen-one" role="tabpanel">
                <div class="panel-body">
                    <form role="form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">
                                {% trans "Filter" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

 $(function() {
     console.log($(window).width());
     if($(window).width() > 768){
         $('.collapse').collapse('show');
     }
 });

</script>
