{% extends 'app/base/view.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="col-12 col-sm-16 col-xs-16">
            <div class="wizard-wrap-int">
                <h1>{% trans "Map" %}</h1>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="legend">
                            <h4>LEGEND</h4>
                            {% include 'app/calendar/legend.html' %}
                        </div>
                        <div class="controls placeholder"
                             style="background: pink;
                                    height: 240px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center">
                            <div>CONTROLS</div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">{% include 'map/map.html' %}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
