{% load static %}
<table class="table">
    <tr>
        <!-- cols should add up to 12... -->
        <th class="col-md-5"> {% translate 'Recipient' %} </th>
        <th class="col-md-4"> {% translate 'Tree' %} </th>
        <th class="col-md-2"> lbs </th>
        <th class="col-md-1 text-center"> {% translate 'Save' %} </th>
    </tr>
    <tbody>
        <tr>
        <form action="/yield/create/" method="post" validate>
        {% csrf_token %}
            <input type="hidden" id="harvest-id" name="harvest" value={{harvest.id}}>
            <td> {% include 'app/detail_views/harvest/distribution/recipient_select.html' %} </td>
            <td> {% include 'app/detail_views/harvest/distribution/tree_select.html' %} </td>
            <td> {% include 'app/detail_views/harvest/distribution/weight_input.html' %} </td>
            <td class="col-md-1 text-center">
                <button type="submit" class="btn btn-success notika-btn-success waves-effect">
                    <i class="fa fa-check"></i></button>
            </td>
        </form>
        </tr>
    </tbody>
</table>
