{% load static %}
{% load i18n %}

<select name="actor" id="recipient-select" class="form-control required">
    <option selected disabled>{% translate 'Owner' %}</option>
    <option value={{ property.owner.pk }}>{{ property.owner.name }}</option>
    <option selected disabled>{% translate 'Pickers' %}</option>
    {% for p in pickers %}
        <option value={{ p.pk }}>{{ p.name }}</option>
    {% endfor %}
        <option selected disabled>{% translate 'Organizations' %}</option>
    {% for o in organizations %}
        <option value={{ o.pk }}>{{ o.civil_name }}</option>
    {% endfor %}
    <option selected disabled hidden>{% translate 'Select a Recipient' %}</option>
</select>
