{% load i18n %}
{% load static %}

<img class="banner" src="{{ MEDIA_URL }}/home/banner.jpg" alt="Photo Credit: Lauren Kolyn"/>
<div class="intro">
    <h1>{{ home_intro.title }}</h1>
    <p>{{ home_intro.body.html | safe }}</p>
    <h5 style="text-align: center;">{{ home_intro.subtitle | safe }}</h5>
</div>

<div class="row section">
    <div class="col-md-3 col-sm-4 col-xs-12">
        <img src="{{ MEDIA_URL }}/home/volunteer.jpg" alt="volunteer pickers"/>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12 content">
        <h4>{{ home_volunteer.subtitle }}</h4>
        <p>{{ home_volunteer.body.html | safe }}</p>
    </div>
</div>

<div class="row section">
    <div class="col-md-3 col-sm-4 col-xs-12">
        <img src="{{ MEDIA_URL }}/home/pickleader.jpg" alt="harvest leaders"/>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12 content">
        <h4>{{ home_pickleader.subtitle }}</h4>
        <p>{{ home_pickleader.body.html | safe }}</p>
    </div>
</div>

<div class="row section">
    <div class="col-md-3 col-sm-4 col-xs-12">
        <img src="{{ MEDIA_URL }}/home/owner.jpg" alt="tree owners"/>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12 content">
        <h4>{{ home_owner.subtitle }}</h4>
        <p>{{ home_owner.body.html | safe }}</p>
    </div>
</div>

<div class="row section">
    <div class="col-md-3 col-sm-4 col-xs-12">
        <img src="{{ MEDIA_URL }}/home/beneficiary.jpg" alt="beneficiary organizations"/>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12 content">
        <h4>{{ home_beneficiary.subtitle }}</h4>
        <p>{{ home_beneficiary.body.html | safe }}</p>
    </div>
</div>

<div class="closing">
    {{ faq.body.html | safe }}
</div>
