
{% if LANGUAGE_CODE == "en" %}

    Please read, complete and return to
    <a href = "mailto:info@lesfruitsdefendus.org">info@lesfruitsdefendus.org</a>
    the <a href="https://drive.google.com/file/d/1-OwAVnD-8Zex_NNLRInf0HU1D7WfcUbv/view?usp=sharing"></a>
    before proceeding with picks. Thank you very much!

{% else %}

    Merci de lire, compléter et renvoyer à
    <a href = "mailto:info@lesfruitsdefendus.org">info@lesfruitsdefendus.org</a>
    le <a href = "https://drive.google.com/file/d/1-OwAVnD-8Zex_NNLRInf0HU1D7WfcUbv/view?usp=sharing">Protocole COVID-19 pour Les Fruits défendus à Montréal</a> avant de procéder à une cueillette. Merci beaucoup !

{% endif %}
