{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% trans "Harvest detail" %}
                <a data-toggle="modal" data-target="#RequestModal" class="btn btn-success pull-right">
                    {% trans "Participate to the harvest" %}
                </a>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-sm-6">
            <strong>{% trans "Start" %} :</strong> {{harvest.start_date}}<br>
            <strong>{% trans "End" %} :</strong> {{harvest.end_date}}<br>
        </div>
        <div class="col-sm-6">
            <strong>{% trans "Number of participation request" %} :</strong> à définir<br>
            <strong>{% trans "Number of required pickers" %} :</strong> {{ harvest.nb_required_pickers }}<br>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-6">
            <p>
                <strong>{% trans "Pick-leader" %} :</strong> {{harvest.pick_leader}}
            </p>
            <p>
                <strong>{% trans "Street" %} :</strong> {{harvest.property.street}}<br>
                <strong>{% trans "Neighborhood" %} :</strong> {{harvest.property.neighborhood}}
            </p>
            <strong>{% trans "About" %} :</strong>{{harvest.about}}
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                <b>{% trans "Trees" %} :</b>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for tree in harvest.trees.all %}
                        <li>{{ tree.fruit_name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                <b>{% trans "Reserved equipment" %} :</b>
                </div>
                <div class="panel-body">
                    {% if harvest.equipment_reserved.all %}
                    <ul>
                        {% for equipment in harvest.equipment_reserved.all %}
                            <li>
                                <span class="label label-default" style="margin-right: 5px;">
                                    {{ equipment.type }}
                                </span>
                                {{ equipment.description }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        {% trans "No reserved equipment for the moment" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-----------
    --- MODAL ---
    ------------>

    <!-- Request modal -->
    <div class="modal fade" id="RequestModal" tabindex="-1" role="dialog" aria-labelledby="requestLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal">x</button>
                    <h4 class="modal-title" id="requestLabel">{% trans "New application request" %}</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'harvest:participation_create' harvest.id %}">
                        {% csrf_token %}
                        {% bootstrap_form form_request %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
