{% extends "app/base_site.html" %}
{% load i18n %}
{% load bootstrap %}


{% block title %} {% trans "Harvests" %}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{% trans "Harvests" %}</h3>
        </div>

        <div class="title_right">
          <div class="form-group pull-right top_search">
            <a href='/harvest/create' class="btn btn-success btn-xs"><i class="fa fa-plus"></i> {% trans "Add new" %}</a>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <!-- start project list -->
              <table id="datatable-buttons" class="table table-striped projects dt-responsive">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{% trans "Harvest" %}</th>
                    <th>{% trans "Tree" %}</th>
                    <th>{% trans "Neighborhood" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>{% trans "Leader" %}</th>
                    <th>{% trans "Pickers" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Action" %}</th>
                  <!-- Commenting out hardcoded style... still not ideal with firefox, OKish with Chrome(ium)
                    <th style="width: 1%">#</th>
                    <th style="width: 15%">{% trans "Harvest" %}</th>
                    <th>{% trans "Tree" %}</th>
                    <th style="width: 12%">{% trans "Neighborhood" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th style="width: 12%">{% trans "Pick Leader" %}</th>
                    <th style="width: 12%">{% trans "Pickers" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Action" %}</th> -->
                  </tr>
                </thead>
                <tbody>
                {% for harvest in data %}
                  <tr>
                    <td>{{ harvest.id }}</td>
                    <td>
                      <a href='harvest.property'>{{ harvest.property.title }}</a>
                    </td>
                    <td>
                      {% for tree in harvest.trees %}
                      <div class="text-nowrap">{{ tree }}</div>
                      {% endfor %}
                    </td>
                    <td>{{ harvest.property.neighborhood.name }}</td>
                    <td class="project_progress">
                      {% if harvest.status == "Succeeded" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="100"></div>
                        </div>
                        <small>{% trans "Succeeded" %}</small>
                      {% endif %}
                      {% if harvest.status == "Cancelled" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="100"></div>
                        </div>
                        <small>{% trans "Cancelled" %}</small>
                      {% endif %}
                      {% if harvest.status == "Orphan" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="0"></div>
                        </div>
                        <small>{% trans "Orphan" %}</small>
                      {% endif %}
                      {% if harvest.status == "Adopted" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="20"></div>
                        </div>
                        <small>{% trans "Adopted" %}</small>
                      {% endif %}
                      {% if harvest.status == "To-be-confirmed" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="40"></div>
                        </div>
                        <small>{% trans "Unauthorized" %}</small>
                      {% endif %}
                      {% if harvest.status == "Date-scheduled" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="60"></div>
                        </div>
                        <small>{% trans "Scheduled" %}</small>
                      {% endif %}
                      {% if harvest.status == "Ready" %}
                        <div class="progress progress_sm">
                          <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="80"></div>
                        </div>
                        <small>{% trans "Ready" %}</small>
                      {% endif %}
                    </td>
                    <td>
                      {% if harvest.pick_leader %}
                      {{ harvest.pick_leader|default:'' }}
                      <!--  <li>
                          <a href="#" data-toggle="tooltip" data-placement="top" title="{{ harvest.pick_leader|default:'' }} [{% trans 'Pickleader' %}]">
                            <img src="/static/images/user.png" class="avatar" alt=" {{ harvest.pick_leader|default:'' }} [{% trans 'Pickleader' %}]">
                          </a>
                        </li>-->
                      {% endif %}
                    </td>
                    <td>
                      <ul class="list-inline">
                      {% for p in harvest.get_pickers %}
                        <li>
                          <a href="#" data-toggle="tooltip" data-placement="top" title="{{ p.picker }}">
                            <img src="/static/images/user.png" class="avatar" alt="{{ p.picker }}">
                          </a>
                        </li>
                      {% endfor %}
                      </ul>
                    </td>
                    <td>
                      <div class="text-nowrap">{{ harvest.start_date }}</div>
                      <small>{{ harvest.start_time }}</small>
                    </td>
                    <td>
                      <a href="harvest.id" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></a>
                      <a href='harvest.id' class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                      <!--<a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> </a>-->
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- end project list -->
            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <form role="form">
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}
