{% load i18n %}

<b>{% trans "2021 Pick-leader resources" %} :</b>
<div class="panel-body">
    {% trans "Volunteer Waiver" as waiver %}
    {% trans "Pre-pick Guide" as prepick %}
    {% trans "Equipment Points (Annex B)" as annexB %}
    {% trans "Planning Harvests Using the Properties List (Annex D)" as annexD %}
    {% trans "Harvest Guide" as harvest %}
    {% trans "Map: Equipment Points, Beneficiary Organizations & Community Fridges" as map %}

    <ul class="list-group" style="list-style-type: square">
        <li><a href={% url 'volunteer-waiver' %}>{{waiver}}</a></li>
        <li><a href="https://lesfruitsdefendus.readthedocs.io/{{LANGUAGE_CODE}}/latest/pre-pick-guide/index.html">{{prepick}}</a></li>
        <li><a href={% url 'equipment-points' %}>{{annexB}}</a></li>
        <li><a href="https://lesfruitsdefendus.readthedocs.io/{{LANGUAGE_CODE}}/latest/pre-pick-guide/index.html">{{prepick}}</a></li>
        <li><a href="https://lesfruitsdefendus.readthedocs.io/{{LANGUAGE_CODE}}/latest/pre-pick-guide/annexes/D-using-the-property-list.html">{{annexD}}</a></li>
        <li><a href="https://lesfruitsdefendus.readthedocs.io/{{LANGUAGE_CODE}}/latest/harvest-guide/index.html">{{harvest}}</a></li>
        <li> <a href="https://drive.google.com/open?id=1VJbxaFKosG7gLgfvYJZ9m6rhTg0M3ZDy&usp=sharing">{{map}}</a> </li>
    </ul>
</div>
