{% load i18n %}

<b>{% trans "2021 Pick-leader resources" %} :</b>
<div class="panel-body">
    {% trans "Volunteer Waiver" as waiver %}
    {% trans "Pre-pick Guide" as prepick %}
    {% trans "Equipment Points (Annex B)" as annexB %}
    {% trans "Planning Harvests Using the Properties List (Annex D)" as annexD %}
    {% trans "Harvest Guide" as harvest %}
    {% trans "Map: Equipment Points, Beneficiary Organizations & Community Fridges" as map %}

    <ul class="list-group" style="list-style-type: square">
        <li><a href="https://core.lesfruitsdefendus.org/s/kGdMRpLDB6pKbMi">{{waiver}}</a></li>
        {% if LANGUAGE_CODE == "en" %}
            <li><a href="https://core.lesfruitsdefendus.org/s/EzxazYFo9yKknzf">{{prepick}}</a></li>
            <li><a href="https://core.lesfruitsdefendus.org/s/XF9BsA2E3XtSt4k">{{annexB}}</a></li>
            <li><a href="https://core.lesfruitsdefendus.org/s/tfBdJpT7XwdwqNk">{{annexD}}</a></li>
            <li><a href="https://core.lesfruitsdefendus.org/s/cJQPc82H7C9zzNB">{{harvest}}</a></li>
        {% else %}
            <li><a href="https://core.lesfruitsdefendus.org/s/WGLxswS9tx7jDkE">{{prepick}}</a></li>
            <li><a href="https://core.lesfruitsdefendus.org/s/4AqHtTn4K9oCeDY">{{annexB}}</a></li>
            <li><a href="https://core.lesfruitsdefendus.org/s/g9kMGsnr8g2e857">{{annexD}}</a></li>
            <li><a href="https://core.lesfruitsdefendus.org/s/JA2sP6dQgkdkLNH">{{harvest}}</a></li>
        {% endif %}
        <li> <a href="mailto:info@lesfruitsdefendus.org">{{map}}</a> </li>
        <li> <a href="https://drive.google.com/open?id=1VJbxaFKosG7gLgfvYJZ9m6rhTg0M3ZDy&usp=sharing">{% trans "Contact us" %}</a> </li>
        <li> <a href="tech@lesfruitsdefendus.org">{% trans "Technical Support Email" %}</a> </li>
    </ul>
</div>
