
{% load i18n %}

<b>{% trans "Please follow these steps to volunteer as a fruit picker" %} :</b>
<div class="panel-body">

    {% trans "Take a look at our Harvest calendar. Note that new picks are published daily at 6 p.m." as step1 %}
    {% trans "Click on the harvest that interests you to see the details." as step2 %}
    {% trans "If you'd like to join the pick, fill out the short form and hit send to submit your request." as step3 %}
    {% trans "Wait to be contacted (by email or phone) by the pick leader in charge to get a confirmation." as step4 %}
    {% trans "If you have been accepted for a harvest, show up!" as step5 %}

    <ol style="list-style: decimal inside;">
        <li> {{step1}} </li>
        <li> {{step2}} </li>
        <li> {{step3}} </li>
        <li> {{step4}} </li>
        <li> {{step5}} </li>
    </ol>
</div>

<div class="breadcomb-report">
    <div class="text-left mg-t-30">
        <a href="/calendar" class="btn btn-sm" role="button">{% translate 'Go to calendar' %}</a>
    </div>
</div>
