{% extends "app/base_site.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block head %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{% trans "Edit recipient" %}</h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                <button type="reset" class="btn btn-danger">{% trans "Reset" %}</button>
                {% endbuttons %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
