{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block content %}

    <div class="wizard-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wizard-wrap-int">
                        <div class="wizard-hd">
                            <h1>{% trans "Harvest calendar" %}</h1>
                            <hr>
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wizard area End-->

    <!-- harvest open modal -->
    <div id="OpenModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title text-center" id="myModalLabel2"><span id="title"></span></h4>
          </div>
          <div class="modal-body">
         <!-- top tiles -->

          <div class="row tile_count">
            <div class="col-md-6 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-clock-o"></i> {% trans "Schedule" %}</span>
              <div class="count" id="start_date_str"></div>
              <span class="count_bottom"><i id="start_time"></i><i> {% trans "to" %} </i><i id="end_time"></i></span>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Pickers required</span>
              <div class="count" id="nb_required_pickers"></div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Requests so far</span>
              <div class="count green" id="nb_requests"></div>
            </div>
          </div>
          <!-- /top tiles -->
             <blockquote>
                <p id="description"></p>
             </blockquote>

            <div id="testmodal2" style="padding: 5px 20px;">
                {% if user.is_authenticated %}
                   <div class="row">
                     <a id="harvest_url" class="btn btn-default " href="">{% trans "View harvest details" %}</a>
                   </div>
                {% endif %}

                <hr>
                <h4>{% trans "Request to participate" %}</h4>
                <form id="form_request" method="post" action="">
                    {% csrf_token %}
                    {% bootstrap_form form_request %}
                    <input type="hidden" name="harvest_id" value="" id="harvest_id" />
                    {% buttons %}
                        <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary antosubmit2">{% trans "Send" %}</button>
                    {% endbuttons %}
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /harvest open modal -->

    <!-- harvest closed modal -->
    <div id="ClosedModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title text-center" id="myModalLabel2"><span id="title_closed"></span></h4>
          </div>
          <div class="modal-body">

         <!-- top tiles -->

          <div class="row tile_count">
            <div class="col-xs-6 tile_stats_count">
             <span class="count_top"><i class="fa fa-calendar-check-o"></i> Status</span>
             <span id="status"></span>
            </div>
            <div class="col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>{% trans "Total harvested" %}</span>
              <div class="count" id="total_harvested"></div>
            </div>
          </div>
          <!-- /top tiles -->
             <blockquote>
                <p id="description_closed"></p>
             </blockquote>

            <div id="testmodal2" style="padding: 5px 20px;">
                {% if user.is_authenticated %}
                   <div class="row">
                     <a id="harvest_url_closed" class="btn btn-default " href="">{% trans "View harvest details" %}</a>
                   </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- /harvest closed modal -->


  </div>


{% endblock content %}
