{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Breadcomb area Start-->
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-ctn">
                                    <div class="accordion-stn">
                                        <div aria-multiselectable="true" class="panel-group"
                                             data-collapse-color="nk-green"
                                             id="accordionGreen" role="tablist">
                                            <div class="panel panel-collapse notika-accrodion-cus">
                                                <div class="panel-heading" role="tab">
                                                    <h4 class="panel-title">
                                                        <a aria-expanded="true" data-parent="#accordionGreen"
                                                           data-toggle="collapse" href="#accordionGreen-one">Filters</a>
                                                    </h4>
                                                </div>
                                                <div class="collapse" id="accordionGreen-one" role="tabpanel">
                                                    <div class="panel-body">
                                                        <form role="form">
                                                            {% csrf_token %}
                                                            {{ form|crispy }}
                                                            <div class="form-group">
                                                                <button class="btn btn-primary" type="submit">{% trans "Filter" %}
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <a href="/admin/member/authuser/add/" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> {% trans "New person" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Breadcomb area End-->

<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="table-responsive">
                        <table class="table table-striped" id="data-table-basic">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans "Person" %}</th>
                                <th style="width: 15%">{% trans "Roles" %}</th>
                                <th>{% trans "Neighborhood" %}</th>
                                <th style="width: 20%">{% trans "Picks leading" %}</th>
                                <th>{% trans "Properties" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in data %}
                            <tr>
                                <td>{{ user.person.actor_id }}</td>
                                <td>
                                    <span><b>{{ user.person_name }}</b> &nbsp;
                                    {% if perms.member.change_person %}
                                        <small><a href="/person/update/{{user.person.actor_id}}">
                                            <i class="fa fa-pencil"></i>
                                        </a></small>
                                    {% endif %}
                                    </span><br>
                                    <small><a href='mailto:{{user.email}}'>{{ user.email }}</a> &nbsp;
                                    {% if perms.member.change_authuser %}
                                    <a href="/admin/member/authuser/{{user.id}}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    </small>
                                    <br><small>{{ user.person.phone|default:"" }}</small>
                                </td>
                                <td>
                                    <ul>
                                        {% if user.person.properties %}
                                            <li>{% trans "Tree owner"%}</li>
                                        {% endif %}
                                        {% if user.as_leader %}
                                            <li>{% trans "Pick leader" %}</li>
                                        {% endif %}
                                        {% if user.is_core_member %}
                                            <li>{% trans "Core Member" %}</li>
                                        {% elif user.is_staff %}
                                            <li>{% trans "Staff" %}</li>
                                        {% endif %}
                                        {% if user.person.harvests %}
                                            <li>{% trans "Picker" %}</li>
                                        {% endif %}
                                    </ul>
                                </td>
                                <td>{{ user.person.neighborhood.name }}</td>
                                <td>
                                    <ul class="list-inline">
                                        {% for harvest in user.as_leader %}
                                        <li>
                                            <a data-placement="top" data-toggle="tooltip" href='/harvest/{{ harvest.id }}'
                                               title="Harvest #{{ harvest.id }} in {{ harvest.start_date }} by {{ harvest.pick_leader__person__first_name }}">
                                                {% if harvest.status == "Succeeded" %}
                                                <i class="fa fa-shopping-basket fa-lg text-success"
                                                   style="padding-top:7px;"></i>
                                                {% elif harvest.status == "Cancelled" %}
                                                <i class="fa fa-shopping-basket fa-lg text-danger"
                                                   style="padding-top:7px;"></i>
                                                {% else %}
                                                <i class="fa fa-shopping-basket fa-lg text-warning"
                                                   style="padding-top:7px;"></i>
                                                {% endif %}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    {% for property in user.person.properties %}
                                        <p><a href="/property/{{ property.id }}">{{ property.short_address }}</a></p>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
<!-- Data Table area End-->
