{% extends 'app/base/view.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/faq-list.css' %}">
{% endblock style %}

{% block script %}
<script src="{% static 'js/faq-list.js' %}"></script>
{% endblock script %}

{% block content %}
    <div style="display: flex; flex-flow: column; align-items: center;">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <div class="wb-traffic-inner mg-b-15">
                <div class="breadcomb-icon">
                    <i class="notika-icon notika-search"></i>
                </div>
                <div class="breadcomb-ctn">
                    <h1>{% trans "Frequently Asked Questions" %}</h1>
                </div>
            </div>

            {% for faq in FAQs %}
                <div class="wb-traffic-inner mg-b-15"
                     style="display: flex;
                            flex-direction: column;
                            gap: 1em">
                    <h4>{{faq.title | safe}}</h4>
                    <ul class="faq-list">
                        {% for item in faq.items %}
                        <li>
                            <div class="faq-item">
                                <div class="faq-question-row">
                                    <i class="fa fa-plus"></i>
                                    <span class="faq-question">{{item.question | safe}}</span>
                                </div>
                                <div class="faq-answer">
                                    {{item.answer | safe}}
                                </div>
                            </div>
                        </li>
                        <br>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock content %}
