{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}

{% block content %}

        <!-- Breadcomb area Start-->
        <div class="breadcomb-area">
            <div class="container">
                 <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcomb-list">
                                 <div class="row">
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="breadcomb-wp">
                                                 <div class="breadcomb-ctn">
                                                      <div class="accordion-stn">
                                                          <div class="panel-group" data-collapse-color="nk-green" id="accordionGreen" role="tablist" aria-multiselectable="true">
                                                              <div class="panel panel-collapse notika-accrodion-cus">
                                                                  <div class="panel-heading" role="tab">
                                                                      <h4 class="panel-title">
                                                                          <a data-toggle="collapse" data-parent="#accordionGreen" href="#accordionGreen-one" aria-expanded="true">Filters</a>
                                                                      </h4>
                                                                  </div>
                                                                  <div id="accordionGreen-one" class="collapse" role="tabpanel">
                                                                      <div class="panel-body">
                                                                          <form role="form">
                                                                             {% csrf_token %}
                                                                             {{ form|bootstrap }}
                                                                             <div class="form-group">
                                                                               <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
                                                                             </div>
                                                                          </form>
                                                                       </div>
                                                                   </div>
                                                               </div>
                                                           </div>
                                                       </div>
                                            </div>
                                      </div>
                                 </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                       <div class="breadcomb-report">
                           <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
                      </div>
                </div>
            </div>
        </div>
     </div>
  </div>
 </div>
</div>
        <!-- Breadcomb area End-->

    <!-- Data Table area Start-->
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="data-table-list">
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                       <th>#</th>
                                       <th>{% trans "Harvest details" %}</th>
                                       <th>{% trans "Tree" %}</th>
                                       <th>{% trans "Neighborhood" %}</th>
                                       <th style="width: 12%">{% trans "Status" %}</th>
                                       <th>{% trans "Leader" %}</th>
                                       <th>{% trans "Date" %}</th>
                                     <!-- Commenting out hardcoded style... still not ideal with firefox, OKish with Chrome(ium)
                                       <th style="width: 1%">#</th>
                                       <th style="width: 15%">{% trans "Harvest" %}</th>
                                       <th>{% trans "Tree" %}</th>
                                       <th style="width: 12%">{% trans "Neighborhood" %}</th>
                                       <th>{% trans "Status" %}</th>
                                       <th style="width: 12%">{% trans "Pick Leader" %}</th>
                                       <th>{% trans "Date" %}</th> -->
                                     </tr>
                                </thead>
                                <tbody>
                                {% for harvest in data %}
                                    <tr>
                                      <td>{{ harvest.id }}</td>
                                      <td>
                                        <a href='/harvest/{{harvest.id}}'>{{ harvest.property.title }}</a>
                                      </td>
                                      <td>
                                        {% for tree in harvest.trees %}
                                        <div class="text-nowrap">{{ tree }}</div>
                                        {% endfor %}
                                      </td>
                                      <td>{{ harvest.property.neighborhood.name }}</td>
                                      <td>
                                        {% if harvest.status == "Succeeded" %}
                                          <div class="skill">
                                            <div class="progress">
                                                <div class="lead-content">{% trans "Succeeded" %}</div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="100%" style="width: 100%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                            </div>
                                          </div>
                                        {% endif %}
                                        {% if harvest.status == "Cancelled" %}
                                          <div class="skill">
                                            <div class="progress">
                                                <div class="lead-content">{% trans "Cancelled" %}</div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="100%" style="background-color: #f44336; width: 100%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                            </div>
                                          </div>
                                        {% endif %}
                                        {% if harvest.status == "Orphan" %}
                                          <div class="skill">
                                            <div class="progress">
                                                <div class="lead-content">{% trans "Orphan" %}</div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="0%" style="width: 0%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                            </div>
                                          </div>
                                        {% endif %}
                                        {% if harvest.status == "Adopted" %}
                                          <div class="skill">
                                            <div class="progress">
                                                <div class="lead-content">{% trans "Adopted" %}</div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="20%" style="background-color: #FFC30F; width: 20%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                            </div>
                                          </div>
                                        {% endif %}
                                        {% if harvest.status == "To-be-confirmed" %}
                                          <div class="skill">
                                            <div class="progress">
                                                <div class="lead-content">{% trans "Pending auth." %}</div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="40%" style="background-color: #FFC30F; width: 40%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                            </div>
                                          </div>
                                        {% endif %}
                                        {% if harvest.status == "Date-scheduled" %}
                                          <div class="skill">
                                            <div class="progress">
                                                <div class="lead-content">{% trans "Scheduled" %}</div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="60%" style="background-color: #FFC30F; width: 60%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                            </div>
                                          </div>
                                        {% endif %}
                                        {% if harvest.status == "Ready" %}
                                          <div class="skill">
                                            <div class="progress">
                                                <div class="lead-content">{% trans "Ready" %}</div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="80%" style="background-color: #FFC30F; width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s"></div>
                                            </div>
                                          </div>
                                        {% endif %}
                                      </td>
                                      <td>
                                        {% if harvest.pick_leader %}
                                          {{ harvest.pick_leader|default:'' }}
                                        {% endif %}
                                      </td>
                                      <td>
                                        <div class="text-nowrap">{{ harvest.start_date }}</div>
                                        <small>{{ harvest.start_time }}</small>
                                      </td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    <!-- Data Table area End-->
