{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}

{% block content %}

	<!-- Breadcomb area Start-->
	<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-house"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>Widgets</h2>
										<p>Welcome to Notika <span class="bread-ntd">Admin Template</span></p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
								<div class="breadcomb-report">
									<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcomb area End-->
    <!-- Start Status area -->
    <div class="notika-status-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">50,000</span></h2>
                            <p>Total Website Traffics</p>
                        </div>
                        <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">90,000</span>k</h2>
                            <p>Website Impressions</p>
                        </div>
                        <div class="sparkline-bar-stats2">1,4,8,3,5,6,4,8,3,3,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2>$<span class="counter">40,000</span></h2>
                            <p>Total Online Sales</p>
                        </div>
                        <div class="sparkline-bar-stats3">4,2,8,2,5,6,3,8,3,5,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">1,000</span></h2>
                            <p>Total Support Tickets</p>
                        </div>
                        <div class="sparkline-bar-stats4">2,4,8,4,5,7,4,7,3,5,7,5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Status area-->
    <!-- Start Email Statistic area-->
    <div class="notika-email-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="recent-signup-inner notika-shadow mg-t-30">
                        <div class="realtime-ctn">
                            <div class="realtime-title widget-inner-wp signup-hd-wd">
                                <h2>Most Recent Signups</h2>
                                <p>Magna cursus malesuada lacinia</p>
                            </div>
                        </div>
                        <div class="widget-signup-list">
                            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="John Deo" href="#"><img src="img/post/1.jpg" alt="" /></a>
                            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="Anisha" href="#">A</a>
                            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="Weldro" href="#">W</a>
                            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="Smith" href="#"><img src="img/post/2.jpg" alt="" /></a>
                            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="Payel" href="#">P</a>
                            <a class="signup-wd-mn" data-toggle="tooltip" data-placement="top" title="Salim Sha" href="#">S</a>
                            <a data-toggle="tooltip" data-placement="top" title="John Deo" href="#"><img src="img/post/1.jpg" alt="" /></a>
                            <a data-toggle="tooltip" data-placement="top" title="Malika" href="#"><img src="img/post/4.jpg" alt="" /></a>
                            <a data-toggle="tooltip" data-placement="top" title="Elisha" href="#">E</a>
                            <a data-toggle="tooltip" data-placement="top" title="Bakis" href="#">B</a>
                            <a data-toggle="tooltip" data-placement="top" title="Smith" href="#"><img src="img/post/2.jpg" alt="" /></a>
                            <a data-toggle="tooltip" data-placement="top" title="Camerun" href="#">C</a>
                            <a data-toggle="tooltip" data-placement="top" title="Helina" href="#">H</a>
                            <a data-toggle="tooltip" data-placement="top" title="John Deo" href="#"><img src="img/post/1.jpg" alt="" /></a>
                            <a data-toggle="tooltip" data-placement="top" title="Konika" href="#">K</a>
                            <a data-toggle="tooltip" data-placement="top" title="Smith" href="#"><img src="img/post/2.jpg" alt="" /></a>
                            <a data-toggle="tooltip" data-placement="top" title="Conika" href="#">C</a>
                            <a data-toggle="tooltip" data-placement="top" title="Onita" href="#">O</a>
                            <a data-toggle="tooltip" data-placement="top" title="John Deo" href="#"><img src="img/post/1.jpg" alt="" /></a>
                            <a data-toggle="tooltip" data-placement="top" title="Unity" href="#">U</a>
                            <a data-toggle="tooltip" data-placement="top" title="John Deo" href="#"><img src="img/post/1.jpg" alt="" /></a>
                            <a data-toggle="tooltip" data-placement="top" title="Gorila" href="#">G</a>
                            <a data-toggle="tooltip" data-placement="top" title="Smith" href="#"><img src="img/post/2.jpg" alt="" /></a>
                            <a data-toggle="tooltip" data-placement="top" title="Fahima" href="#">F</a>
                            <a class="widgets-mg-sn" data-toggle="tooltip" data-placement="top" title="Anika" href="#">H</a>
                            <a class="widgets-mg-sn" data-toggle="tooltip" data-placement="top" title="John Deo" href="#"><img src="img/post/1.jpg" alt="" /></a>
                            <a class="widgets-mg-sn" data-toggle="tooltip" data-placement="top" title="Lemerun" href="#">K</a>
                            <a class="widgets-mg-sn" data-toggle="tooltip" data-placement="top" title="Chapan" href="#">C</a>
                            <a class="widgets-mg-sn" data-toggle="tooltip" data-placement="top" title="Heris" href="#">H</a>
                            <a class="widgets-mg-sn" data-toggle="tooltip" data-placement="top" title="John Deo" href="#"><img src="img/post/1.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="ongoing-task-inner notika-shadow mg-t-30">
                        <div class="realtime-ctn">
                            <div class="realtime-title ongoing-hd-wd">
                                <h2>Ongoing Tasks</h2>
                                <p>Magna cursus malesuada lacinia</p>
                            </div>
                        </div>
                        <div class="skill-content-3 ongoing-tsk">
                            <div class="skill">
                                <div class="progress">
                                    <div class="lead-content">
                                        <p>HTML5 Validation Report</p>
                                    </div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>95%</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="lead-content">
                                        <p>Google Chrome Extension</p>
                                    </div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 85%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>85%</span> </div>
                                </div>
                                <div class="progress">
                                    <div class="lead-content">
                                        <p>Social Internet Projects</p>
                                    </div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="70%" style="width: 70%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>70%</span> </div>
                                </div>
                                <div class="progress">
                                    <div class="lead-content">
                                        <p>Bootstrap Admin</p>
                                    </div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="60%" style="width: 60%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>60%</span> </div>
                                </div>
                                <div class="progress progress-bt">
                                    <div class="lead-content">
                                        <p>Youtube App</p>
                                    </div>
                                    <div class="progress-bar wow fadeInLeft" data-progress="50%" style="width: 50%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>50%</span> </div>
                                </div>
                            </div>
                            <div class="view-all-onging">
                                <a href="#">View All Tasks</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="blog-inner-list notika-shadow mg-t-30 tb-res-ds-n dk-res-ds">
                        <div class="blog-img">
                            <img src="img/blog/1.jpg" alt="" />
                        </div>
                        <div class="blog-ctn">
                            <div class="blog-hd-sw">
								<h2> The best viral website ideas!</h2>
								<a class="bg-au" href="#">By Malinda on 9th June 2018</a>
							</div>
                            <p>Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                            <a class="vw-at" href="#">View Article...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Email Statistic area-->
    <!-- Start Contact Info area-->
    <div class="contact-info-area mg-t-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-inner">
                        <div class="contact-hd widget-ctn-hd">
                            <h2>Contact Information</h2>
                            <p>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero</p>
                        </div>
                        <div class="contact-dt">
                            <ul class="contact-list widget-contact-list">
                                <li><i class="notika-icon notika-phone"></i> +8801962067309</li>
                                <li><i class="notika-icon notika-mail"></i> lucid@gmail.com</li>
                                <li><i class="notika-icon notika-facebook"></i> facebook</li>
                                <li><i class="notika-icon notika-twitter"></i> @lucid twitter</li>
                                <li><i class="notika-icon notika-map"></i> 44-46 uttara Road, Bangladesh</li>
                            </ul>
                        </div>
                        <div class="contact-map widget-contact-map">
                            <div id="map6"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-form sm-res-mg-t-30 tb-res-mg-t-30 tb-res-mg-t-0">
                        <div class="contact-hd sm-form-hd">
                            <h2>Sample Form</h2>
                            <p>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero</p>
                        </div>
                        <div class="contact-form-int">
                            <div class="form-group">
                                <div class="form-single nk-int-st widget-form">
                                    <input type="text" class="form-control" placeholder="First Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-single nk-int-st widget-form">
                                    <input type="text" class="form-control" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-single nk-int-st widget-form">
                                    <input type="email" class="form-control" placeholder="Email Address" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-single nk-int-st widget-form">
                                    <input type="number" class="form-control" placeholder="Contact Number" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-single nk-int-st widget-form">
                                    <textarea name="message" class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="contact-btn">
                                <button class="button btn">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="widget-tabs-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-ds-n dk-res-ds">
                        <div class="contact-hd tm-activity">
                            <h2>Team Activity</h2>
                            <p>Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero</p>
                        </div>
                        <div class="widget-tabs-list">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Tab One</a></li>
                                <li><a data-toggle="tab" href="#menu1">Tab Two</a></li>
                                <li><a data-toggle="tab" href="#menu2">Tab Three</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                    <div class="tab-wd-img">
                                        <img src="img/widgets/6.png" alt="" />
                                    </div>
                                    <div class="tab-ctn">
                                        <p>Serhoncus quis est sit amete in nisl molestie of fringilla. Nunc vitae ante magna feugiat condi. Serhoncus quis est cry int fly.</p>
                                        <ul class="tab-ctn-list">
											<li><i class="notika-icon notika-next"></i> Serhoncus quis est cry int fly.</li>
                                            <li><i class="notika-icon notika-next"></i> Nisl molestie fringi cry int pro.</li>
                                            <li><i class="notika-icon notika-next"></i> Maecenas sit amet urna cry int.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <div class="tab-wd-img">
                                        <img src="img/widgets/2.png" alt="" />
                                    </div>
                                    <div class="tab-ctn">
                                        <p>Serhoncus quis est sit amete in nisl molestie of fringilla. Nunc vitae ante magna feugiat condi. Serhoncus quis est cry int fly.</p>
                                        <ul class="tab-ctn-list">
                                            <li><i class="notika-icon notika-next"></i> Serhoncus quis est cry int fly.</li>
                                            <li><i class="notika-icon notika-next"></i> nisl molestie fringi cry int pro.</li>
                                            <li><i class="notika-icon notika-next"></i> Maecenas sit amet urna cry int.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <div class="tab-wd-img">
                                        <img src="img/widgets/4.png" alt="" />
                                    </div>
                                    <div class="tab-ctn">
                                        <p>Serhoncus quis est sit amete in nisl molestie of fringilla. Nunc vitae ante magna feugiat condi. Serhoncus quis est cry int fly.</p>
                                        <ul class="tab-ctn-list">
											<li><i class="notika-icon notika-next"></i> Serhoncus quis est cry int fly.</li>
                                            <li><i class="notika-icon notika-next"></i> nisl molestie fringi cry int pro.</li>
                                            <li><i class="notika-icon notika-next"></i> Maecenas sit amet urna cry int.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Info area-->
{% endblock content %}
