{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}
{% load is_person %}

{% block content %}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h1>
                                    {% if property.owner %}
                                        {{ property.title }}
                                    {% else %}
                                        {{ property.pending_contact_name }}
                                        at {{ property.address }}
                                    {% endif %}
                                    </h1>
                                    {% if property.pending %}
                                        <h4>** PENDING **</h4>
                                    {% elif property.last_succeeded_harvest %}
                                    <p>{% trans "Last succeeded harvest"  %} on {{ property.last_succeeded_harvest|date }}</p>
                                    {% else %}
                                    <p>No succeeded harvest on this property so far</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <div class="breadcomb-report">
                                <a href="/property/update/{{ property.id }}">
                                <button data-placement="left" title="Edit property" class="btn">Edit</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-engine-area mg-t-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="search-engine-int">
                    <div class="contact-hd search-hd-eg">
                        <h2>About this property</h2>
                        <p>{{ property.additional_info|default:"" }}</p>
                        <hr>
                        <div class="tpgp-ele-tx">
                            <h2>Address</h2>
                            <p>{{ property.address }}</p>
                            <p>{{ property.neighborhood.name }}</p>
                            <br>

                            <h2>Available tree(s)</h2>

                            <ul>
                                {% for tree in property.trees %}
                                <li>{{ tree }}</li>
                                {% endfor %}
                            </ul>
                            {% if property.trees_location %}
                            <br>
                            <strong>{% trans "Notes" %} :</strong> {{ property.trees_location }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="search-engine-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-ds-n dk-res-ds">
                    <div class="contact-hd search-hd-eg">
                        {% if property.owner %}
                            <h2>{% trans "Owner" %}
                            {% if perms.member.change_person %}
                                &nbsp;
                                <small><a href="/person/update/{{property.owner.pk}}">
                                        <i class="fa fa-pencil"></i> {% trans "edit" %}
                                </a></small>
                            {% endif %}
                            </h2>
                        {% else %}
                            <h2>{% trans "Contact" %}
                            {% if perms.member.change_person %}
                                &nbsp;
                                <small><a href="/person/create/?pid={{property.id}}">
                                        <i class="fa fa-pencil"></i> register
                                </a></small>
                            {% endif %}
                            </h2>
                        {% endif %}
                        </h2>
                    </div>
                    <p class="lead">
                    {% if property.owner %}
                        {{ property.owner.fields.name }}
                    {% else %}
                        {{ property.pending_contact_name }}
                    {% endif %}
                    </p>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>{% trans "Phone" %}</td>
                            <td class="text-right">
                                <h5>
                                {% if property.owner %}
                                    {{ property.owner.fields.phone }}
                                {% else %}
                                    {{ property.pending_contact_phone }}
                                {% endif %}
                                </h5>
                            </td>
                        </tr>

                        <tr>
                            <td>{% trans "Email" %}</td>
                            <td class="text-right">
                                <h5>
                                {% if property.owner %}
                                    {{ property.owner.fields.email }}
                                {% else %}
                                    {{ property.pending_contact_email }}
                                {% endif %}
                                </h5>
                            </td>
                        </tr>

                        {% if property.owner %}
                            {% if property.owner.fields.language != 'None' %}
                                <tr>
                                    <td>{% trans "Language" %}</td>
                                    <td class="text-right">
                                        <h5>{{ property.owner.fields.language }}</h5>
                                    </td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <!-- TODO: preferred language -->
                        {% endif %}

                        {% if property.owner.fields.comments %}
                        <tr>
                            <td>{% trans "Comments" %}</td>
                            <td class="text-right">
                                <p>{{ property.owner.fields.comments }}</p>
                            </td>
                        </tr>
                        {% endif %}

                    </table>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="search-engine-int sm-res-mg-t-30 tb-res-mg-t-30 tb-res-mg-t-0">
                <div class="contact-hd search-hd-eg">
                    <h2>Property features</h2>
                </div>
                <div class="search-eg-table">
                    <table class="table">
                        <tbody>
                        {% if property.is_active %}
                        {% if property.pending %}
                        <tr><td class="text-right"><i class="notika-icon notika-down-arrow"></i> {% trans "Pending validation" %}</td></tr>
                        {% else %}
                        <tr><td class="text-right"><i class="notika-icon notika-up-arrow"></i> {% trans "Validated" %}</td></tr>
                        {% endif %}
                        {% if property.pending and property.pending_recurring %}
                        <tr><td class="text-right"><i class="notika-icon notika-up-arrow"></i> <b class="text-warning">{% trans "Has already been registered in the past" %}</b></td></tr>
                        {% endif %}
                        {% if property.authorized is None %}
                        <tr><td class="text-right"><i class="notika-icon notika-up-arrow"></i> {% trans "Not yet authorized" %}</td></tr>
                        {% elif property.authorized %}
                        <tr><td class="text-right"><i class="notika-icon notika-up-arrow"></i> {% trans "Authorized for the current season" %}</td></tr>
                        {% else %}
                        <tr><td class="text-right"><i class="notika-icon notika-down-arrow"></i> {% trans "Not authorized for this season" %}</td></tr>
                        {% endif %}
                        {% else %}
                        <tr><td class="text-right"><i class="notika-icon notika-down-arrow"></i> {% trans "This property is marked as inactive" %}</td></tr>
                        {% endif %}
                        {% if property.harvest_every_year %}
                        <tr><td class="text-right"><i class="notika-icon notika-up-arrow"></i> {% trans "Produces fruits every year" %}</td></tr>
                        {% else %}
                        <tr><td class="text-right"><i class="notika-icon notika-down-arrow"></i> {% trans "Does not produce fruits every year" %}</td></tr>
                        {% endif %}
                        {% if property.avg_nb_required_pickers %}
                        <tr><td class="text-right"><i class="notika-icon notika-up-arrow"></i> {{ property.avg_nb_required_pickers }} {% trans "picker(s) needed" %}</td></tr>
                        {% else %}
                        <tr><td class="text-right"><i class="notika-icon notika-down-arrow"></i> {% trans "Number of pickers not specified" %}</td></tr>
                        {% endif %}
                        {% if property.ladder_available %}
                        <tr><td class="text-right"><i class="notika-icon notika-up-arrow"></i> {% trans "Ladder available" %}</td></tr>
                        {% if property.ladder_available_for_outside_picks %}
                        <tr><td class="text-right"><i class="notika-icon notika-up-arrow"></i> {% trans "Ladder available for outside picks" %}</td></tr>
                        {% endif %}
                        {% else %}
                        <tr><td class="text-right"><i class="notika-icon notika-down-arrow"></i> {% trans "No ladder available" %}</td></tr>
                        {% endif %}
                        {% if property.public_access %}
                        <tr><td class="text-right"><i class="notika-icon notika-up-arrow"></i> {% trans "Publicly accessible" %}</td></tr>
                        {% else %}
                        <tr><td class="text-right"><i class="notika-icon notika-down-arrow"></i> {% trans "Not publicly accessible" %}</td></tr>
                        {% endif %}
                        {% if property.neighbor_access %}
                        <tr><td class="text-right"><i class="notika-icon notika-up-arrow"></i> {% trans "Access to neighbors terrain" %}</td></tr>
                        {% else %}
                        <tr><td class="text-right"><i class="notika-icon notika-down-arrow"></i> {% trans "No permission to access neighbors terrain" %}</td></tr>
                        {% endif %}
                        {% if property.compost_bin %}
                        <tr><td class="text-right"><i class="notika-icon notika-up-arrow"></i> {% trans "Compost bin closeby" %}</td></tr>
                        {% else %}
                        <tr><td class="text-right"><i class="notika-icon notika-down-arrow"></i> {% trans "No compost bin closeby" %}</td></tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<!-- Data Table area Start-->
<div class="search-engine-area mg-t-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="table-responsive">
                        <table class="table table-striped" id="data-table-basic">
                            <thead>
                            <tr>
                                <th style="width: 12%">{% trans "Pickleader" %}</th>
                                <th style="width: 12%">{% trans "Status" %}</th>
                                <th style="width: 20%">{% trans "Date" %}</th>
                            </tr>
                            </thead>
                            {% for harvest in property.harvests %}
                            <tr>
                                <td>{{ harvest.pick_leader__person__first_name }}</td>
                                <td>
                                    {% if harvest.status == "Succeeded" %}
                                    <div class="skill">
                                        <div class="progress">
                                            <div class="lead-content">{% trans "Succeeded" %}</div>
                                            <div class="progress-bar wow fadeInLeft"
                                                 data-progress="100%" data-wow-delay="1.2s"
                                                 data-wow-duration="1.5s" style="width: 100%;"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if harvest.status == "Cancelled" %}
                                    <div class="skill">
                                        <div class="progress">
                                            <div class="lead-content">{% trans "Cancelled" %}</div>
                                            <div class="progress-bar wow fadeInLeft"
                                                 data-progress="100%"
                                                 data-wow-delay="1.2s"
                                                 data-wow-duration="1.5s"
                                                 style="background-color: #f44336; width: 100%;"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if harvest.status == "Orphan" %}
                                    <div class="skill">
                                        <div class="progress">
                                            <div class="lead-content">{% trans "Orphan" %}</div>
                                            <div class="progress-bar wow fadeInLeft" data-progress="0%"
                                                 data-wow-delay="1.2s" data-wow-duration="1.5s"
                                                 style="width: 0%;"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if harvest.status == "Adopted" %}
                                    <div class="skill">
                                        <div class="progress">
                                            <div class="lead-content">{% trans "Adopted" %}</div>
                                            <div class="progress-bar wow fadeInLeft" data-progress="20%"
                                                 data-wow-delay="1.2s"
                                                 data-wow-duration="1.5s"
                                                 style="background-color: #FFC30F; width: 20%;"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if harvest.status == "To-be-confirmed" %}
                                    <div class="skill">
                                        <div class="progress">
                                            <div class="lead-content">{% trans "Pending auth." %}</div>
                                            <div class="progress-bar wow fadeInLeft" data-progress="40%"
                                                 data-wow-delay="1.2s"
                                                 data-wow-duration="1.5s"
                                                 style="background-color: #FFC30F; width: 40%;"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if harvest.status == "Date-scheduled" %}
                                    <div class="skill">
                                        <div class="progress">
                                            <div class="lead-content">{% trans "Scheduled" %}</div>
                                            <div class="progress-bar wow fadeInLeft" data-progress="60%"
                                                 data-wow-delay="1.2s"
                                                 data-wow-duration="1.5s"
                                                 style="background-color: #FFC30F; width: 60%;"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if harvest.status == "Ready" %}
                                    <div class="skill">
                                        <div class="progress">
                                            <div class="lead-content">{% trans "Ready" %}</div>
                                            <div class="progress-bar wow fadeInLeft" data-progress="80%"
                                                 data-wow-delay="1.2s"
                                                 data-wow-duration="1.5s"
                                                 style="background-color: #FFC30F; width: 80%;"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </td>
                                <td>{{ harvest.start_date }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
