{% extends 'app/base/view.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div>
    <div class="row">
        <div class="col text-center mg-t-15">
            <h2>{{thanks.title}}<h2>
            <h4>{{thanks.subtitle}}</h4>
            <br>
            <p>{{thanks.body.html | safe}}</p>
            <br>
            <a href="{% url 'home' %}">
                <button title="Home" class="btn btn-primary notika-btn-primary">
                  {% trans 'Back to Home' %}
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock content %}
