{% extends 'app/base/view.html' %}
{% load i18n %}
{% load static %}

{% block content %}

    <!-- Start Highlights area -->
    <div class="notika-status-area mg-tb-20">
        <div class="container">
            <div class="row">
                <!-- Start Dropdown area -->
                <div class="col-sm-2">
                    <div class="col-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                            <div class="tile_stats_count">
                                <span class="count_top"><i class="fa fa-calendar-check-o"></i> {% trans "Season" %}</span>
                                <span class="count">
                                    <div class="dropdown">
                                        <button
                                        class="btn btn-default dropdown-toggle"
                                        id="menu1"
                                        data-toggle="dropdown"
                                        style="font-size:0.85em;font-weight:bold;color:#73879C;"
                                        >
                                        <h3>
                                            <span class="count">
                                                {% if season is None %}
                                                    {% trans "All" %}
                                                {% else %}
                                                    {{ season }}
                                                {% endif %}
                                            </span>
                                            <span class="caret"></span>
                                        </h3>
                                        </button>
                                        <ul
                                        class="dropdown-menu"
                                        role="menu"
                                        aria-labelledby="menu1"
                                        >
                                            {% for season in seasons %}
                                                <li role="presentation">
                                                    <a role="menuitem" tabindex="-1" href="{% url 'statistics' %}?season={{ season }}">
                                                        {{ season }}
                                                    </a>
                                                </li>
                                                <li role="presentation" class="divider"></li>
                                            {% endfor %}
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" href="{% url 'statistics' %}">
                                                    {% trans "All Seasons" %}
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Dropdown area -->
                <div class="col-sm-10">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                                <div class="tile_stats_count">
                                    <span class="count_top"><i class="fa fa-shopping-basket"></i> {% trans "Harvests" %}</span>
                                    <h2><span class="count">{{highlights.total_harvests}}</span></h2>
                                    <span class="count_bottom text-muted">{% trans "Succeeded"%}</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                                <div class="tile_stats_count">
                                    <span class="count_top"><i class="fa fa-users"></i> {% trans "Pickers" %}</span>
                                    <h2><span class="count">{{highlights.total_pickers}}</span></h2>
                                    <span class="count_bottom text-muted">{% trans "Participated"%}</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                                <div class="tile_stats_count">
                                    <span class="count_top"><i class="fa fa-university"></i> {% trans "Beneficiary" %}</span>
                                    <h2><span class="count">{{highlights.total_beneficiaries}}</span></h2>
                                    <span class="count_bottom text-muted">{% trans "Organizations"%}</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                                <div class="tile_stats_count">
                                    <span class="count_top"><i class="fa fa-balance-scale"></i> {%trans "Total weight" %}</span>
                                    <h2><span class="count">{{highlights.total_weight}}</span></h2>
                                    <span class="count_bottom text-muted">(lbs)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Highlights area -->

    <div class="data-table-area">
        <div class="container">
            <!--Start Tables Area-->
            <div class="row mg-tb-40">
                <!--Start Fruit Table-->
                <div class="col-xs-12 col-md-6">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h3>{% trans "Total per Fruit" %}</h3>
                        </div>
                        <div class="table-responsive">
                            <div id="DataTables_Table_fruit_wrapper" class="dataTables_wrapper">
                                <table
                                id="fruit-table"
                                class="table table-striped dataTable display"
                                role="grid"
                                aria-describedby="data-table-basic_info"
                                >
                                    <thead>
                                        <tr role="row">
                                            <th>Fruit</th>
                                            <th>Harvests</th>
                                            <th>Weight (lb)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fruit_name,total_harvests, total_weight in total_fruit %}
                                            <tr role="row">
                                                <td>{{fruit_name_en}} {{fruit_icon}}</td>
                                                <td>{{total_harvests}}</td>
                                                <td>{{total_weight}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Fruit Table-->
                <!--Start Borough Table-->
                <div class="col-xs-12 col-md-6">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h3>{% trans "Total per Borough" %}</h3>
                        </div>
                        <div class="table-responsive">
                            <div id="DataTables_Table_neighborhood_wrapper" class="dataTables_wrapper">
                                <table
                                id="neighborhood-table"
                                class="table table-striped dataTable display"
                                role="grid"
                                aria-describedby="data-table-basic_info"
                                >
                                    <thead>
                                        <tr role="row">
                                            <th>Borough</th>
                                            <th>Harvests</th>
                                            <th>Weight (lb)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for neighborhood,total_harvests, total_weight in total_neighborhood %}
                                            <tr role="row">
                                                <td>{{neighborhood}}</td>
                                                <td>{{total_harvests}}</td>
                                                <td>{{total_weight}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Borough Table-->
            </div>

            <div class="row mg-tb-40">
                <!--Start Beneficiary Table-->
                <div class="col-xs-12 col-md-6">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h3>{% trans "Total per Beneficiary" %}</h3>
                        </div>
                        <div class="table-responsive">
                            <div id="DataTables_Table_beneficiary_wrapper" class="dataTables_wrapper">
                                <table
                                id="beneficiary-table"
                                class="table table-striped dataTable display"
                                role="grid"
                                aria-describedby="data-table-basic_info"
                                >
                                    <thead>
                                        <tr role="row">
                                            <th>Beneficiary</th>
                                            <th>Harvests</th>
                                            <th>Weight (lb)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for beneficiary,total_harvests, total_weight in total_beneficiary %}
                                            <tr role="row">
                                                <td>{{beneficiary}}</td>
                                                <td>{{total_harvests}}</td>
                                                <td>{{total_weight}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Beneficiary Table-->
                <!--Start Picker Table-->
                <div class="col-xs-12 col-md-6">
                    <div class="data-table-list">
                        <div class="basic-tb-hd">
                            <h3>{% trans "Total per Picker" %}</h3>
                        </div>
                        <div class="table-responsive">
                            <div id="DataTables_Table_picker_wrapper" class="dataTables_wrapper">
                                <table
                                id="picker-table"
                                class="table table-striped dataTable display"
                                role="grid"
                                aria-describedby="data-table-basic_info"
                                >
                                    <thead>
                                        <tr role="row">
                                            <th>Picker</th>
                                            <th>Leader</th>
                                            <th>RFP</th>
                                            <th>Accepted</th>
                                            <th>Recipient</th>
                                            <th>Weight (lb)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for picker,total_harvests_leader,total_harvests_rfp,total_harvests_is_accepted,total_harvests_recipient,total_weight in total_picker %}
                                            <tr role="row">
                                                <td>{{picker}}</td>
                                                <td>{{total_harvests_leader}}</td>
                                                <td>{{total_harvests_rfp}}</td>
                                                <td>{{total_harvests_is_accepted}}</td>
                                                <td>{{total_harvests_recipient}}</td>
                                                <td>{{total_weight}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Picker Table-->
            </div>




            <!--End Tables Area-->
        </div>

    </div>

{% endblock content %}
