{% extends 'app/base/view.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- centering -->
    <div style="display: flex; flex-flow: column; align-items: center;">
        <!-- column sizing -->
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <!-- content header -->
            <div class="wb-traffic-inner" style="margin-bottom: 1rem;">
                <div class="breadcomb-icon">
                    <i class="notika-icon notika-cloud"></i>
                </div>
                <div class="breadcomb-ctn">
                    <h1>{{ content.title }}</h1>
                    {% if content.subtitle != '' %}<h2>{{ content.subtitle }}</h2>{% endif %}
                </div>
            </div>
            <!-- content body -->
            <div class="wb-traffic-inner"
                 style="display: flex;
                        flex-direction: column;
                        gap: 2em">
                <div class="website-traffic-ctn">{{ content.body.html | safe }}</div>
                <!-- action buttons -->
                <div class="terms-buttons" style="display: flex; gap: 1em">
                    <div class="breadcomb-wp">
                        <a href="{% url 'onboarding-person-update' user.person.pk %}"
                           class="btn btn-success notika-btn-success">Agree</a>
                    </div>
                    <div class="breadcomb-wp">
                        <a href="{% url "logout" %}" class="btn btn-default notika-btn-default">Disagree</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
