{% extends 'app/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

{{ form.media }}

<div class="form-example-area">
    <div class="container">
        <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-example-wrap">
                        <div class="cmp-tb-hd">
                            <h2>Harvest distribution</h2>
                        </div>
                        <div class="form-example-int">
                            <div class="form-group">
                                  <form method="post">
                                      {% csrf_token %}
                                      <input type="hidden" id="id_harvest" name="harvest" value="{{ request.GET.h }}">
                                      {{ form.recipient|as_crispy_field }}
                                      {{ form.tree|as_crispy_field }}
                                      {{ form.total_in_lb|as_crispy_field }}
                                      <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
</div>

{% endblock content %}
