{% extends 'app/base/login.html' %}
{% load i18n %}
{% load static %}
{% block body %}
{% include 'app/base/header.html' %}

    <!-- Menu -->
    {% block menu %}
        <!-- menu -->
    {% endblock menu %}

    <!-- Notifications -->
    {% block message %}
    {% if messages %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% for message in messages %}
                <div class="text-center alert alert-{{ message.tags }}" role="alert">{{ message|safe }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock message %}

    <!-- Content -->
    <div class="main-content">
    {% block content %}
        <!-- content -->
    {% endblock content %}
    </div>
    
    {% block footer %}
    {% include 'app/base/footer.html' %}
    {% endblock footer %}
    <!-- on main branch they deleted the footer? -->

    <!-- Javascript (2/2) -->
    {% include 'app/base/scripts.html' %}
{% endblock body %}
