{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% block title %}Les Fruits Défendus{% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon"
              type="image/x-icon"
              href="{% static 'img/favicon.ico' %}">
        <!-- CSS -->
        {% include 'app/base/styles.html' %}
        {% block style %}
            <!-- per-template styles -->
        {% endblock style %}

        <!-- Javascript (1/3) -->
        <!-- jQuery is loaded in the head for django autocomplete
	     ============================================ -->
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>
