{% load static %}
{% load i18n %}
<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-xs-12">
                <div class="logo-area">
                    {% include 'app/base/logo.html' %}
                </div>
            </div>
            <div class="col-md-7 col-xs-12">
                <div class="header-top-menu">
                    {% include 'app/base/navbar.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
