{% load static %}
{% load i18n %}

<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <a href="/"><img src="{% static 'img/logo.png' %}" alt="Les Fruits Defendus - Saskatoon" /></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <h2 style="color:white">Les Fruits Défendus</h2>
                    <p style="color:white"><i>Collectif montréalais de cueillette urbaine de fruits</i></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="header-top-menu">
                    <ul class="nav navbar-nav notika-top-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <span class="menu-it-icon-pro">
                                        <span class="h5">{{ user }}</span>
                                    <i class="notika-icon notika-support"></i>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/admin/password_change/">{% translate "Change password" %}</a></li>
                                    <li><a href={% url "logout" %}>{% translate "Logout" %}</a></li>
                                </ul>
                            </li>
                            {% if user.is_staff %}
                                <li class="nav-item dropdown">
                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                        <span><i class="notika-icon notika-app"></i></span></a>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/admin/member/authuser/add/">{% translate "Add user" %}</a></li>
                                        <li><a href="/admin/member/authuser/">{% translate "Manage user" %}</a></li>
                                        <li><a href="/admin/member/organization/">{% translate "Manage beneficiary" %}</a></li>
                                        <li><a href="/admin/">{% translate "Full admin" %}</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        {% else %}
                            <li>
                                <a href='/login'>
                                    <i class="notika-icon notika-support"></i>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                <span class="menu-it-icon-pro h5">{% translate "Language" %}: {{ LANGUAGE_CODE }} <i class="fa fa-caret-down"></i></span>
                                <form action="{% url 'set_language' %}" method="post" style="display: none" id="change_language_form">
                                    {% csrf_token %}
                                    <input type="hidden" value="" name="language" id="language" />
                                </form>
                            </a>

                            <ul class="dropdown-menu">
                            {% for language in languages %}
                                <li><a lang_code="{{ language.code }}" class="change_language">{{ language.name_local |title }} ({{ language.code }})</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
