{% load static %}
{% load i18n %}
{% load auth_users %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="logo-area">
                    {% include 'app/base/logo.html' %}
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="header-top-menu">
                    <ul class="nav navbar-nav notika-top-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a href="#"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-expanded="false"
                                   class="nav-link dropdown-toggle notika-icon-link">
                                        <i class="notika-icon notika-support"></i>
                                        {{ user }}
                                        <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'privacy_policy' %}">{% translate "Privacy policy" %}</a>
                                    </li>
                                    <li>
                                        <a href={% url "logout" %}>{% translate "Logout" %}</a>
                                    </li>
                                </ul>
                            </li>
                            {% if user.is_staff %}
                                <li class="nav-item dropdown">
                                    <a href="#"
                                       data-toggle="dropdown"
                                       role="button"
                                       aria-expanded="false"
                                       class="nav-link dropdown-toggle notika-icon-link"
                                    >
                                        <i class="notika-icon notika-app"></i> {% translate "Admin" %}
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% if perms.member.add_authuser %}
                                            <li>
                                                <a href="{% url 'person-create' %}">{% translate "Add user" %}</a>
                                            </li>
                                        {% endif %}
                                        {% if perms.member.change_authuser %}
                                            <li>
                                                <a href="{% url 'admin:member_authuser_changelist' %}">{% translate "Manage user" %}</a>
                                            </li>
                                        {% endif %}
                                        {% if perms.member.change_organization %}
                                            <li>
                                                <a href="{% url 'admin:member_organization_changelist' %}">{% translate "Manage beneficiary" %}</a>
                                            </li>
                                        {% endif %}
                                        {% if user|is_core_or_admin %}
                                            <li>
                                                <a href="{% url 'admin:index' %}">{% translate "Admin panel" %}</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'rosetta-old-home-redirect' %}">{% translate "Manage translations" %}</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% else %}
                            <li>
                                <a href='{% url 'login' %}'
                                   class="notika-icon-link"
                                >
                                    <i class="notika-icon notika-support"></i>
                                    {% translate 'login' %}
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="#"
                               data-toggle="dropdown"
                               role="button"
                               aria-expanded="false"
                               class="nav-link dropdown-toggle notika-icon-link"
                            >
                                {% translate "Language" %}: <b>{{ LANGUAGE_CODE }}</b>
                                <i class="fa fa-caret-down"></i>
                                <form action="{% url 'set_language' %}"
                                      method="post"
                                      style="display: none"
                                      id="change_language_form"
                                >
                                    {% csrf_token %}
                                    <input type="hidden" value="" name="language" id="language" />
                                </form>
                            </a>
                            <ul class="dropdown-menu">
                                {% for language in languages %}
                                    <li>
                                        <a lang_code="{{ language.code }}" class="change_language">
                                            {{ language.name_local|title }} ({{ language.code }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
