{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% block title %}Les Fruits Défendus{% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon"
              type="image/x-icon"
              href="{% static 'img/favicon.ico' %}">
        <!-- CSS -->
        {% include 'app/base/styles.html' %}
        <!-- Javascript (1/2) -->
        <!-- Modernizr
         ============================================ -->
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
        <!-- jquery in the head due to django autocomplete
	     ============================================ -->
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    </head>
    <!-- <body class="d-flex flex-column min-vh-100"> -->
    <body>
        {% block body %}
            <!-- content -->
        {% endblock body %}
    </body>

    <footer>
        {% block footer %}
        <span class="footer">
            <!-- footer -->
        </span>
        {% endblock footer %}
    </footer>
</html>
