{% load static %}
{% load i18n %}

<table>
<tr>
    <td>
        <a href="/">
            <img class="logo-img" src="{% static 'img/logo.png' %}" alt="Les Fruits Defendus - Saskatoon" />
        </a>
    </td>
    <td>
        <h3 class="logo-title"">Les Fruits Défendus</h3>
        <span class="logo-subtitle"">
            <!--Collectif montréalais de cueillette urbaine de fruits-->
            <i>{% translate "Montreal's urban fruit harvesting collective" %}</i>
        </span>
    </td>
</tr>
</table>
