{% load static %}
{% load i18n %}

<!-- MOBILE MENU-->
<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li class="{% if request.resolver_match.url_name == 'calendar' %}active{% endif %}">
                                <a href="{% url 'calendar' %}">{% translate "Calendar" %} </a>
                            </li>
                            <li class="{% if request.resolver_match.url_name == 'harvest-list' %}active{% endif %}">
                                <!--TODO <a href="{% url 'harvest-list' %}">{% translate "Harvests" %} </a> -->
                                <a href="{% url 'harvest-list' %}?season=2022">{% translate "Harvests" %} </a>
                            </li>
                            <li class="{% if request.resolver_match.url_name == 'property-list' %}active{% endif %}">
                                <!--TODO <a href="{% url 'community-list' %}">{% translate "Community" %}</a> -->
                                <a href="{% url 'property-list' %}?is_active=true">{% translate "Properties" %}</a>
                            </li>
                            <li class="{% if request.resolver_match.url_name == 'beneficiary-list' %}active{% endif %}">
                                <a href="{% url 'beneficiary-list' %}">{% translate "Beneficiaries" %}</a>
                            </li>
                            <li class="{% if request.resolver_match.url_name == 'community-list' %}active{% endif %}">
                                <!--TODO <a href="{% url 'community-list' %}">{% translate "Community" %}</a> -->
                                <a href="{% url 'community-list' %}?groups=3">{% translate "Community" %}</a>
                            </li>
                            <li class="{% if request.resolver_match.url_name == 'equipment-list' %}active{% endif %}">
                                <a href="{% url 'equipment-list' %}">{% translate "Equipment" %}</a>
                            </li>
                            <!-- <li class="{% if request.resolver_match.url_name == 'statistics' %}active{% endif %}">
                                 <a href="{% url 'statistics' %}">{% translate "Statistics" %}</a>
                                 </li> -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MAIN MENU-->
<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs tab-nav-center notika-menu-wrap menu-it-icon-pro">
                    <li class="{% if request.resolver_match.url_name == 'calendar' %}active{% endif %}">
                        <a href="{% url 'calendar' %}"><i class="fa fa-table"></i> {% translate "Calendar" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'harvest-list' %}active{% endif %}">
                        <!--TODO <a href="{% url 'harvest-list' %}"><i class="fa fa-shopping-basket"></i> {% translate "Harvests" %}</a> -->
                        <a href="{% url 'harvest-list' %}?season=2022"><i class="fa fa-shopping-basket"></i> {% translate "Harvests" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'property-list' %}active{% endif %}">
                        <!--TODO <a href="{% url 'property-list' %}"><i class="glyphicon glyphicon-tree-deciduous"></i> {% translate "Properties" %}</a> -->
                        <a href="{% url 'property-list' %}?is_active=true"><i class="glyphicon glyphicon-tree-deciduous"></i> {% translate "Properties" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'beneficiary-list' %}active{% endif %}">
                        <a href="{% url 'beneficiary-list' %}"><i class="fa fa-gift"></i> {% translate "Beneficiaries" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'community-list' %}active{% endif %}">
                        <!--TODO <a href="{% url 'community-list' %}"><i class="fa fa-users"></i> {% translate "Community" %}</a> -->
                        <a href="{% url 'community-list' %}?groups=3"><i class="fa fa-users"></i> {% translate "Community" %}</a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'equipment-list' %}active{% endif %}">
                        <a href="{% url 'equipment-list' %}"><i class="fa fa-scissors"></i> {% translate "Equipment" %}</a>
                    </li>
                    <!-- <li class="{% if request.resolver_match.url_name == 'statistics' %}active{% endif %}">
                         <a href="{% url 'statistics' %}"><i class="fa fa-bar-chart fa-fw"></i> {% translate "Statistics" %}</a>
                         </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
