{% load static %}
<!-- Modernizr
    ============================================ -->
<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="{% static 'js/vendor/bootstrap-3.4.1/bootstrap.min.js' %}"></script>
<!-- wow JS
    ============================================ -->
<script src="{% static 'js/vendor/wow/wow.min.js' %}"></script>
<!-- price-slider JS
    ============================================ -->
<script src="{% static 'js/vendor/price-slider/jquery-price-slider.js' %}"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="{% static 'js/vendor/owl/owl.carousel.min.js' %}"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="{% static 'js/vendor/scrollup/jquery.scrollUp.min.js' %}"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="{% static 'js/vendor/meanmenu/jquery.meanmenu.js' %}"></script>
<!-- counterup JS
    ============================================ -->
<script src="{% static 'js/vendor/counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/vendor/counterup/waypoints.min.js' %}"></script>
<script src="{% static 'js/vendor/counterup/counterup-active.js' %}"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="{% static 'js/vendor/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<!-- jvectormap JS
    ============================================ -->
<script src="{% static 'js/vendor/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'js/vendor/jvectormap/jvectormap-active.js' %}"></script>
<!-- sparkline JS
    ============================================ -->
<script src="{% static 'js/vendor/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'js/vendor/sparkline/sparkline-active.js' %}"></script>
<!-- flot JS
    ============================================ -->
<script src="{% static 'js/vendor/flot/jquery.flot.js' %}"></script>
<script src="{% static 'js/vendor/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'js/vendor/flot/curvedLines.js' %}"></script>
<script src="{% static 'js/vendor/flot/flot-active.js' %}"></script>
<!-- knob JS
    ============================================ -->
<script src="{% static 'js/vendor/knob/jquery.knob.js' %}"></script>
<script src="{% static 'js/vendor/knob/jquery.appear.js' %}"></script>
<script src="{% static 'js/vendor/knob/knob-active.js' %}"></script>
<!--  wave JS
    ============================================ -->
<script src="{% static 'js/vendor/wave/waves.min.js' %}"></script>
<script src="{% static 'js/vendor/wave/wave-active.js' %}"></script>
<!--  todo JS
    ============================================ -->
<script src="{% static 'js/vendor/todo/jquery.todo.js' %}"></script>
<!-- plugins JS
    ============================================ -->
<script src="{% static 'js/vendor/plugins.js' %}"></script>
<!-- config JS
    ============================================ -->
<script src="{% static 'js/vendor/config.js' %}"></script>
<!--  Chat JS
    ============================================ -->
<script src="{% static 'js/vendor/chat/moment.min.js' %}"></script>
<script src="{% static 'js/vendor/chat/jquery.chat.js' %}"></script>
<!-- icheck JS
    ============================================ -->
<script src="{% static 'js/vendor/icheck/icheck.min.js' %}"></script>
<script src="{% static 'js/vendor/icheck/icheck-active.js' %}"></script>
<!-- Login JS
    ============================================ -->
<script src="{% static 'js/vendor/login/login-action.js' %}"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="{% static 'js/vendor/django_select2/django_select2.js' %}"></script>
<!-- FullCalendar JS
============================================ -->
<script src="{% static 'js/vendor/moment/min/moment.min.js' %}"></script>
<script src="{% static 'js/vendor/fullcalendar/lib/main.min.js' %}"></script>
<!-- DatePicker JS
     ============================================ -->
<script src="{% static 'js/vendor/datetimepicker/jquery.datetimepicker.full.min.js' %}"></script>

<!-- Language Code Selection
     ============================================ -->
<script src="{%static 'js/language-selection.js' %}"></script>

