{% load static %}

<!-- Google Fonts
     ============================================ -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900">
<!-- Bootstrap CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/bootstrap-3.4.1/bootstrap.min.css' %}">
<!-- Awesome Fonts
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/fontawesome/font-awesome.min.css' %}">
<!-- owl.carousel CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/owl/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/owl/owl.theme.css' %}">
<link rel="stylesheet" href="{% static 'css/owl/owl.transitions.css' %}">
<!-- meanmenu CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/meanmenu/meanmenu.min.css' %}">
<!-- animate CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/animate/animate.css' %}">
<!-- normalize CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/normalize/normalize.css' %}">
<!-- mCustomScrollbar CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
<!-- jvectormap CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/jvectormap/jquery-jvectormap-2.0.3.css' %}">
<!-- notika icon CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/notika/notika-custom-icon.css' %}">
<!-- wave CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/wave/waves.min.css' %}">
<link rel="stylesheet" href="{% static 'css/wave/button.css' %}">
<!-- main CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<!-- style CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- responsive CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/responsive/responsive.css' %}">
<!-- Data Table CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/data-table/jquery.dataTables.min.css' %}">
<!-- FullCalendar CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'js/fullcalendar/lib/main.min.css' %}">
<!-- DatePicker CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/datetimepicker/jquery.datetimepicker.min.css' %}">
<!-- Django Autocomplete Light CSS
     ============================================ -->
<link rel="stylesheet" href="{% static 'css/dal/autocomplete_light.css' %}">
