{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load static %}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Saskatoon - Les Fruits Défendus{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- CSS -->
    {% include 'app/base/styles.html' %}

    <!-- Javascript (1/2) -->
    <!-- Modernizr
         ============================================ -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- jquery in the head due to django autocomplete
	     ============================================ -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>

</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {% include 'app/base/header.html' %}

    <!-- Menu -->
    {% if user.is_authenticated %}
        {% include 'app/base/menu.html' %}
    {% endif %}

    {% block message %}
        {% if messages %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {% for message in messages %}
                    <div class="text-center alert alert-{{message.tags}}" role="alert">{{ message|safe }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endblock message %}

    <!-- Content -->
    {% block content %}
    <!-- {{ content }} -->
    {% endblock content %}


    <!-- Footer-->
    <div class="navbar-static-bottom footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p><a href="https://github.com/LesFruitsDefendus/saskatoon-ng">Saskatoon</a> {% translate "is a Free/Libre Software developed by the collective " %}<a href="http://www.lesfruitsdefendus.org">Les Fruits Défendus.</a> {% translate "Template by" %} <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript (2/2) -->
    {% include 'app/base/scripts.html' %}
</body>

</html>
