{% load i18n %}
{% load static %}

<section class="detail-section-card">
    <header>
        <h2>{% trans "Comments" %}</h2>
    </header>
    <div class="card-box mg-t-30">
        <div class="chat-conversation">
            {% include 'app/detail_views/comment/comment_form.html' %}
            <div class="comment-scrollbar" id="commentScrollbar">
                <div class="comments-wrapper">
                    {% for comment in comments %}
                        <div id="comment-row-{{ comment.id }}" class="comment-card">
                            <div class="comment-author-meta">
                                <div class="author-name">{{ comment.author.name }}</div>
                                <div class="author-details">
                                    {{ comment.author.email }}<br>
                                    {% if comment.date_updated %}
                                        {{ comment.date_updated }} ({% trans "edited" %})
                                    {% else %}
                                        {{ comment.date_created }}
                                    {% endif %}
                                </div>
                            </div>
                            {% include 'app/detail_views/comment/comment_content.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button type="button" class="btn-scroll-older hidden" id="scrollOlderBtn" aria-label="Scroll to older comments">
                <span>{% trans "Older comments" %}</span>
                <i class="notika-icon notika-down-arrow"></i>
            </button>
        </div>
    </div>
</section>
