#map {
  height: 36rem;
}

.map_popup {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }

  .map_header {
    .map_headerSubTitle {
      display: flex;
      justify-content: space-between;
    }
  }

  .map_harvestsList {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    /* width: 100%; */
    min-width: 240px;
  }

  .map_harvestItem {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;

    border: solid 1px navy;
    border-radius: 0.5rem;

    background-color: var(--color-background);
    color: black;

    max-height: 360px;
    overflow: scroll;

    > :not(:last-child) {
      border-right: solid 1px;
    }

    .map_harvestItem_id {
      flex-basis: 5ch;
    }

    .map_harvestItem_date {
      flex-basis: 11ch;
    }

    .map_harvestItem_status {
      flex: 1 0;
    }
  }

  .map_harvestItem:hover {
    font-weight: bold;
  }
}
