.leaflet-container {
	max-height: 100vh;

	a.leaflet-popup-close-button {
		top: 12px;
	}


.leaflet-popup-content {
	max-height: 40vh;
	overflow: auto;
	padding-right: 0.5em;
	width: 25vw !important;
	min-width: 300px;
}

}

leaflet-marker {
	display: none;
}

.saskatoon-map-div-icon {
	text-align: center;
	line-height: 20px;
}

.saskatoon-map-second-icon {
	margin-left: -2px;
}

.saskatoon-map-success {
	color: #440bd4;
}

.saskatoon-map-danger {
	color: #c01c28;
}
