{% load i18n %}
{% load static %}
{% load get_fruit_name_icon %}
<div class="search-engine-int">
    <div class="contact-hd search-hd-eg">
        <h2>{% translate 'About' %}</h2>
        <hr>
    </div>
    <div>
        <h4>{% translate 'Address' %}</h4>
        <p>{{ beneficiary.address }}</p>
        <p>{{ beneficiary.neighborhood.name }}</p>
    </div>
    <br>
    <div>
        <h4>{% translate 'Description' %}</h4>
        <p>{{ beneficiary.description }}</p>
        <br>
    </div>
</div>
