name: Tests

on:
  push:
    branches: [ main, dev, prod ]
  pull_request:
    branches: [ main, dev, prod ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Use Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: Install tox
      run: |
        python -m pip install --upgrade pip tox

    - name: Log system information
      run: |
        test -r /etc/os-release && sh -c '. /etc/os-release && echo "OS: $PRETTY_NAME"'
        python --version
        python -c "print('\nENVIRONMENT VARIABLES\n=====================\n')"
        python -c "import os; [print(f'{k}={v}') for k, v in os.environ.items()]"

    - name: Create env file
      run: |
        saskatoon/tests/newenvfile.py ./sqlite3-testing.db --virtual --admin-pass testing1234 --admin-email admin@example.com > saskatoon/.env

    - name: Install Saskatoon
      run: |
        pip install '.[test]'

    - name: Check translations
      run: |
        sudo apt install gettext
        bash scripts/check_translations.sh || (echo "Translations files are not up to date. Please run 'make translations'"; exit 1)

    - name: Check migrations
      run: |
        bash scripts/check_migrations.sh || (echo "Migration files are not up to date. Please run 'make migrations'"; exit 1)

    - name: Apply migrations
      run: |
        saskatoon/manage.py migrate --skip-checks

    - name: Load initial fixtures
      run: |
        saskatoon/fixtures/init

    - name: Run Django checks
      run: |
        tox -e checks

    - name: Run unit tests
      run: |
        tox -e unittests

    - name: Create test super user
      run: |
        python3 saskatoon/tests/createtestsuperuser.py admin@example.com testing1234

    - name: Prepare Selenium
      # https://github.com/marketplace/actions/setup-chromedriver
      uses: nanasess/setup-chromedriver@e93e57b843c0c92788f22483f1a31af8ee48db25

    - name: Start XVFB
      run: Xvfb :99 &

    - name: Run tests
      run: saskatoon/tests/runtests.sh
      env:
        DISPLAY: :99
